@CHARSET "UTF-8";

/* mobile menu open buttons */
.dj-megamenu-select-my .dj-mobile-open-btn,
.dj-megamenu-offcanvas-my .dj-mobile-open-btn,
.dj-megamenu-accordion-my .dj-mobile-open-btn {
	display: inline-block;
	cursor: pointer;
    margin: 0 auto;
    width: auto;
	height: auto;
	line-height: 1;
	padding: 3px 8px;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 3.2rem;
	-webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.dj-megamenu-select-my .dj-mobile-open-btn span + span,
.dj-megamenu-offcanvas-my .dj-mobile-open-btn span + span,
.dj-megamenu-accordion-my .dj-mobile-open-btn span + span {
	margin-left: 12px;
}
.dj-megamenu-select-my .dj-mobile-open-btn:focus,
.dj-megamenu-select-my:hover .dj-mobile-open-btn,
.dj-megamenu-offcanvas-my .dj-mobile-open-btn:hover,
.dj-megamenu-offcanvas-my .dj-mobile-open-btn:focus,
.dj-megamenu-accordion-my .dj-mobile-open-btn:hover,
.dj-megamenu-accordion-my .dj-mobile-open-btn:focus {
	background: #f63381;
	color: #fff;
	text-decoration: none;
	outline: none;
}

/* select menu general styles */
.dj-megamenu-select-my.select-input select {
	margin:10px;
	padding:5px;
	max-width:95%;
	height:auto;
	font-size:1.5em;
	color: #434343;
}
.dj-megamenu-select-my.select-input .dj-mobile-open-btn {
	display: none !important;
}
.dj-megamenu-select-my.select-button {
	display: inline-block;
	position: relative;
	margin: 0 auto;
    width: auto;
	overflow: hidden;
}
.dj-megamenu-select-my.select-button select {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
    border: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: auto;
    max-width: 9999px;
    outline: none;
    text-indent: 9999px;
    font-size:1.5em;
    color: #434343;
    box-shadow: none;
}

/* offcanvas menu general styles */
.dj-offcanvas-my {
	background: #000;
	color: #aeaeae;
}
.dj-offcanvas-my .dj-offcanvas-top {
	text-align: right;
}
.dj-offcanvas-my .dj-offcanvas-close-btn {
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	color: #f8f8f8;
	cursor: pointer;
	padding: 10px 12px;
}
.dj-offcanvas-my .dj-offcanvas-logo {
	padding: 15px;
	text-align: center;
}
.dj-offcanvas-my .dj-offcanvas-logo img {
	max-width: 100%;
}
.dj-offcanvas-my .dj-offcanvas-content {
	padding: 0 15px 15px;
}
.dj-offcanvas-modules {
	padding: 15px;
}

/* accordion menu general styles */
.dj-megamenu-accordion-my {
	position: relative;
	text-align: center;
}
.dj-megamenu-accordion-my.dj-align-left {
	text-align: left;
}
.dj-megamenu-accordion-my.dj-align-right {
	text-align: right;
}
.dj-pos-absolute .dj-accordion-my {
	position: absolute;
	top: 42px;	
	z-index: 999;
}
.dj-pos-absolute.dj-align-left .dj-accordion-my {
	left: 0;
} 
.dj-pos-absolute.dj-align-right .dj-accordion-my {
	right: 0;
}
.dj-pos-absolute.dj-align-center .dj-accordion-my {
	left: 50%;
	margin-left: -150px;
}
.dj-pos-absolute .dj-accordion-my .dj-accordion-in {
	width: 300px;
}
.dj-accordion-my .dj-accordion-in {
	display: none;
	margin: 10px 0;
	padding: 0 15px;
	background: #393939;
	color: #aeaeae;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* offcanvas and accordion menu */
ul.dj-mobile-my {
	margin: 0 -15px;
	padding: 0;
	text-align: left;
	font-family:'Conv_Gilroy-Regular',Sans-Serif;
}
ul.dj-mobile-my li.dj-mobileitem {
	list-style: none outside;
	position: relative;
	margin: 0;
	padding: 0;
	background: none;
}
ul.dj-mobile-my li.dj-mobileitem > a {
	display: block;
	line-height: 1;
    color: #fff;
    text-decoration: none;
    padding: 20px 15px;
    cursor: pointer;
    border-top: 1px solid #434343;
    -webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
ul.dj-mobile-my li.dj-mobileitem:hover > a,
ul.dj-mobile-my li.dj-mobileitem.active > a {
	background: #f63381;
}

ul.dj-mobile-my li.dj-mobileitem > a .subtitle {
	font-size: 0.85em;
	color: #888;
}
ul.dj-mobile-my li.dj-mobileitem > a img,
ul.dj-mobile-my li.dj-mobileitem > a i {
	vertical-align: middle;
	margin: 0 10px 0 0;
}
ul.dj-mobile-my li.dj-mobileitem > a.withsubtitle img,
ul.dj-mobile-my li.dj-mobileitem > a.withsubtitle i {
	float: left;
}
ul.dj-mobile-my li.dj-mobileitem > a span.image-title {
	margin-left: 1rem;
}

ul.dj-mobile-my li.dj-mobileitem.parent > a {
	padding-right: 35px;
}
ul.dj-mobile-my li.dj-mobileitem.parent > a span.toggler {
	display: inline-block;
    font-family: FontAwesome;
	position: absolute;
	right: 0;
	top: 5px;
	padding: 16px 20px; /* make the button a little bigger */
	font-size: 12px;
	line-height: 14px;
	font-style: normal;
	font-weight: normal;
}
ul.dj-mobile-my li.dj-mobileitem.parent > a span.toggler::before {
	content: "";
}
ul.dj-mobile-my li.dj-mobileitem.parent.active > a span.toggler::before {
	content: "";
}

ul.dj-mobile-my li.dj-mobileitem > ul {
	display: block;
	max-height: 0px;
	overflow: -webkit-paged-x;
	margin: 0;
	padding: 0;
	width:100%;
	background:#000;
}
ul.dj-mobile-my li.dj-mobileitem.active > ul {
	max-height: 1000px;
	-webkit-transition: max-height 0.3s ease-in;
	transition: max-height 0.3s ease-in;
}

/* 2nd level */
ul.dj-mobile-my ul li.dj-mobileitem > a {
	color: #fff;
    background: #000;
    border-top: 1px solid #393939;
    padding-left: 30px;
}
ul.dj-mobile-my ul li.dj-mobileitem:hover > a,
ul.dj-mobile-my ul li.dj-mobileitem.active > a {
	color: #fff;
	background: #000;
}
ul.dj-mobile-my ul li.dj-mobileitem.parent > a span.toggler {
	font-size: 11px;
}

/* 3rd level */
ul.dj-mobile-my ul ul li.dj-mobileitem > a {
    background: #2e2e2e;
    border-top: 1px solid #353535;
    padding-left: 45px;
}
ul.dj-mobile-my ul ul li.dj-mobileitem:hover > a,
ul.dj-mobile-my ul ul li.dj-mobileitem.active > a {
	background: #292929;
}

/* 4th level */
ul.dj-mobile-my ul ul ul li.dj-mobileitem > a {
    background: #292929;
    border-top: 1px solid #2e2e2e;
    padding-left: 60px;
}
ul.dj-mobile-my ul ul ul li.dj-mobileitem:hover > a,
ul.dj-mobile-my ul ul ul li.dj-mobileitem.active > a {
	background: #232323;
}

/* 5th level */
ul.dj-mobile-my ul ul ul ul li.dj-mobileitem > a {
	background: #232323;
}

/* mobile modules */
ul.dj-mobile-my .modules-wrap {
	padding: 5px 15px;
}
.dj-mobile-nav-child{
	font-size:1.6rem;
}