
/* DJ-MegaMenu general styles */
.dj-megamenu-my {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none;
    height: auto;
    position: relative;
    z-index: 500;
    font-family:'Conv_Gilroy-Regular',Sans-Serif;
    width: auto;
    background: inherit;
}
.dj-megamenu-my:after {
    content: "";
    clear: both;
    display: table;
}
.dj-megamenu-my li.dj-up {
	position: relative;
    display: block;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
}
.dj-megamenu-my li a.dj-up_a {
    display: block;
    float: left;
    height: 60px;
    font-size: 16px;
    text-decoration: none;
    padding: 0 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.dj-megamenu-my li a.dj-up_a span {
    float: left;
    display: block;
    padding: 0 0 0 !important;
    height: 60px;
    line-height: 60px;
    background: transparent;
}
.dj-megamenu-my li a.dj-up_a.withsubtitle span {
	line-height: 48px;
}
.dj-megamenu-my li a.dj-up_a span.dj-drop {
    padding: 0 20px 0 0 !important;
}
.dj-megamenu-my li a.dj-up_a .arrow {
	display: inline-block;
    font-family: FontAwesome;
	position: absolute;
	right: 16px;
	top: calc(50% - 6px);
	font-size: 1em;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.dj-megamenu-my li a.dj-up_a .arrow:before {
	content: "\f107";
}
.dj-megamenu-my li:hover a.dj-up_a .arrow,
.dj-megamenu-my li.hover a.dj-up_a .arrow,
.dj-megamenu-my li.active a.dj-up_a .arrow {
	top: calc(50% - 4px);
}
.dj-megamenu-my li a.dj-up_a small.subtitle {
	display: block;
    font-size: 12px;
    font-weight: normal; 
    line-height: 1;
    text-transform: none;
    color: #999999;
    margin-top: -12px;
}
.dj-megamenu-my li:hover a.dj-up_a,
.dj-megamenu-my li.hover a.dj-up_a, 
.dj-megamenu-my li.active a.dj-up_a {
    background: rgba(0, 0, 0, 1);
    color: rgba(246, 51, 129, 1);
    border-right-color: rgba( 0,  0,  0, 1);
    border-left-color: rgba( 0,  0,  0, 1);
    
	border-bottom: solid;
    
}
.dj-megamenu-my li:hover a.dj-up_a small.subtitle,
.dj-megamenu-my li.hover a.dj-up_a small.subtitle, 
.dj-megamenu-my li.active a.dj-up_a small.subtitle {
	color: #a4c4f5;
}

.dj-megamenu-my li.separator > a, .dj-megamenu-my li > a.separator{
    cursor: default;
	font-family:'Conv_Gilroy-Semibold',Sans-Serif;
	font-size: 17px;
}

.dj-megamenu-my li a.dj-up_a span span.image-title {
	background: none;
	padding: 0 !important;
	margin: 0 0 0 15px;
	display: inline-block;
	float: none;
	height: auto;
}
.dj-megamenu-my li a.dj-up_a img {
	border: 0;
	margin: 0;
	max-height: 32px;
	vertical-align: middle;
}
.dj-megamenu-my li a.dj-up_a.withsubtitle img {
	margin-top: -24px;
}
/* Default list styling */
.dj-megamenu-my li:hover,
.dj-megamenu-my li.hover {
    position: relative;
    z-index: 200;
}
/* Hide submenus */

.dj-megamenu-my li div.dj-subwrap, .dj-megamenu-my li:hover div.dj-subwrap li div.dj-subwrap,
.dj-megamenu-my li.hover div.dj-subwrap li div.dj-subwrap {
    position: absolute;
    left: -9999px;
    top: -9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 3rem 0;
}
/* Show first level submenu */
.dj-megamenu-my li:hover div.dj-subwrap,
.dj-megamenu-my li.hover div.dj-subwrap {
	left: 0;
    top: 100%;
    background: rgba(255, 255, 255, 1);
    height: auto;
    z-index: 300;
    -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
/* Show higher level submenus */
.dj-megamenu-my li:hover div.dj-subwrap li:hover > div.dj-subwrap,
.dj-megamenu-my li.hover div.dj-subwrap li.hover > div.dj-subwrap {
    left: 100%;
    top: 5px;
    margin: 0 0 0 10px;
    background: rgba(255, 255, 255, 1);
    height: auto;
    z-index: 400;
    -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Submenu elements styles - drop down */
.dj-megamenu-my li div.dj-subcol {
	float: left;
}
.dj-megamenu-my li ul.dj-submenu {	
    padding: 0px;
    margin: 0 10px;
    height: auto;
    width: auto;
}
.dj-megamenu-my li ul.dj-submenu > li {
	list-style: none outside;
    display: block;
    height: auto;
    position: relative;
    width: auto;
    border-top: 1px solid rgba( 255,  255,  255, 1);
}
.dj-megamenu-my li ul.dj-submenu > li.first {
	border: 0;
}
.dj-megamenu-my li ul.dj-submenu > li > a {
    display: block;
    font-weight: normal;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
    /*background: rgba(255, 255, 255, 1);*/
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 -10px;
    -webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.dj-megamenu-my li ul.dj-submenu > li > a span.image-title {
}
.dj-megamenu-my li ul.dj-submenu > li > a .dj-icon {
	float: left;
	border: 0;
	margin: 0 15px 8px 0;
	vertical-align: middle;
	max-height: 16px;
	color:#f63381;
}
.dj-megamenu-my li ul.dj-submenu > li > a small.subtitle {
	color: #666666;
    display: block;
    font-size: 10px;
    line-height: 1;
}
.dj-megamenu-my li ul.dj-submenu > li > a:hover,
.dj-megamenu-my li ul.dj-submenu > li > a.active,
.dj-megamenu-my li ul.dj-submenu > li.hover:not(.subtree) > a {
	background: inherit;
	color:#f63381;
	text-decoration:underline;
}
.dj-megamenu-my li ul.dj-submenu > li > a:hover small.subtitle,
.dj-megamenu-my li ul.dj-submenu > li > a.active small.subtitle,
.dj-megamenu-my li ul.dj-submenu > li.hover:not(.subtree) > a small.subtitle {
	color: #a4c4f5;
}
.dj-megamenu-my li ul.dj-submenu > li.parent > a .arrow {
    display: inline-block;
    font-family: FontAwesome;
	position: absolute;
	right: 6px;
	top: 13px;
	font-size: 1em;
	line-height: 1;
	font-style: normal;
	font-weight: normal;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.dj-megamenu-my li ul.dj-submenu > li.parent > a .arrow:before {
	content: "\f105";
}
.dj-megamenu-my li ul.dj-submenu > li.parent:not(.subtree) > a:hover .arrow {
	right: 4px;
}
.dj-megamenu-my li ul.dj-submenu > li.subtree > a .arrow:before {
	content: "\f107";
}

/* Submenu elements styles - tree */
.dj-megamenu-my li ul.dj-subtree {
	list-style: none outside;
	padding: 0 !important;
    margin: 5px 0 5px 25px !important;
}
.dj-megamenu-my li ul.dj-subtree > li {
	list-style: square outside;
	padding: 0;
    margin: 0;
    color: #666666;
}
.dj-megamenu-my li ul.dj-subtree > li > a {
	display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
    color: rgba(0, 0, 0, 1);
    background: transparent;
    text-decoration: none;
    padding: 5px 0;
}
.dj-megamenu-my li ul.dj-subtree > li > a:hover {
	color: rgba(0, 0, 0, 1);
}
.dj-megamenu-my li ul.dj-subtree > li.active > a {
	text-decoration: underline;
}
.dj-megamenu-my li ul.dj-subtree > li > a small.subtitle {
	color: #666666;
    display: block;
    font-size: 0.9em;
    line-height: 1;
}
.dj-megamenu-my li ul.dj-subtree > li > a:hover small.subtitle {
    color: #a4c4f5;
}

/* modules loaded into menu */
.dj-megamenu-my .modules-wrap {
	padding: 0px 10px;
	color: rgba(0, 0, 0, 1);
}
.dj-megamenu-my .modules-wrap p {
	display: block !important;
	padding: 0 !important;
}

/* sticky menu */
.dj-megamenu-my.dj-megamenu-fixed {
	position: fixed;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0);
}
.dj-megamenu-my.dj-megamenu-sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.dj-megamenu-my .dj-stickylogo {
	position: absolute;
	z-index: 550;
}
.dj-megamenu-my .dj-stickylogo img {
	max-height: 100%;
	width: auto;
}
.dj-megamenu-my .dj-stickylogo.dj-align-center {
	position: static;
	text-align: center;
	margin: 10px 0;
}
.dj-megamenu-my .dj-stickylogo.dj-align-left {
	left: 20px;
	max-height: 50px;
	margin: 5px 0;
}
.dj-megamenu-my .dj-stickylogo.dj-align-right {
	right: 20px;
	max-height: 50px;
	margin: 5px 0;
}

/* full width submenu */
.dj-megamenu-my li.dj-up.fullsub {
	position: static !important;
}
.dj-megamenu-my li.dj-up.fullsub a.dj-up_a {
	position: relative;
}
.dj-megamenu-my .djsubrow_separator {
	clear:both;
	border-bottom: 1px solid rgba( 255,  255,  255, 1);
	padding: 0 0 20px;
	margin: 0 0 20px;
}

/* vertical menu orientation */
.dj-megamenu-my.verticalMenu {
	height: auto;
	max-width: 360px;
	z-index: 400;
}
.dj-megamenu-my.verticalMenu li.dj-up {
	float: none;
}
.dj-megamenu-my.verticalMenu li a.dj-up_a {
    float: none;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgba( 67,  67,  67, 1);
    border-top: 1px solid rgba( 44,  44,  44, 1);
}
.dj-megamenu-my.verticalMenu li.first a.dj-up_a {
	border-top: 0;
}
.dj-megamenu-my.verticalMenu li:last-child a.dj-up_a {
	border-bottom: 0;
}
.dj-megamenu-my.verticalMenu li a.dj-up_a small.subtitle {
	margin-top: 0;
}
.dj-megamenu-my.verticalMenu li a.dj-up_a > span {
	display: table-row;
}
.dj-megamenu-my.verticalMenu li a.dj-up_a span {
	float: none;
	height: auto;
	line-height: 20px;
}
.dj-megamenu-my.verticalMenu li a.dj-up_a span .dj-icon {
	display: table-cell;
	vertical-align: middle;
}
.dj-megamenu-my.verticalMenu li a.dj-up_a span span.image-title {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px !important;
	margin: 0;
}
.dj-megamenu-my.verticalMenu li a.dj-up_a .arrow:before {
	content: "\f105";
}
.dj-megamenu-my.verticalMenu li:hover div.dj-subwrap,
.dj-megamenu-my.verticalMenu li.hover div.dj-subwrap,
.dj-megamenu-my.verticalMenu li:hover div.dj-subwrap.open-right,
.dj-megamenu-my.verticalMenu li.hover div.dj-subwrap.open-right {
	right: auto !important;
	left: 100% !important;
	top: 0;
}
.dj-megamenu-my.verticalMenu li:hover div.dj-subwrap.open-left,
.dj-megamenu-my.verticalMenu li.hover div.dj-subwrap.open-left {
	left: auto !important;
	right: 100% !important;
}
