/**
 * @copyright	Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Start Common Styles */
* {
	font-family: helvetica, arial, sans-serif;
	font-size: 11px;
	color: #5F6565;
}

html {
	height: 100%;
	margin-bottom: 1px;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	margin-bottom: 1px;
	background: #FFFFFF;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
	padding-top: 0px;
	margin-top: 0px;
}

.error {
	margin-left: auto;
	margin-right: auto;
}

table, td, th, div, pre, blockquote, ul, ol, dl, address,.componentheading,.contentheading,.contentpagetitle,.sectiontableheader,.newsfeedheading {
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
}

#outline {
	width: 900px;
	margin: 0 auto;
	padding: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
	background: #FFFFFF;
}
#errorboxoutline {
	width: 900px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #000000;
}
#errorboxheader {
	width: 900px;
	margin: 0px;
	padding: 0px;
	background: #E44249;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	border-bottom: 1px solid #000000;
}
#errorboxbody {
	margin: 0px;
	padding: 10px;
	text-align: left;
}
#techinfo {
	margin: 10px;
	padding: 10px;
	text-align: left;
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
}
#techinfo p {
	color: #CCCCCC;
}