.back-to-top {
  position: fixed;
  z-index:999;
  bottom: 7em;
  right: 0px;
  text-decoration: none;
  color: #000 !important;
  background-color: rgba(235, 235, 235, 0.8);
  padding: 1em;
  display: none;
  }

.back-to-top:after {
    content: "\bb";
    position: relative;
    bottom: 0;
    display: inline-block;
    margin-left: 1em;
    vertical-align: middle;
    -webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);  }

.back-to-top:hover {
  background-color: rgba(135, 135, 135, 0.5); }