/*JOOMLA STYLE BEGIN*/
.muted{
	color: #7f8c8d;
}

.item-page, .blog-featured {
    margin-top: 20px;
    padding: 15px;
    border-radius: 2px;
    border: 1px solid #ececec;
    }

	.btn-group .dropdown-menu{
		border: none;
		border-radius: 0px;
		position: absolute;
		left: unset;
	}
	.btn-group .dropdown-menu>li>a{
		padding: 8px 20px;
	}


.item-title{
  cursor:pointer;
}

.item-title, .item-title a{
	color: #7f8c8d;
	opacity: 1;
}

.item-title:hover, .item-title:hover a{
	opacity: 0.5;
	text-decoration: none;
}

.bg-gray{
	background: #67707c;
}
.bg-gray a{
	color: #7f8c8d;
}

.blog .items-row{
	margin-bottom:50px;
	box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.category-name a {
	text-transform: uppercase;
	color: #7f8c8d;
	padding: 2px 8px 0px 8px;
	font-size: 12px;
	display: inline-block;
	text-decoration: none;
}

.category-name:hover a {
	background: #7f8c8d;
	color: #fff;
}

.article-info{
  cursor:pointer;
  border-top:solid 1px #eee;
  padding:10px;
}

@media screen and (max-width:767px){
	.article-info span{
		display:none;
	}
}

.article-info div {
	position: relative;
	border-right:solid 1px #eee;
	padding: 0 10px;
}

.article-info div:last-child {
	border:none;
}

.article-info div:hover::after {
	content: attr(data-title);
	position: absolute;
	left: 0;  bottom: 100%;
	z-index: 2;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
}

.article-info div i{
	display:block;
}

.item-image{
	position:relative;
}

.item-image a:hover:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
	
}

.items-leading article{
	padding: 10px;
	border-radius: 2px;
	background: #dde4e6;
}

.tags{
	padding:0;
}

.tags li{
	list-style: none;
	display: inline-block;
}
.tags li a{
	border-radius: 0;
	text-transform: uppercase;
	background: none;
	color: #7f8c8d;
	padding: 8px 10px;
	font-size: 12px;
	display: inline-block;
	text-decoration: none;
}

.tags li a:before{
	content: '#';
}

.tags .label-info[href]:hover, .tags .label-info[href]:focus{
	background: #7f8c8d;
	color: #fff;
}


/* pagination begin*/
.pagination {
	padding-left: 0;
	margin: 24px 0;
	border-radius: 0px;}
.pagination li a, .pagination li span {
	background: #ecf0f1;
	color: #7f8c8d;
	display: block;
	line-height: 42px;
	min-width: 55px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0px !important;
	border:none;}
.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus,
.pagination li:hover a{
	background: #7f8c8d;
	color: #fff;}
/* pagination end*/




/*Кнопки вперед/назад в материале начало*/
ul.pager{padding:0;}
ul.pager li {list-style:none;}
ul.pager li > a{
	border-radius: 0;
	text-transform: uppercase;
	background: none;
	border: solid 1px #7f8c8d;
	color: #7f8c8d;
	padding: 8px 10px;
	font-size: 12px;
	display: inline-block;
	text-decoration: none;}
ul.pager li > a:hover,
ul.pager li > a:focus{
	background: none;}
.readmore a.btn{
	border-radius: 0;
	text-transform: uppercase;
	background: none;
	color: #7f8c8d;
	padding: 8px 10px;
	font-size: 12px;}
ul.pager li > a:active,
ul.pager li > a:focus,
.readmore a.btn:active,
.readmore a.btn:focus{
	box-shadow:none;
	background: none;}

.readmore a.btn:hover{
    background: #7f8c8d;
    color: #fff;}

/*Кнопки вперед/назад в материале конец*/

/*blog begin*/
/*blog category items begin*/
.blog{
	background:#fff;}
.blog:hover .image img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);}

.blog .catItemTitle{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin:0;
	padding:10px 0;
	background:fff;}
.blog .catItemTitle a{color:#000;}
.blog .image_wrap{
	height:250px;
	width:100%;
	overflow:hidden;}
.blog .image{
	height:100%;
	overflow:hidden;
	position:relative;}
.blog .image img{
	width:100%;
	height:100%;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;}
.blog .image:hover {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;}
.blog .image:hover a.trumb:before{
	opacity: 1;}
.blog .image:hover a.trumb .dop-info-block{
	opacity:1;}
.blog a.trumb:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
	z-index:2;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
    opacity: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    -moz-transition: 0.7s;
    transition: 0.7s;}	
.blog .dop-info-block{
	position: absolute;
	top: 35%;
	left: 50%;
	height: 30%;
	width: 50%;
	margin: 0 0 0 -25%;
	font-size:7rem;
	color:#fff;
	z-index:3;
	opacity:0;
	text-align:center;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    -moz-transition: 0.7s;
    transition: 0.7s;}
.blog .hits-panel{
	position:absolute;
	bottom:10px;
	left:10px;
	right:10px;
	display:block;
	background:rgba(255,255,255,0.9);
	z-index:20;
	padding:10px;
	color:#8ad633;}
/*blog category items end*/
/*blog item begin*/

/*blog item end*/
/*blog end*/


/*JOOMLA STYLE END*/