/*k2 style begin*/
.componentheading{
	text-align:center;
	color:#8ad633;
}

.catDescription{
	margin-top:5%;
}
/*k2 style end*/





/*пользователи K2 начало !!!!!!!!*/
.person{
	padding:50px 20px;}

.itemAuthorAvatarWrap{
	width:100px;
	height:100px;
	border-radius: 50%;
	border:solid 1px #fff;
    position: relative;
    overflow: hidden;
    display: block;
	margin:0 auto;}

.itemAuthorAvatar{
	width: 100%;
    display: block;}

.itemAuthorDetails{
	text-align:center;
	color:#fff;}
/*пользователи K2 конец*/