/*login form begin*/

/*disabled background autocomplete input begin*/
@-webkit-keyframes autofill {
    to {
        color: #000;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
/*disabled background autocomplete input end*/


.login form {
	max-width: 500px;
	margin: 4em auto;
	padding: 2em 2em 1em 2em;
	border: 1px solid #eee;
	background:#fff;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
.login form .control-group{
	position: relative; 
	margin-bottom: 45px;
}

.login form h3{
	margin-bottom:2em;
}

.login form .inputs input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	/*-webkit-appearance: none;*/
	display: block;
	background-color: white;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #eee;
}

.login form .inputs input:focus { outline: none; background-color: white; }
/* Label */

.login form .inputs label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition:all 0.2s ease;
	transition: all 0.2s ease;
}
/* active */

.login form .inputs input:focus ~ label,
.login form .inputs input.used ~ label {
	top: -20px;
	-webkit-transform: scale(.75);
	transform: scale(.75); left: -2px;
	color: #8ad633;
}

/* Underline */

.login form .inputs .bar {
	position: relative;
	display: block;
	width: 100%;
}

.login form .inputs .bar:before, .login form .inputs .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #8ad633; 
	-webkit-transition:all 0.2s ease; 
	transition: all 0.2s ease;
}

.login form .inputs .bar:before { left: 50%; }

.login form .inputs .bar:after { right: 50%; }


/* active */

.login form .inputs input:focus ~ .bar:before, .login form .inputs input:focus ~ .bar:after { width: 50%; }

/* Highlight */

.login form .inputs .highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active */

.login form .inputs input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}


/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: #8ad633; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: #8ad633; }
	to 	{ width: 0; background: transparent; }
}

/* Button */

.login form .button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #8ad633;
  cursor: pointer;
  -webkit-transition:all 0.15s ease;
  transition: all 0.15s ease;
}
.login form .button:focus { outline: 0; }


/* Ripples container */

.login form .ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.login form .ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(138, 214, 51, 0.25);
}

.login form .ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
          animation: ripples .4s ease-in;
}


/* Ripples animation */

@-webkit-keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

/*кнопка "запомнить меня" начало*/
.login form .remember {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.login form .remember + label {
  cursor: pointer;
}

.login form .remember:not(checked) {
  position: absolute;
  opacity: 0;
}
.login form .remember:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}
.login form .remember:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.login form .remember:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; 
}
.login form .remember:checked + label:before {
  background: #9FD468;
}
.login form .remember:checked + label:after {
  left: 26px;
}
.login form .remember:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
/*кнопка "запомнить меня" конец*/

/*login form end*/ 