/*preloader begin*/
.preloader{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:999;
	transition: 1s all;
	opacity: 1;
	visibility:visible;
	color:#fff;}
.loader{
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 3px #fff;
	border-top-color:#8ad633;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%); /*центрирует ровно по центру*/
	animation: 1s spin infinite linear;}
.done{
	opacity: 0;
	visibility: hidden;}
@keyframes spin{
	from{
		transform:translate(-50%, -50%) rotate(0deg);
	}
	to{
		transform:translate(-50%, -50%) rotate(360deg);
	}
}
/*preloader end*/