/*social button template begin*/
	.fieryflash-social-btn{margin:10px 0;cursor:pointer;}
	.fieryflash-social-btn li{
		position:relative;
		display:inline-block;
		width:30px;
		height:30px;
		margin-right:5px;}
	.fieryflash-social-btn li:last-child{margin:0;}
	.fieryflash-social-btn li:hover{
		background-position:-30px;}
	.fieryflash-social-btn li a{
		position:absolute;
		left:0;top:0;right:0;bottom:0;
		text-decoration:none;
		color:#fff;}
	.fieryflash-twitter-btn{
		background:url(/modules/mod_sociallinks/images/icon-twitter.png);}
	.fieryflash-vk-btn{
		background:url(/modules/mod_sociallinks/images/icon-vk.png);}
	.fieryflash-facebook-btn{
		background:url(/modules/mod_sociallinks/images/icon-facebook.png);}
	.fieryflash-instagram-btn{
		background:url(/modules/mod_sociallinks/images/icon-instagram.png);}
/*social button template end*/