@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Exo+2');
/*черный*/
/*белый*/
/*темный*/
/*коричневый*/
/*серый*/
/*голубой*/
/*розовый*/
/*темно-серый*/
/*серый инпут формы*/
/*серый инпут формы бордер*/
/*серые кнопки текстуры*/
/*слайдер ui*/
/*Сбрасываем размер шрифта по-умолчанию*/
ul.dj-mobile-my li.dj-mobileitem.active > ul {
  max-height: 3000px !important;
}
#navigation {
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 100%;
  margin-bottom: 3rem;
}
#navigation .link-bold {
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
  font-size: 17px;
}
#navigation .dj-megamenu .caret {
  display: none;
}
#navigation .dj-megamenu-my .withmodule {
  float: right !important;
}
footer {
  font-size: 1.6rem;
}
footer .nav {
  display: block;
}
footer .nav li:first-child a {
  padding-top: 0px;
}
footer .nav li a {
  line-height: 2.2rem;
  color: #fff;
  display: block;
  padding: 0.7rem 0;
  text-decoration: none;
}
footer .nav li a:hover, footer .nav li a:focus, footer .nav li a:active {
  background: none;
  color: #f63381;
}
footer .nav > li > ul {
  width: 100%;
  position: relative;
  float: none;
  padding: 0px;
  margin: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*шрифты дизайна начало*/
@font-face {
  font-family: 'Conv_Gilroy-Light';
  src: url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gilroy-Bold';
  src: url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gilroy-Regular';
  src: url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gilroy-Extrabold';
  src: url('../fonts/Gilroy/Gilroy-Extrabold/Gilroy-Extrabold.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Extrabold/Gilroy-Extrabold.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Extrabold/Gilroy-Extrabold.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Extrabold/Gilroy-Extrabold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gilroy-Semibold';
  src: url('../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gilroy-Black';
  src: url('../fonts/Gilroy/Gilroy-Black/Gilroy-Black.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Black/Gilroy-Black.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Black/Gilroy-Black.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Black/Gilroy-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Gilroy-Medium';
  src: url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
#breadcrumbs {
  background: none;
}
#breadcrumbs .breadcrumb {
  background: none;
  display: inline-block;
  text-transform: uppercase;
  border-left: solid 1px #fff;
  border-radius: 0px;
  padding: 0 0 0 10px;
  margin: 3rem 0 1rem 0;
}
#breadcrumbs .breadcrumb a {
  color: #cea555;
}
#breadcrumbs .breadcrumb span {
  color: #fff;
}
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
a.ui-datepicker-prev {
  background: url('/modules/mod_fiery_order/images/datepicker-arrow-left.png') no-repeat center;
}
a.ui-datepicker-next {
  background: url('/modules/mod_fiery_order/images/datepicker-arrow-right.png') no-repeat center;
}
.ui-timepicker-container {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
}
.ui-timepicker, .ui-timepicker-viewport {
  box-sizing: content-box;
  height: 205px;
  display: block;
  margin: 0;
}
.ui-timepicker {
  list-style: none;
  padding: 0;
}
.ui-timepicker-viewport {
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  cursor: pointer;
}
.ui-timepicker-standard {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  background-color: #fff;
  border: 1px solid #aaa;
  margin: 0;
}
.ui-timepicker-standard a {
  color: #000610;
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
}
.ui-timepicker-standard .ui-state-hover {
  background-color: #d8d9db;
  color: #000610;
}
.ui-timepicker-standard .ui-menu-item {
  margin: 0;
  padding: 0;
}
.ui-timepicker-hidden {
  display: none;
}
.ui-timepicker-no-scrollbar .ui-timepicker {
  border: none;
}
.ui-datepicker {
  width: 17em;
  padding: 2rem;
  display: none;
  background: #fff;
  border: solid 1px #b2b4b7;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 1.6rem;
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev, .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  color: #090000;
  font-size: 1.6rem;
  position: absolute;
  top: 2px;
  right: 0;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
.ui-datepicker table thead {
  font-family: 'Conv_Gilroy-Light', Sans-Serif;
  font-size: 1.2rem;
}
.ui-datepicker table thead th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: inherit;
  border: 0;
}
.ui-datepicker table tbody {
  font-family: 'Conv_Gilroy-Light', Sans-Serif;
  font-size: 1.4rem;
}
.ui-datepicker table tbody td {
  border: solid 1px #b2b4b7;
  padding: 1px;
}
.ui-datepicker table tbody td span, .ui-datepicker table tbody td a {
  display: block;
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
  color: #585858;
}
.ui-datepicker table tbody td:hover {
  background: #f63381;
  cursor: pointer;
}
.ui-datepicker table tbody td:hover span, .ui-datepicker table tbody td:hover a {
  color: #fff;
}
.actions .categoryTitle {
  margin-bottom: 5rem;
}
.actions .catItemWrap {
  min-height: 450px;
}
.actions .catItemWrap [class^='categoryItem'] {
  position: relative;
  padding-bottom: 10rem;
  width: 100%;
  background: #fff;
  color: #090000;
  margin-bottom: 3rem;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader {
  position: relative;
  z-index: 1;
  min-height: 240px;
  padding: 4rem;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader .action-label {
  width: 170px;
  padding: 0 1rem;
  font-size: 1.1rem;
  line-height: 170px;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader .action-label:before {
  left: 10px;
  bottom: 10px;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader .action-label .action-label-wrap {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader .action-label .action-label-wrap .action-price {
  font-size: 2rem;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader .action-label .action-label-wrap .action-price span {
  font-size: 6rem;
  line-height: 6rem;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader .image-wrap {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
  z-index: -3;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader .image-wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader .action-title {
  color: #fff;
  font-family: 'Conv_Gilroy-Medium', Sans-Serif;
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 3rem;
}
.actions .catItemWrap [class^='categoryItem'] .catItemHeader .action-title span {
  font-family: 'Conv_Gilroy-Black', Sans-Serif;
  font-size: 5rem;
  line-height: 4rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.6rem;
  letter-spacing: 0.15rem;
}
.actions .catItemWrap [class^='categoryItem'] .catItemBody {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  padding: 2rem 4rem;
}
.actions .catItemWrap [class^='categoryItem'] .catItemIntroText {
  margin-top: 2rem;
}
.actions .catItemWrap [class^='categoryItem'] .catItemReadMore {
  position: absolute;
  bottom: 3rem;
  left: 4rem;
}
.action-label {
  position: absolute;
  top: -1rem;
  right: 0px;
  border-radius: 50%;
  background: #f63381;
  color: #fff;
  padding: 6rem 3rem 0 3rem;
  text-align: center;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 2rem;
  z-index: auto;
}
.action-label:before {
  content: '';
  width: 102px;
  height: 102px;
  display: block;
  position: absolute;
  background: url(/images/templates/fieryflash_template/images/corner.png) no-repeat center;
  z-index: -2;
}
.action-label .action-price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 3.6rem;
  text-transform: uppercase;
}
.action-label .action-price span {
  display: block;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 0.27rem;
  margin-bottom: 5px;
}
.actions .catItemWrap .categoryItem-type1 {
  min-height: 450px;
}
.actions .catItemWrap .categoryItem-type1 .catItemHeader .image-wrap {
  height: 240px;
}
.actions .catItemWrap .categoryItem-type2 {
  min-height: 450px;
  background-size: cover !important;
}
.actions .catItemWrap .categoryItem-type2 .catItemHeader .image-wrap {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.actions .catItemWrap .categoryItem-type2 .light-dark-button {
  border: solid 1px #fff;
  color: #fff;
}
.actions .catItemWrap .categoryItem-type2 .action-label-2 {
  display: inline-block;
  background: #f63381;
  color: #fff;
  line-height: 5rem;
  padding: 0 2rem;
  font-family: 'Conv_Gilroy-Medium', Sans-Serif;
  font-size: 2rem;
}
.actions .catItemWrap .categoryItem-type2 .action-title {
  margin-top: 2rem;
}
.action-item-header .itemTitle {
  margin-bottom: 5rem;
}
.contact-info .worktime, .contact-info .regione-phone, .contact-info .phone {
  font-family: 'Conv_Gilroy-Light', Sans-Serif;
  font-size: 1.4rem;
  padding-left: 10px;
  position: relative;
  float: right;
  letter-spacing: 0.45px;
  margin-top: 2px;
  line-height: 2.3rem;
}
.contact-info .worktime:before, .contact-info .regione-phone:before, .contact-info .phone:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 5px;
}
.contact-info .worktime span, .contact-info .regione-phone span, .contact-info .phone span {
  display: block;
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
  font-size: 1.6rem;
  word-spacing: 0.025rem;
}
.contact-info .worktime:before {
  content: '';
  width: 13px;
  height: 13px;
  background: url(/images/templates/fieryflash_template/images/worktime-icon.png) no-repeat center;
}
.contact-info .regione-phone:before {
  content: '';
  width: 12px;
  height: 12px;
  background: url(/images/templates/fieryflash_template/images/regione-phone-icon.png) no-repeat center;
}
.contact-info .phone:before {
  content: '';
  width: 12px;
  height: 12px;
  background: url(/images/templates/fieryflash_template/images/phone-icon.png) no-repeat center;
}
.top_phone_number {
  font-family: 'Conv_Gilroy-Light', Sans-Serif;
  font-size: 1.4rem;
}
.top_phone_number span {
  display: block;
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
  font-size: 3rem;
}
.top_phone_number span a {
  color: #090000;
  text-decoration: none;
}
.top_phone_number span a:hover {
  color: #f63381;
}
.brands-logo {
  margin: 2rem 0 4rem;
}
.brands-logo .brand-item {
  border: solid 1px #bcbcbc;
  width: 100%;
  height: 100%;
}
.brands-logo .brand-item img {
  margin: auto;
}
.firm-counter {
  background: #181818;
  color: #fff;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  padding: 10rem 0;
}
.firm-counter .firm-counter-title {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.firm-counter .firm-counter-title span {
  display: block;
  font-size: 6rem;
}
.light-fixtures {
  background: #000;
}
.light-fixtures .light-fixtures-item {
  background: #fff;
  padding: 4rem;
}
.light-fixtures .light-fixtures-item .catItemPrice {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 2.4rem;
  color: #f63381;
  padding: 1rem 0;
}
.light-fixtures .light-fixtures-item .catItemReadMore .button {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
}
.product {
  padding: 7rem 0;
}
.product .product-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
  letter-spacing: 0.01em;
}
.product .product-short-description {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  line-height: 1.6em;
}
.product .product-full-description {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  line-height: 1.6em;
}
.product .product-full-description .product-full-description-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  line-height: 1.2em;
}
.product .product-color {
  margin: 3.5rem 0;
}
.product .product-details {
  border: solid 1px #dde1e8;
  padding: 1.5rem 4.5rem 4rem;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  line-height: 1.6em;
}
.product .product-details .product-details-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2.4rem;
}
.product .product-details ul {
  padding-left: 0;
  margin-top: 2rem;
}
.product .product-details ul li {
  list-style: none;
  margin-bottom: 1rem;
}
.product .product-details ul li span {
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
  font-size: 1.6rem;
  word-spacing: 0.025rem;
}
.product .lamp-selected {
  max-width: 100%;
  height: auto;
}
.product .lamp-selected img {
  width: 100%;
}
.product .product-price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 3.6rem;
  color: #f63381;
  margin-top: 6rem;
}
.product .product-specifications {
  margin-top: 7.5rem;
}
.catalog-preview {
  background: #fff;
  color: #000;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  padding: 10rem 0;
}
.catalog-preview .catalog-preview-title {
  text-align: center;
  margin-bottom: 5rem;
}
.catalog-preview .catalog-preview-title h3 {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
}
.catalog-preview .catalog-items-preview {
  padding-bottom: 80px;
}
.catalog-preview .catalog-items-preview .catalog-item-preview {
  border: solid 1px #dde1e8;
  outline: none;
  min-height: 300px;
  position: relative;
  padding-bottom: 120px;
}
.catalog-preview .catalog-items-preview .catalog-item-preview .item-body {
  margin: 20px 40px 0 40px;
}
.catalog-preview .catalog-items-preview .catalog-item-preview .item-body .item-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
}
.catalog-preview .catalog-items-preview .catalog-item-preview .item-body .item-price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 2.4rem;
  color: #f63381;
}
.catalog-preview .catalog-items-preview .catalog-item-preview .item-readmore {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-preview .catalog-items-preview .catalog-item-preview .item-readmore a.light-dark-button {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  width: 100%;
  margin: 0 40px;
}
.catalog-preview .to-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.catalog-preview .to-catalog a.button {
  padding: 0 4rem;
}
.lamp-selected {
  position: relative;
  max-width: 200px;
  width: 100%;
  height: 200px;
}
.lamp-selected img {
  left: 0;
  right: 0;
  top: 20px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms all linear;
  -o-transition: 300ms all linear;
  transition: 300ms all linear;
  position: absolute;
}
.lamp-selected img.active {
  visibility: visible;
  opacity: 1;
}
.product-intro .lamp-selected img {
  position: relative;
}
.lamp-select {
  margin-top: 10px;
}
.lamp-select .select-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -9px 0;
}
.lamp-select .select-list .lamp-selector {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-size: 200% 200%;
  background-size: 200%;
  background-position: center;
  position: relative;
  margin: 0 4px 10px;
  cursor: pointer;
}
.lamp-select .select-list .lamp-selector:hover .select-color {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
.lamp-select .select-list .lamp-selector .select-color {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 64px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 0 10px 0 #000;
  margin-top: 10px;
  transition: 0.3s;
}
.lamp-select .select-list .lamp-selector .select-color:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 100%;
  z-index: 10;
}
.other_lamps {
  background: #090000;
  color: #fff;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  padding: 10rem 0;
}
.other_lamps .catalog-preview-title {
  text-align: center;
  margin-bottom: 5rem;
}
.other_lamps .catalog-preview-title h3 {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
}
.other_lamps .catalog-items-preview {
  padding-bottom: 80px;
}
.other_lamps .catalog-items-preview .catalog-item-preview {
  outline: none;
  position: relative;
  background: #fff;
  color: #090000;
}
.other_lamps .catalog-items-preview .catalog-item-preview .item-body {
  margin: 20px 40px;
}
.other_lamps .catalog-items-preview .catalog-item-preview .item-body .item-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
}
.other_lamps .catalog-items-preview .catalog-item-preview .item-body .item-price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 2.4rem;
  color: #f63381;
}
.other_lamps .catalog-items-preview .catalog-item-preview .item-readmore {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.other_lamps .catalog-items-preview .catalog-item-preview .item-readmore a.button {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
}
.other_lamps .to-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.other_lamps .to-catalog a.button {
  border: solid 1px #f63381;
  color: #f63381;
  text-transform: uppercase;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  display: inline-block;
}
#filter {
  background: #0c0c0c;
}
#filter .module-title {
  background: #fff;
  overflow: hidden;
}
#filter .module-title .title {
  color: #090000;
}
#filter .range-slider-form .range-slider {
  margin-top: 0;
}
#filter .calc-result-wrap {
  background: #090000;
  color: #fff;
  padding: 4rem 0;
  margin-top: 6rem;
}
#filter .nav-tabs {
  border: none;
}
#filter .filter-info a {
  color: #f63381;
}
#filter .filter-info a:hover {
  color: #fff;
}
.filter .slide-object {
  background: #fff;
  color: #090000;
  padding: 4rem;
}
.filter .slide-object .price {
  color: #f63381;
}
.filter .slick-slide {
  margin: 0 10px;
  outline: none;
  cursor: pointer;
}
.filter .slick-list {
  margin: 0 -10px;
}
.ceiling-examples-wrap {
  background: #181818;
}
.ceiling-examples-wrap .ceiling-examples {
  background: #fff;
  padding: 4rem 0;
}
.ceiling-examples-wrap table tr td {
  padding: 1rem 0;
}
.ceiling-examples-wrap .itemTitle {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
  margin-top: 0;
}
.ceiling-examples-wrap .itemFullText {
  font-family: 'Conv_Gilroy-Medium', Sans-Serif;
  font-size: 1.6rem;
}
.ceiling-examples-wrap .price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 2.4rem;
  color: #fa3786;
  padding: 1rem 0;
}
.ceiling-examples-wrap .location {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
}
.ceiling-examples-wrap .itemIntroText {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
}
.ceiling-examples-wrap .image-crop-wrap {
  height: 70px;
}
.ceiling-examples-wrap .client-wrap {
  margin: 1rem auto;
}
.ceiling-examples-wrap .client-wrap .client-avatar img {
  width: 70px;
  border-radius: 50%;
}
.ceiling-examples-wrap .client-wrap .client-name {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
  margin-top: 1rem;
}
.ceiling-examples-wrap .client-wrap .client-link {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  color: #b1b1b1;
}
.ceiling-examples-wrap .assessment-wrap span {
  float: left;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
}
.ceiling-examples-wrap .assessment-wrap .assessment {
  position: absolute;
  right: 15px;
  margin-bottom: 0px !important;
}
.ceiling-examples-wrap .assessment-wrap .assessment li {
  margin-top: 0.2rem;
}
.ceiling-examples-wrap .ceilings-details {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  line-height: 1.6em;
}
.ceiling-examples-wrap .ceilings-details ul {
  padding-left: 0;
  margin-top: 2rem;
}
.ceiling-examples-wrap .ceilings-details ul li {
  list-style: none;
  margin-bottom: 1rem;
}
.ceiling-examples-wrap .ceilings-details ul li span {
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
  font-size: 1.6rem;
  word-spacing: 0.025rem;
}
.finished-objects {
  background: url('/images/templates/fieryflash_template/images/finished-objects-background.png') no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 7.5rem 0 11rem;
}
.finished-objects .section-finished-objects-title {
  text-align: center;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  margin-bottom: 6rem;
}
.finished-objects .section-finished-objects-title h3 {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
}
.finished-objects .finished-objects-slider .slide-object {
  background: #fff;
  color: #090000;
  padding: 4rem;
  outline: none;
}
.finished-objects .finished-objects-slider .slide-object .ceilings-pictures .main-picture .ceilings-image-wrap {
  display: block;
  width: 100%;
  height: 230px;
}
.finished-objects .finished-objects-slider .slide-object .ceilings-pictures .main-picture .ceilings-image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.finished-objects .finished-objects-slider .slide-object .ceilings-pictures .all-pictures {
  margin: 5px -5px 0;
}
.finished-objects .finished-objects-slider .slide-object .ceilings-pictures .all-pictures .ceilings-miniatures-wrap {
  display: block;
  height: 70px;
  padding: 5px;
}
.finished-objects .finished-objects-slider .slide-object .ceilings-pictures .all-pictures .ceilings-miniatures-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.finished-objects .finished-objects-slider .slide-object .slide-object-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
  line-height: 2rem;
}
.finished-objects .finished-objects-slider .slide-object .readmore {
  padding: 0 3.5rem;
  font-size: 1.7rem;
  line-height: 5rem;
  margin-top: 5.5rem;
}
.finished-objects .finished-objects-slider .slide-object .main-picture {
  width: 100%;
  height: 230px;
  overflow: hidden;
}
.finished-objects .all-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.finished-objects .all-reviews a.button {
  line-height: 5rem;
  padding: 0 6rem;
  letter-spacing: 0.1rem;
}
.finished-objects hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.finished-objects .calendar {
  margin-bottom: 1rem;
}
.category-ceilings .categoryHeader {
  margin-bottom: 4rem;
}
.category-ceilings .catItem {
  width: 100%;
  overflow: hidden;
}
.category-ceilings .catItem .image-wrap {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.category-ceilings .catItem .image-wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category-ceilings .catItem .catItemBody {
  padding: 0 2.5rem 3rem;
}
.category-ceilings .catItem .catItemBody .catItemTitle {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
  line-height: 1.2;
}
.category-ceilings .catItem .catItemBody .catItemExtraField {
  line-height: 3.5rem;
}
.category-ceilings .catItem .catItemBody .catItemExtraField .catItemExtraFieldTitle {
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.category-ceilings .catItem .catItemBody .catItemExtraField .free-service {
  padding-top: 1.5rem;
}
.category-ceilings .catItem .catItemBody .price {
  color: #f63381;
  font-size: 3rem;
}
.category-ceilings .catItem .catItemBody .light-dark-button {
  padding: 0 4rem;
  width: auto;
  line-height: 5rem;
  margin-right: 0.5rem;
}
.category-ceilings .tagsItemsPageTitle {
  margin-bottom: 5rem;
}
.mod_k2_cetegories .calculation-section-title {
  text-align: center;
}
.mod_k2_cetegories .calculation-section-title h3 {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
  letter-spacing: 0.05rem;
}
.mod_k2_cetegories .tabs-wrapper {
  margin-top: 1.5rem;
}
.mod_k2_cetegories .tabs-wrapper ul.nav-tabs {
  border: none;
  text-align: center;
}
.mod_k2_cetegories .tabs-wrapper ul.nav-tabs li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  /* ie7 fix */
}
.mod_k2_cetegories .tabs-wrapper ul.nav-tabs li a {
  /* hasLayout ie7 trigger */
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
}
.mod_k2_cetegories .tabs-wrapper ul.nav-tabs li a:hover {
  background: #fff;
  color: #090000;
}
.mod_k2_cetegories .tabs-wrapper ul.nav-tabs li.active a {
  color: #090000;
}
.mod_k2_cetegories .tabs-wrapper .tab-content {
  padding-top: 3rem;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] {
  background: #090000;
  color: #fff;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] .item-discount {
  position: absolute;
  top: 3rem;
  left: 6rem;
  background: #f63381;
  color: #fff;
  padding: 0 1rem;
  line-height: 4rem;
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] .item-image {
  display: block;
  width: 100%;
  height: 230px;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] .calculation-item-body {
  padding: 2.5rem 4rem 4rem 4rem;
  position: relative;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] .calculation-item-body .item-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
  line-height: 2.5rem;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] .calculation-item-body .item-description {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  line-height: 3rem;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] .calculation-item-body .item-price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 2.4rem;
  color: #f63381;
  margin-top: 3rem;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] .calculation-item-body .free-service {
  padding-top: 1.5rem;
}
.mod_k2_cetegories .tabs-wrapper .tab-content [class^='calculation-item-'] .calculation-item-body .readmore {
  padding: 0 3.5rem;
  font-size: 1.7rem;
  line-height: 5rem;
  margin-top: 3rem;
}
.mod_k2_cetegories_tags .item-description {
  margin-top: 1rem;
  line-height: 2rem !important;
}
.calc-result-wrap .result-title {
  margin-bottom: 3rem;
}
.calc-result-wrap #filter-tabs {
  border: none;
  text-align: center;
}
.calc-result-wrap #filter-tabs li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  /* ie7 fix */
}
.calc-result-wrap #filter-tabs li a {
  /* hasLayout ie7 trigger */
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 0;
  color: #fff;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
}
.calc-result-wrap #filter-tabs li a:hover {
  background: #fff;
  color: #090000;
}
.calc-result-wrap #filter-tabs li.active a {
  color: #090000;
}
.calc-result-wrap .tab-content {
  padding-top: 3rem;
}
.calc-result-wrap .tab-content .slide-object .slideItemExtraFieldTitle {
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.calc-result-wrap .tab-content .slide-object .slide-object-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
  line-height: 1.2;
}
.calc-result-wrap .tab-content .slide-object .item-description {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  line-height: 3rem;
}
.calc-result-wrap .tab-content .slide-object .catItemExtraField {
  line-height: 3rem;
}
.master-section {
  background: #181818;
  color: #fff;
  padding: 7rem 0 16rem 0;
  position: relative;
}
.master-section .master-section-title {
  text-align: center;
  margin-bottom: 5rem;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
}
.master-section .master-section-title h3 {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
  letter-spacing: 0.05rem;
}
.master-section form {
  margin-top: 7rem;
}
.master-section form .form-select {
  display: flex;
  justify-content: space-between;
}
.master-section form .form-select .text {
  margin-bottom: 1.5rem;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
}
.master-section form .form-select .tools {
  margin-top: 10px;
  width: 410px;
}
.master-section form .form-select .tools .select-tools {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -5px 0;
}
.master-section form .form-select .tools .select-tools .selector {
  width: 130px;
  height: 120px;
  position: relative;
  margin: 0 5px 10px;
  cursor: pointer;
  z-index: 2;
}
.master-section form .form-select .tools .select-tools .selector:hover {
  background-position-y: -90px !important;
}
.master-section form .form-select .tools .select-tools .selector:hover .select-tool {
  opacity: 1;
  visibility: visible;
  color: #090000;
  margin-top: 0;
  z-index: 999;
}
.master-section form .form-select .tools .select-tools .selector .select-tool {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 64px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 0 10px 0 #000;
  margin-top: 10px;
  transition: 0.3s;
}
.master-section form .form-select .tools .select-tools .selector .select-tool:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 100%;
  z-index: 10;
}
.master-section form .form-select .tools .select-tools .selector.active {
  background-position-y: -90px !important;
}
.master-section form .form-select .masters {
  margin-top: 10px;
  margin-right: 0;
  width: 410px;
}
.master-section form .form-select .masters .select-masters {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -5px 0;
}
.master-section form .form-select .masters .select-masters .selector {
  width: 130px;
  height: 120px;
  background-position: center;
  position: relative;
  margin: 0 5px 10px;
  cursor: pointer;
  z-index: 2;
}
.master-section form .form-select .masters .select-masters .selector:hover {
  background-position-y: -90px !important;
}
.master-section form .form-select .masters .select-masters .selector:hover .select-master {
  opacity: 1;
  visibility: visible;
  color: #090000;
  margin-top: 0;
  z-index: 999;
}
.master-section form .form-select .masters .select-masters .selector .select-master {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 64px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 0 10px 0 #000;
  margin-top: 10px;
  transition: 0.3s;
}
.master-section form .form-select .masters .select-masters .selector .select-master:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 100%;
  z-index: 10;
}
.master-section form .form-select .masters .select-masters .selector.active {
  background-position-y: -90px !important;
}
.master-section form .execute-master {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 1.8rem;
  line-height: 7rem;
  padding: 0 2rem;
  letter-spacing: 0.14rem;
  word-spacing: 0.1rem;
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 3;
}
.master-section .masters-faces {
  position: absolute;
  max-width: 100%;
  width: 100%;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
}
.master-section .masters-faces img {
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms all linear;
  -o-transition: 300ms all linear;
  transition: 300ms all linear;
  position: absolute;
  z-index: 1;
}
.master-section .masters-faces img.active {
  visibility: visible;
  opacity: 1;
}
.maps {
  padding: 15rem 0;
  height: 570px;
  position: relative;
  background: url('/images/templates/fieryflash_template/images/maps.png') no-repeat center #181818;
}
.maps .maps-info {
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -116px;
  display: block;
  width: 232px;
  height: 246px;
  padding: 3rem;
  color: #090000;
  background: url('/images/templates/fieryflash_template/images/ellipse.png') no-repeat center;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
}
.maps .maps-info::before {
  content: '';
  display: block;
  width: 120px;
  height: 105px;
  background: url('/images/templates/fieryflash_template/images/logo-potolki-footer.png') no-repeat center;
  position: relative;
  left: 50%;
  margin-left: -6rem;
  margin-bottom: 1rem;
}
.fiery_custom_map_wrap .container {
  position: relative;
}
.fiery_custom_map_wrap .container .map_example_div {
  position: absolute;
  top: -40rem;
  max-height: 300px;
  overflow-y: auto;
}
.fiery_custom_map_wrap .container .map_example_div > .active {
  opacity: 1 !important;
}
.fiery_custom_map_wrap .container .map_example_div .store {
  background: #fff;
  margin-bottom: 0.2rem;
  padding: 2rem;
  cursor: pointer;
  opacity: 0.8;
}
.fiery_custom_map_wrap .container .map_example_div .store:last-child {
  margin-bottom: 0;
}
.fiery_custom_map_wrap .container .col-sm-12 {
  min-height: auto;
}
.fiery_custom_map_wrap .fiery_custom_map {
  width: 100%;
  height: 500px;
}
.fiery_custom_map_wrap .worktimes {
  position: relative;
  margin-left: 0;
  padding-left: 3rem;
}
.fiery_custom_map_wrap .worktimes:before {
  content: '';
  width: 13px;
  height: 13px;
  background: url(/images/templates/fieryflash_template/images/worktime-icon.png) no-repeat center;
  position: absolute;
  top: 0.5rem;
  left: 0;
}
.fiery_custom_map_wrap .phone {
  position: relative;
  margin-left: 0;
  padding-left: 3rem;
}
.fiery_custom_map_wrap .phone:before {
  content: '';
  width: 13px;
  height: 13px;
  background: url(/images/templates/fieryflash_template/images/phone-icon.png) no-repeat center;
  position: absolute;
  top: 0.5rem;
  left: 0;
}
.fiery_custom_map_wrap .maps-object-label-text {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 1.6rem;
}
.fiery_custom_map_wrap .maps-object-label-text .phone {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.3rem;
  height: 30px;
  line-height: 30px;
  padding-left: 3rem;
}
.fiery_custom_map_title {
  background: #090000;
  color: #fff;
  padding: 2rem 0;
  overflow: hidden;
}
.materials {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.materials .itemHeader .itemTitle {
  font-size: 3.6rem;
}
.materials .itemBody {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  line-height: 1.8em;
}
.materials .itemBody .material-images-wrapper img {
  width: 100%;
  margin-bottom: 3rem;
}
.materials .itemBody .manufacturers {
  display: flex;
}
.materials .itemBody .manufacturers img {
  border: solid 1px;
}
.reviews {
  padding: 7rem 0 8rem;
}
.reviews .categoryHeader {
  margin-bottom: 6.5rem;
}
.reviews .categoryHeader .categoryDescription {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
}
.reviews .catItemWrap .catItem .catItemHeader .image-wrap {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
}
.reviews .catItemWrap .catItem .catItemHeader .image-wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews .catItemWrap .catItem .catItemHeader .image-wrap a {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}
.reviews .catItemWrap .catItem .catItemBody {
  margin: 3rem 2.5rem 3.5rem;
}
.reviews .catItemWrap .catItem .catItemBody .catItemTitle {
  font-size: 2rem;
}
.reviews .catItemWrap .catItem .catItemBody hr {
  margin-top: 2rem;
}
.reviews .catItemWrap .catItem .catItemBody .price {
  font-size: 3rem;
  color: #f63381;
  margin-top: 2.5rem;
}
.reviews .ias_trigger {
  margin: 3.5rem auto 0;
}
.reviews .ias_trigger a {
  border: solid 1px #f63381;
  border-radius: 0px;
  background: none;
  color: #f63381;
  text-transform: uppercase;
  line-height: 5rem;
  display: inline-block;
  padding: 0 6.5rem;
}
.jobs {
  padding: 7rem 0 6rem;
}
.jobs .categoryTitle, .jobs .pageTitle {
  margin-bottom: 6rem;
}
.jobs .catItem {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  outline: solid 1px #ccc;
  padding: 1rem 4rem 5rem;
  margin-bottom: 4rem;
}
.jobs .catItem .catItemBody .catItemTitle {
  line-height: 1.3em;
  letter-spacing: 0.013em;
}
.jobs .catItem .catItemBody .catItemIntroText {
  line-height: 1.9em;
  letter-spacing: 0.013em;
}
.jobs .catItem .catItemExtraFields {
  line-height: 1.9em;
}
.jobs .catItem .catItemExtraFields .itemExtraField span {
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
}
.jobs .catItem .catItemExtraFields .price {
  line-height: 2.6em;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 3rem;
  margin: 0;
}
.jobs .catItem .catItemExtraFields .link {
  margin-top: 1rem;
}
.jobs .catItem .catItemExtraFields .link a {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 1.8rem;
  display: inline-block;
  width: 100%;
  line-height: 7.5rem;
  text-align: center;
  background: #f63381;
  color: #090000;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
.services-item {
  background: url(/images/templates/fieryflash_template/images/services-master.png) 100px bottom no-repeat, url(/images/templates/fieryflash_template/images/ceilings-photo-background.png) no-repeat center;
  background-size: auto, cover;
  color: #fff;
  padding: 14.5rem 0 10rem 0;
}
.services-item .itemFullText {
  font-family: 'Conv_Gilroy-Light', Sans-Serif;
  font-size: 1.7rem;
  line-height: 1.7em;
  letter-spacing: 0.03rem;
}
.services-item .itemFullText p {
  margin: 0;
}
.services-counter {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  margin: 6rem auto;
}
.services-counter .firm-counter-title {
  color: #f63381;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 1em;
}
.services-counter .firm-counter-title span {
  font-size: 6rem;
  display: block;
  line-height: 1em;
}
.services-counter .firm-counter-description {
  margin-top: 1.5rem;
  line-height: 1.5em;
}
.service-item {
  background: #0c0c0c;
  color: #fff;
  padding: 4rem 0;
}
.service-item .itemHeader .itemTitle {
  font-size: 3.6rem;
}
.service-item .itemBody {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  line-height: 1.8em;
}
.service-maintenance {
  background: url(/images/templates/fieryflash_template/images/sertificate.png) #0f0f0f no-repeat center bottom;
  padding: 7rem 0 14rem 0;
  color: #fff;
  -webkit-box-shadow: inset 0px -250px 200px -100px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 0px -250px 200px -100px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0px -250px 200px -100px rgba(0, 0, 0, 0.65);
}
.service-maintenance .service-maintenance-section-title {
  text-transform: uppercase;
}
.service-maintenance .service-maintenance-section-title h3 {
  font-family: 'Conv_Gilroy-Black', Sans-Serif;
  font-size: 7rem;
  line-height: 8rem;
  letter-spacing: 0.2rem;
  margin-left: -0.3rem;
}
.service-maintenance .service-maintenance-section-title span.information-label {
  background: #fa3786;
  color: #fff;
  display: inline-block;
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2.4rem;
  padding: 0 1.5rem;
  line-height: 6.5rem;
  margin-top: 0.5rem;
}
.service-maintenance .service-maintenance-section-body {
  margin-top: 2.6rem;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.8rem;
  letter-spacing: 0.045rem;
  line-height: 2.2rem;
}
.slick-dotted.slick-slider {
  margin-bottom: 100px !important;
}
.slick-slider .slick-list {
  margin: 0 -15px;
}
.slick-slider .slick-list .slick-track {
  display: flex;
  flex-flow: row wrap;
}
.slick-slider .slick-list .slick-slide {
  cursor: pointer;
  height: auto;
  outline: none;
  margin: 0 15px;
}
.slick-slider .slick-arrow {
  top: 100%;
  z-index: 100;
  margin-top: 65px;
}
.slick-slider .slick-dotted .slick-slider {
  margin: 0;
}
.slick-slider .slick-prev, .slick-slider .slick-next {
  width: 46px;
  height: 46px;
}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
  content: '' !important;
  width: 46px;
  height: 46px;
  display: block;
}
.slick-slider .slick-prev {
  left: 0;
}
.slick-slider .slick-next {
  right: 0;
}
.slick-slider .slick-dots {
  top: 100%;
  margin-top: 50px;
}
.slick-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  border: solid 1px #fff;
  border-radius: 50%;
  padding: 0;
}
.slick-slider .slick-dots li button:before {
  display: none;
}
.slick-slider .slick-dots li.slick-active button {
  background: #fff;
}
.slick-arrows-white .slick-prev:before {
  background: url('/images/templates/fieryflash_template/images/white_left_arrow.png') no-repeat center;
}
.slick-arrows-white .slick-next:before {
  background: url('/images/templates/fieryflash_template/images/white_right_arrow.png') no-repeat center;
}
.slick-arrows-black .slick-prev:before {
  background: url('/images/templates/fieryflash_template/images/left_arrow.png') no-repeat center;
}
.slick-arrows-black .slick-next:before {
  background: url('/images/templates/fieryflash_template/images/right_arrow.png') no-repeat center;
}
.finished-objects .slick-prev {
  left: 15px;
}
.finished-objects .slick-next {
  right: 15px;
}
.ceilings .slick-arrow {
  margin-top: 5px;
}
.ceilings .slick-dots {
  margin-top: -10px;
  margin-left: -100px;
}
.ceilings .slick-next {
  right: 175px;
}
.ceilings .slick-dotted.slick-slider {
  margin-bottom: 30px !important;
}
.catalog-preview .slick-dots li button {
  border: solid 1px #090000;
}
.catalog-preview .slick-dots li.slick-active button {
  background: #090000;
}
.catalog-preview .slick-dots, .other_lamps .slick-dots {
  margin-top: -35px;
}
.catalog-preview .slick-arrow, .other_lamps .slick-arrow {
  margin-top: -20px;
}
input.execute-measure {
  width: 100%;
  border: none;
  background: #090000;
  color: #f63381;
  text-transform: uppercase;
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 1.8rem;
  line-height: 7.5rem;
  margin-top: 2rem;
}
input.execute-measure:hover {
  color: #fff;
}
.zamer {
  background: url('/images/templates/fieryflash_template/images/master-zamer.png') no-repeat top center #000;
  background-size: cover;
  color: #fff;
  padding: 24rem 0 10rem 0;
  margin-top: -155px;
}
.zamer .section-zamer-title {
  font-family: 'Conv_Gilroy-Black', Sans-Serif;
  font-size: 7rem;
  line-height: 7rem;
  text-transform: uppercase;
  display: table;
  letter-spacing: 0.22rem;
}
.zamer .information-label {
  background: #f63381;
  color: #fff;
  display: inline-block;
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2.4rem;
  padding: 0 2rem;
  margin-top: 7.5rem;
  line-height: 6.5rem;
}
.zamer .price {
  font-family: 'Conv_Gilroy-Medium', Sans-Serif;
  font-size: 3.6rem;
  line-height: 4rem;
  display: inline;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.zamer .price span {
  font-size: 11rem;
  line-height: 11rem;
  display: table;
  letter-spacing: 0.3rem;
}
.zamer .price sup {
  font-size: 55%;
  top: -0.6em;
}
.zamer .form-wrap {
  background: #fff;
  color: #090000;
  margin-top: 1rem;
  padding: 4rem 6rem 7rem 6rem;
}
.zamer .form-wrap .form-title {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
}
.zamer .form-wrap .form-title span {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  display: block;
}
.zamer .form-wrap form {
  margin-top: 3rem;
}
.zamer .form-wrap form input, .zamer .form-wrap form button {
  outline: none;
}
.zamer .form-wrap form label {
  display: block;
}
.zamer .form-wrap form input.measure-address, .zamer .form-wrap form input.measure-date, .zamer .form-wrap form input.measure-time, .zamer .form-wrap form input.measure-phone {
  width: 100%;
  line-height: 4.7rem;
  padding: 0 3rem 0 5.5rem;
  color: #000;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  background: url('/modules/mod_fiery_order/images/arrow.png') no-repeat #f9f9f9;
  background-position: 95% 20px;
  margin-bottom: 10px;
  border: solid 1px #b2b2b2;
}
.zamer .form-wrap form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #090000;
}
.zamer .form-wrap form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #090000;
}
.zamer .form-wrap form :-ms-input-placeholder {
  /* IE 10+ */
  color: #090000;
}
.zamer .form-wrap form :-moz-placeholder {
  /* Firefox 18- */
  color: #090000;
}
.zamer .form-wrap form label[for="measure-address"], .zamer .form-wrap form label[for="measure-date"], .zamer .form-wrap form label[for="measure-time"], .zamer .form-wrap form label[for="measure-phone"] {
  position: absolute;
  margin: 0;
}
.zamer .form-wrap form label[for="measure-address"]:before, .zamer .form-wrap form label[for="measure-date"]:before, .zamer .form-wrap form label[for="measure-time"]:before, .zamer .form-wrap form label[for="measure-phone"]:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 10px;
}
.zamer .form-wrap form label[for="measure-address"]:before {
  background: url('/modules/mod_fiery_order/images/measure-address.png') no-repeat center;
}
.zamer .form-wrap form label[for="measure-date"]:before {
  background: url('/modules/mod_fiery_order/images/measure-date.png') no-repeat center;
}
.zamer .form-wrap form label[for="measure-time"]:before {
  background: url('/modules/mod_fiery_order/images/measure-time.png') no-repeat center;
}
.zamer .form-wrap form label[for="measure-phone"]:before {
  background: url('/modules/mod_fiery_order/images/measure-phone.png') no-repeat center;
}
.zamer .form-wrap .measurement-time {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3rem;
}
.zamer .form-wrap .measurement-time span {
  display: block;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
}
.collback {
  padding: 8rem 0;
  background: #181818;
  color: #fff;
}
.collback .collback-text {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
}
.collback .collback-text span {
  display: block;
  font-size: 5.5rem;
  line-height: 1em;
}
.collback .collback-form form {
  margin-top: 2rem;
}
.collback .collback-form form input, .collback .collback-form form button {
  outline: none;
}
.collback .collback-form input.phone-number {
  display: inline-block;
  width: 320px;
  height: 48px;
  padding: 0 2rem 0 4.2rem;
  border: none;
  color: #000;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  background: #fff;
}
.collback .collback-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #090000;
}
.collback .collback-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #090000;
}
.collback .collback-form :-ms-input-placeholder {
  /* IE 10+ */
  color: #090000;
}
.collback .collback-form :-moz-placeholder {
  /* Firefox 18- */
  color: #090000;
}
.collback .collback-form label[for="phone-number"] {
  position: absolute;
  margin: 0;
}
.collback .collback-form label[for="phone-number"]:before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background: url('/modules/mod_fiery_collback/images/phone-icon.png') no-repeat center;
  position: absolute;
  top: 14px;
  left: 10px;
}
.collback .collback-form input.execute {
  display: inline-block;
  background: #f63381;
  border: none;
  width: 230px;
  height: 50px;
  margin-left: 1rem;
  text-transform: uppercase;
}
.collback .collback-form span {
  display: block;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.8rem;
  margin-top: 2rem;
}
.callback-form form {
  max-width: 770px;
  margin: 5.5rem auto 0;
  text-align: left;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
}
.callback-form form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #090000;
}
.callback-form form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #090000;
}
.callback-form form :-ms-input-placeholder {
  /* IE 10+ */
  color: #090000;
}
.callback-form form :-moz-placeholder {
  /* Firefox 18- */
  color: #090000;
}
.callback-form form input, .callback-form form button {
  outline: none;
}
.callback-form form .input-fields label {
  position: absolute;
  margin: 0;
  font-weight: inherit;
}
.callback-form form .input-fields input, .callback-form form .input-fields textarea {
  width: 100%;
  line-height: 1em;
  color: #090000;
  border: none;
}
.callback-form form .input-fields input {
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  height: 50px;
}
.callback-form form .input-fields textarea {
  height: 260px;
  resize: none;
  padding: 1.7rem 2rem;
}
.callback-form form .personal-info-wrapper {
  margin-top: 0.5rem;
}
.callback-form form .personal-info-wrapper label, .callback-form form .personal-info-wrapper input {
  cursor: pointer;
  font-weight: inherit;
}
.callback-form form .personal-info-wrapper input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.callback-form form .personal-info-wrapper input[type="checkbox"] + label {
  padding-left: 3.3rem;
  line-height: 1.2em;
  letter-spacing: 0.015rem;
}
.callback-form form .personal-info-wrapper input[type="checkbox"] + label:before {
  background: url(/images/templates/fieryflash_template/images/check.png) 0 0 no-repeat;
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 17px;
  top: 7px;
}
.callback-form form .personal-info-wrapper input[type="checkbox"]:checked + label:before {
  background-position: 0 -17px;
}
.callback-form form .execute {
  display: inline-block;
  background: #f63381;
  color: #090000;
  border: none;
  padding: 0 7.5rem;
  text-transform: uppercase;
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 1.8rem;
  margin-top: 1rem;
  letter-spacing: 0.1rem;
  line-height: 75px;
}
.ceilings .form-wrap {
  margin-left: 7rem;
  background: #fff;
  color: #090000;
  margin-top: 1rem;
  padding: 4rem 6rem 6rem 6rem;
}
.ceilings .form-wrap .form-title {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 2.6rem;
  line-height: 2.8rem;
}
.ceilings .form-wrap .form-title span {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  display: block;
}
.ceilings .form-wrap form {
  margin-top: 3rem;
}
.ceilings .form-wrap form input, .ceilings .form-wrap form button {
  outline: none;
}
.ceilings .form-wrap form label {
  display: block;
}
.ceilings .form-wrap form input.measure-address, .ceilings .form-wrap form input.measure-date, .ceilings .form-wrap form input.measure-time, .ceilings .form-wrap form input.measure-phone {
  width: 100%;
  line-height: 4.7rem;
  padding: 0 3rem 0 5.5rem;
  color: #000;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  background: url('/modules/mod_fiery_order/images/arrow.png') no-repeat #f9f9f9;
  background-position: 95% 20px;
  margin-bottom: 10px;
  border: solid 1px #b2b2b2;
}
.ceilings .form-wrap form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #090000;
}
.ceilings .form-wrap form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #090000;
}
.ceilings .form-wrap form :-ms-input-placeholder {
  /* IE 10+ */
  color: #090000;
}
.ceilings .form-wrap form :-moz-placeholder {
  /* Firefox 18- */
  color: #090000;
}
.ceilings .form-wrap form label[for="measure-address"], .ceilings .form-wrap form label[for="measure-date"], .ceilings .form-wrap form label[for="measure-time"], .ceilings .form-wrap form label[for="measure-phone"] {
  position: absolute;
  margin: 0;
}
.ceilings .form-wrap form label[for="measure-address"]:before, .ceilings .form-wrap form label[for="measure-date"]:before, .ceilings .form-wrap form label[for="measure-time"]:before, .ceilings .form-wrap form label[for="measure-phone"]:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 10px;
}
.ceilings .form-wrap form label[for="measure-address"]:before {
  background: url('/modules/mod_fiery_order/images/measure-address.png') no-repeat center;
}
.ceilings .form-wrap form label[for="measure-date"]:before {
  background: url('/modules/mod_fiery_order/images/measure-date.png') no-repeat center;
}
.ceilings .form-wrap form label[for="measure-time"]:before {
  background: url('/modules/mod_fiery_order/images/measure-time.png') no-repeat center;
}
.ceilings .form-wrap form label[for="measure-phone"]:before {
  background: url('/modules/mod_fiery_order/images/measure-phone.png') no-repeat center;
}
.ceilings .form-wrap .measurement-time {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3rem;
  line-height: 2.5rem;
}
.ceilings .form-wrap .measurement-time span {
  display: block;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
}
.gray-section {
  background: #181818;
  color: #fff;
  padding: 5rem 0;
}
.gray-section .categoryTitle {
  text-align: center;
}
.gray-section .catItem {
  background: #fff;
  color: #090000;
  margin-bottom: 3rem;
}
.white-section {
  background: #fff;
  color: #090000;
  padding: 7rem 0;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  line-height: 1.8em;
}
.white-section .categoryTitle {
  text-align: center;
}
.white-section .catItem {
  background: #fff;
  color: #090000;
}
.image-section-1 {
  padding: 8rem 0 10rem 0;
  background: url('/images/templates/fieryflash_template/images/calculation-bg.png') no-repeat center;
  background-size: cover;
  color: #fff;
}
footer {
  background: #090000;
  color: #fff;
  padding: 5rem 0;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #f63381;
  text-decoration: none;
}
footer a:focus {
  color: #f63381;
}
footer .f-4 > div, footer .f-5 > div {
  margin-left: 1rem;
}
footer .footer_block .title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 2rem;
  word-spacing: 6rem;
  margin-bottom: 1.5rem;
}
footer .phone a {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 2.4rem;
}
footer .phone div {
  margin-top: 1rem;
}
footer .phone, footer #copy {
  font-size: 1.4rem;
}
footer #copy {
  line-height: 1.8rem;
  color: #fff;
  margin-top: 1rem;
}
footer #copy a {
  color: #f63381;
}
footer #copy a:hover {
  color: #fff;
  text-decoration: none;
}
footer #copy a:focus {
  color: #fff;
}
.light-dark-button, .light-dark-button-inversion, .light-pink-button, .light-pink-button-inversion {
  background: none;
  text-transform: uppercase;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  line-height: 5.5rem;
  padding: 0 3.5rem;
  border: solid 1px;
}
.light-dark-button:hover, .light-dark-button-inversion:hover, .light-pink-button:hover, .light-pink-button-inversion:hover, .light-dark-button:focus, .light-dark-button-inversion:focus, .light-pink-button:focus, .light-pink-button-inversion:focus {
  cursor: pointer;
  outline: none;
  border: solid 1px;
}
.light-dark-button {
  border-color: #090000;
  color: #090000;
}
.light-dark-button:hover, .light-dark-button:focus {
  color: #f63381;
  border-color: #f63381;
}
.light-dark-button-inversion {
  border-color: #f63381;
  color: #f63381;
}
.light-dark-button-inversion:hover, .light-dark-button-inversion:focus {
  color: #090000;
  border-color: #090000;
}
.light-pink-button {
  border-color: #f63381;
  color: #f63381;
}
.light-pink-button:hover, .light-pink-button:focus {
  color: #fff;
  border-color: #fff;
}
.light-pink-button-inversion {
  border-color: #fff;
  color: #fff;
}
.light-pink-button-inversion:hover, .light-pink-button-inversion:focus {
  color: #f63381;
  border-color: #f63381;
}
.button-new-branch {
  display: inline-block;
  background: #f63381;
  border: none;
  width: 230px;
  height: 50px;
  margin-left: 1rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 50px;
  top: 40px;
  left: -40px;
  position: relative;
}
.videos .video-item {
  background: #000;
  color: #fff;
}
.videos .video-item .player-poster[data-poster] .play-wrapper[data-poster] {
  opacity: 1;
}
.videos .video-item .player-poster[data-poster] .play-wrapper[data-poster] svg path {
  fill: #f63381;
}
.videos .video-item .catItemBody {
  padding: 0 4rem 4rem;
}
.range-slider-form {
  background: #fff;
  color: #090000;
  padding: 4rem;
}
.range-slider-form .range-slider {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  width: 100%;
  height: auto;
  margin-top: 5.5rem;
}
.range-slider-form .range-slider .range-slider-row-1 {
  overflow: hidden;
  padding-bottom: 13px;
}
.range-slider-form .range-slider .range-slider-row-1 .range-slider-txt {
  font-size: 1.6rem;
  float: left;
  width: 49%;
  line-height: 1.6rem;
}
.range-slider-form .range-slider .range-slider-row-1 .range-slider-input {
  float: right;
  width: 10%;
}
.range-slider-form .range-slider .range-slider-row-1 .range-slider-input .range-slider-input-val {
  display: block;
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  text-align: right;
  border: none;
  color: #f63381;
  outline: none;
}
.range-slider-form .range-slider .range-slider-row-2 {
  clear: both;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.range-slider-form .range-slider .range-slider-row-2 .range-slider-line {
  position: relative;
  display: block;
  width: 100%;
  height: 22px;
  background: #090000;
  cursor: pointer;
  border: none;
  border-radius: 0px;
}
.range-slider-form .range-slider .range-slider-row-2 .range-slider-line span.ui-slider-handle {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  outline: none;
  top: -0.6em;
  margin-left: -0.7em;
  position: absolute;
  display: block;
  background: #fff;
  box-sizing: border-box;
  z-index: 7;
  border: solid 1px #f63381;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.range-slider-form .range-slider .range-slider-row-2 .range-slider-line .range-slider-line-child {
  height: 22px;
  position: relative;
  z-index: 1;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad {
  height: 20px;
  position: inherit;
  top: -15px;
  z-index: 3;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad ul li {
  width: 25%;
  height: 20px;
  background: #fff;
  margin-left: 1px;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad ul li:last-child {
  margin-right: 1px;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad2 {
  height: 30px;
  position: relative;
  top: -15px;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad2 .calс_tab_slider_num {
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  left: auto;
  width: auto;
  margin-left: -1%;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad2 .calс_tab_slider_num_1 {
  left: 0px;
  margin-left: -1px;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad2 .calс_tab_slider_num_15 {
  left: 25%;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad2 .calс_tab_slider_num_30 {
  left: 50%;
  margin-left: -10px;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad2 .calс_tab_slider_num_45 {
  left: 75%;
}
.range-slider-form .range-slider .range-slider-row-2 .calс_tab_slider_grad2 .calс_tab_slider_num_60 {
  right: -1px;
  margin-left: 0px;
}
.range-slider-form .range-slider .range-slider-price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 3rem;
  color: #090000;
  text-align: center;
  margin-top: 3rem;
  line-height: 3rem;
}
.range-slider-form .range-slider .range-details {
  text-align: center;
  margin-top: 4rem;
}
.range-slider-form .range-slider .range-details a.button {
  background: #090000;
  color: #f63381;
  display: inline-block;
  line-height: 7.4rem;
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0 4.8rem;
}
.range-slider-form .range-slider .range-details a.button:hover {
  cursor: pointer;
  color: #fff;
}
#uds-wrap {
  margin: 80px 50px 0 0;
}
@media screen and (max-width: 968px) {
  #uds-wrap {
    margin: 80px 0 0 0 !important;
  }
}
@media screen and (max-width: 968px) {
  .slick-slider .slick-list {
    margin: 0 !important;
  }
  .slick-slider .slick-list .slick-slide {
    margin: 0px;
  }
  hr {
    margin: 1rem 0 !important;
  }
  .logo {
    text-align: center;
  }
  .ceilings .row-2 {
    margin: 0 !important;
  }
  .ceilings .row-2 .info-blocks .action {
    width: 150px !important;
    height: 150px !important;
    top: 0px !important;
    padding: 1rem 2rem !important;
    right: 0px !important;
  }
  .ceilings .row-2 .info-blocks .action .action-price {
    font-size: 2rem !important;
  }
  .ceilings .row-2 .info-blocks .action .action-price span {
    font-size: 5rem !important;
    line-height: 5rem !important;
  }
  .ceilings .row-2 .info-blocks .information-label {
    margin-bottom: 4rem !important;
  }
  .ceilings .row-2 .slider {
    width: 100% !important;
  }
  .ceilings .row-2 .slider .slide-title span {
    font-size: 5.5rem !important;
  }
  .ceilings .row-2 .slick-arrow {
    display: none !important;
  }
  .ceilings .row-2 .slick-dots {
    margin: 0 !important;
  }
  .free-metering {
    width: 100% !important;
  }
  .section-2 {
    padding: 2rem 0 !important;
  }
  .section-2 form {
    padding: 4rem 2rem 5rem !important;
  }
  .section-2 .groups .group {
    margin-bottom: 2rem !important;
    width: 75%;
    margin: 0 auto;
  }
  .finished-objects {
    text-align: center;
    padding: 4rem 0;
  }
  .finished-objects .section-finished-objects-title {
    margin: 0 auto 4rem;
  }
  .finished-objects .assessment-wrap {
    display: grid;
  }
  .finished-objects .readmore {
    margin: 2rem !important;
  }
  .finished-objects .slick-dots {
    display: none !important;
  }
  .finished-objects .all-reviews {
    margin-top: 4rem;
  }
  .finished-objects .location, .finished-objects .calendar {
    margin-top: 0px !important;
    margin-bottom: 0px;
  }
  .category-ceilings .light-dark-button {
    width: 100% !important;
  }
  .category-ceilings .go-to-calculator {
    margin-top: 1rem;
  }
  .catalog-preview {
    padding: 4rem 0 5rem !important;
    text-align: center;
  }
  .catalog-preview .lamp-selected {
    margin: 0 auto !important;
  }
  .catalog-preview .color-title {
    text-align: left;
    margin-top: 2rem;
  }
  .catalog-preview .lamp-select {
    margin: 1rem 0 3rem;
  }
  .catalog-preview .slick-dots {
    display: none !important;
  }
  .catalog-preview .item-price {
    margin: 1rem 0 3rem;
    text-align: left;
  }
  .service-maintenance {
    background-size: 1200px;
    background-position-x: -500px;
  }
  .service-maintenance .service-maintenance-section-title h3 {
    font-size: 3.8rem;
    line-height: 6rem;
  }
  .service-maintenance .service-maintenance-section-body {
    width: 50%;
  }
  .zamer {
    background: url(/images/templates/fieryflash_template/images/master-zamer.png) #111 no-repeat top center;
    background-size: 1000px !important;
    margin-top: 0px !important;
    background-position-y: 170px;
    background-position-x: -170px;
    padding: 5rem 0 !important;
  }
  .zamer .section-zamer-title {
    font-size: 5.5rem;
  }
  .zamer .information-label {
    margin-top: 4.5rem !important;
    margin-bottom: 2rem !important;
  }
  .mod_k2_cetegories .tabs-wrapper .tab-content {
    padding-top: 1rem !important;
  }
  .mod_k2_cetegories .nav-tabs {
    display: grid;
  }
  .mod_k2_cetegories .slick-dots {
    display: none !important;
  }
  .mod_k2_cetegories .slick-slider .slick-prev {
    left: 15px;
  }
  .mod_k2_cetegories .slick-slider .slick-next {
    right: 15px;
  }
  .image-section-1 {
    padding: 4rem 0 5rem 0 !important;
  }
  .firm-counter {
    padding: 5rem 0 !important;
    text-align: center;
  }
  .ceilings-photo-section img {
    width: 100%;
    margin: 0 auto !important;
  }
  .ceilings-photo-section .slick-slider .slick-arrow {
    margin-top: 5rem;
  }
  .ceilings-photo-section .slick-slider .slick-prev {
    left: 15px;
  }
  .ceilings-photo-section .slick-slider .slick-next {
    right: 15px;
  }
  .ceilings-photo-section .slick-dots {
    display: none !important;
  }
  .ceilings-photo-section .all-photos {
    margin-top: 4rem !important;
  }
  .texture {
    padding: 4rem 0 5rem !important;
  }
  .texture .slick-slide img {
    width: 100%;
  }
  .texture .slick-slider .slick-prev {
    left: 15px;
  }
  .texture .slick-slider .slick-next {
    right: 15px;
  }
  .texture .slick-slider .slick-dots {
    display: none !important;
  }
  .technology {
    padding: 4rem 0 5rem !important;
  }
  .technology .technology-row-2 {
    margin-top: 0px !important;
  }
  .technology [class^='technology-item-'] {
    margin-bottom: 1rem;
  }
  .ceilings-photo-section {
    padding: 4rem 0 !important;
  }
  .product .product-details {
    margin-top: 4rem;
  }
  .collback {
    padding: 4rem 0 !important;
    text-align: center;
  }
  .collback .collback-form input.phone-number {
    width: 100%;
  }
  .collback .collback-form input.execute {
    width: 100%;
    margin-left: 0px;
    margin-top: 1rem;
  }
  .collback .collback-text span {
    font-size: 4.5rem !important;
  }
  .actions .action-label {
    display: none;
  }
  .actions .action-label-2 {
    position: initial !important;
  }
  .map_example_div {
    position: inherit !important;
    top: 0;
  }
  footer {
    text-align: center;
  }
  footer .pb-copy-wrap {
    display: block;
  }
}
/* Based on https://github.com/kenwheeler/slick/issues/187#issuecomment-59123524 */
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: block;
  /* undo display:none          */
  height: 0;
  /* height:0 is also invisible */
  overflow: hidden;
  /* no-overflow                */
}
.tab-content > .active, .pill-content > .active {
  height: auto;
  /* let the content decide it  */
}
/* bootstrap hack end */
[class*='fiery-city'], .mcs-module {
  width: auto !important;
}
[class*='fiery-city'] a.current-location, .mcs-module a.current-location {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  color: #f63381;
  border-bottom: 0;
  font-size: 1.6rem;
  line-height: 6rem;
}
[class*='fiery-city'] a.current-location:before, .mcs-module a.current-location:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 13px;
  background: url('/images/templates/fieryflash_template/images/label.png') no-repeat center;
  margin: 0 5px;
}
[class*='fiery-city'] .mcs-overlay, .mcs-module .mcs-overlay {
  background: rgba(0, 0, 0, 0.8);
}
[class*='fiery-city'] .mcs-dialog, .mcs-module .mcs-dialog {
  box-shadow: none !important;
  border-radius: 0px;
}
[class*='fiery-city'] .mcs-dialog a, .mcs-module .mcs-dialog a {
  color: #090000;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
}
[class*='fiery-city'] .mcs-dialog a:hover, .mcs-module .mcs-dialog a:hover {
  color: #f63381;
}
[class*='fiery-city'] .mcs-dialog a.active, .mcs-module .mcs-dialog a.active {
  color: #f63381;
}
[class*='fiery-city'] .mcs-dialog .cities .cities-group .first-letter-cities, .mcs-module .mcs-dialog .cities .cities-group .first-letter-cities {
  color: #f63381;
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
  font-size: 1.7rem;
}
[class*='fiery-city'] .mcs-dialog .mcs-modal-header .mcs-header .title, .mcs-module .mcs-dialog .mcs-modal-header .mcs-header .title {
  color: #f63381;
}
[class*='fiery-city'] .mcs-dialog .mcs-modal-header .close, .mcs-module .mcs-dialog .mcs-modal-header .close {
  background-color: #fff;
  border: 1px solid #b2b2b2;
  border-radius: 100%;
}
[class*='fiery-city'] .mcs-dialog .mcs-modal-header .close:hover, .mcs-module .mcs-dialog .mcs-modal-header .close:hover {
  border-color: #f63381;
}
[class*='fiery-city'] .mcs-dialog .mcs-modal-header .close:hover svg, .mcs-module .mcs-dialog .mcs-modal-header .close:hover svg {
  fill: #f63381;
}
[class*='fiery-city'] .mcs-dialog .mcs-modal-header .close svg, .mcs-module .mcs-dialog .mcs-modal-header .close svg {
  fill: #f63381;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
html body {
  font-size: 1.6rem;
  color: #000;
  background: #fff;
  word-wrap: break-word;
}
.gmnoprint, .gm-style-cc {
  display: none;
}
html, body, .wrapper {
  width: 100%;
  height: 100%;
  font-family: 'Conv_Gilroy-Light', Sans-Serif;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a {
  color: rgba(255, 255, 255, 0.5) !important;
}
header {
  padding: 1.2rem 0;
}
.header-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
i {
  color: #cea555;
}
.page-header {
  text-transform: uppercase;
  border-left: solid 1px #fff;
  padding-left: 10px;
}
.panel.moduletable {
  padding: 0;
}
.dots::after {
  content: '...';
  position: absolute;
  left: 50%;
  color: #cea555;
  font-size: 48px;
  margin-left: -20px;
}
p {
  font-weight: normal;
}
a {
  color: #377ad3;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus {
  color: #fff;
}
img {
  max-width: 100%;
  margin: 0 auto;
}
.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
input {
  display: block;
}
ul {
  padding-left: 20px;
}
.fixed {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 999;
}
header {
  color: #cea555;
}
.wrapper {
  max-width: 1700px;
  margin: 0 auto;
}
footer .pb-copy-wrap {
  justify-content: space-between;
}
#content-bottom {
  padding-bottom: 5rem;
  background: #181818;
}
.moduletable {
  padding: 0;
  margin: 0;
}
address .lead {
  display: inline-block;
  margin: 0;
}
.my_slick img {
  max-width: 100%;
}
.technology {
  background: #0c0c0c;
  color: #fff;
  padding: 10rem 0;
}
.technology .technology-section-title {
  text-align: center;
  margin-bottom: 5rem;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
}
.technology .technology-section-title h3 {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
}
.technology .technology-row-2 {
  margin-top: 30px;
}
.technology [class^='technology-item-'] {
  height: 285px;
  position: relative;
  background-size: cover !important;
}
.technology [class^='technology-item-'] a {
  color: #fff;
  position: absolute;
  left: 40px;
  bottom: 40px;
}
.technology .technology-item-1 {
  background: url('/images/templates/fieryflash_template/images/technology/1.png') no-repeat bottom center;
}
.technology .technology-item-2 {
  background: url('/images/templates/fieryflash_template/images/technology/2.png') no-repeat bottom center;
}
.technology .technology-item-3 {
  background: url('/images/templates/fieryflash_template/images/technology/3.png') no-repeat bottom center;
}
.technology .technology-item-4 {
  background: url('/images/templates/fieryflash_template/images/technology/4.png') no-repeat bottom center;
}
.technology .technology-item-5 {
  background: url('/images/templates/fieryflash_template/images/technology/5.png') no-repeat bottom center;
}
.technology .technology-name {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
}
.technology .all-technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.technology .all-technologies a.button {
  padding: 0 4.5rem;
}
.row-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-flex > [class^='col-'] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ceilings {
  background: url('/images/templates/fieryflash_template/images/ceilings-top-background.png') no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 0 0 4rem 0;
}
.ceilings .row-1 .contact-info {
  margin-top: 5px;
}
.ceilings .row-1 .contact-info .worktime {
  margin-left: 0;
}
.ceilings .row-1 .contact-info .regione-phone {
  margin-left: 80px;
}
.ceilings .row-1 .contact-info .phone {
  margin-left: 62px;
}
.ceilings .row-2 {
  margin-top: 7rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}
.ceilings .row-2 .slider {
  width: 770px;
}
.ceilings .row-2 .slider .slide-title {
  font-family: 'Conv_Gilroy-Medium', Sans-Serif;
  font-size: 5rem;
  margin-top: 3.5rem;
  line-height: 4.8rem;
  letter-spacing: 0.35px;
  margin-left: -0.1rem;
}
.ceilings .row-2 .slider .slide-title span {
  display: block;
  font-family: 'Conv_Gilroy-Black', Sans-Serif;
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 7.6rem;
  margin-left: -0.2rem;
  letter-spacing: 0.23rem;
}
.ceilings .row-2 .slider .info-blocks {
  display: flex;
  position: relative;
  z-index: 1;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.ceilings .row-2 .slider .info-blocks .info-left {
  letter-spacing: 0.45px;
}
.ceilings .row-2 .slider .info-blocks .info-left span.information-label {
  background: #f63381;
  color: #fff;
  display: table;
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2.4rem;
  padding: 0 2rem;
  margin-top: 5rem;
  line-height: 6.5rem;
  margin-bottom: 1.4rem;
}
.ceilings .row-2 .slider .info-blocks .action {
  position: absolute;
  top: -130px;
  width: 300px;
  height: 300px;
  right: 50px;
  border-radius: 50%;
  background: #f63381;
  color: #fff;
  padding: 6rem 3rem 0 3rem;
  text-align: center;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 2rem;
  z-index: auto;
}
.ceilings .row-2 .slider .info-blocks .action:before {
  content: '';
  width: 102px;
  height: 102px;
  display: block;
  position: absolute;
  background: url('/images/templates/fieryflash_template/images/corner.png') no-repeat center;
  z-index: -2;
  left: 30px;
  bottom: 25px;
}
.ceilings .row-2 .slider .info-blocks .action .action-price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 3.6rem;
  text-transform: uppercase;
}
.ceilings .row-2 .slider .info-blocks .action .action-price span {
  display: block;
  font-size: 11rem;
  line-height: 12rem;
  letter-spacing: 0.27rem;
  margin-bottom: 5px;
}
.ceilings .row-2 .free-metering {
  width: 400px;
}
.ceilings .row-2 .free-metering .form-wrap {
  margin-left: 0;
}
.section-2 {
  background: #181818;
  color: #fff;
  padding: 10rem 0;
}
.section-2 .groups [class^='col-']:nth-child(-n+2) {
  margin-bottom: 2rem;
}
.section-2 .groups [class^='col-'] .group-item {
  background: #090000;
  color: #fff;
  padding: 4rem 4rem 3.5rem 4rem;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  position: relative;
  width: 100%;
  height: 100%;
}
.section-2 .groups [class^='col-'] .group-item .group-item-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.section-2 .groups [class^='col-'] .group-item [class^='icon-'] {
  width: 60px;
  height: 60px;
  display: block;
}
.section-2 .groups [class^='col-'] .group-item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.section-2 form {
  background: #fff;
  color: #000;
  padding: 6rem 7rem;
  height: 100%;
}
.section-2 form .form-title {
  width: 80%;
  margin: 0 auto;
}
.section-2 form .form-title h3 {
  text-align: center;
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3rem;
  margin-top: 0;
  line-height: 3rem;
}
.section-2 form .range-slider-form {
  padding: 6rem 7rem;
}
.texture {
  background: url('/images/templates/fieryflash_template/images/texture/texture.png') #111 no-repeat center;
  color: #fff;
  background-size: cover;
  padding: 10rem 0;
}
.texture .texture-section-title {
  text-align: center;
  margin-bottom: 5rem;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
}
.texture .texture-section-title h3 {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
}
.texture [class^='texture-item-'] {
  background: #090000;
  color: #fff;
}
.texture [class^='texture-item-'] .item-discount {
  position: absolute;
  top: 3rem;
  left: 6rem;
  background: #f63381;
  color: #fff;
  padding: 0 1rem;
  line-height: 4rem;
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
}
.texture [class^='texture-item-'] .texture-item-body {
  padding: 2rem 4rem 4rem 4rem;
  position: relative;
}
.texture [class^='texture-item-'] .texture-item-body .item-title {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
  line-height: 2.5rem;
}
.texture [class^='texture-item-'] .texture-item-body .item-description {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
  line-height: 3rem;
}
.texture [class^='texture-item-'] .texture-item-body .item-price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 2.4rem;
  color: #f63381;
  margin-top: 3rem;
}
.texture [class^='texture-item-'] .texture-item-body .readmore {
  padding: 0 3.5rem;
  font-size: 1.7rem;
  line-height: 5rem;
  margin-top: 3rem;
}
.texture .all-textures {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.texture .all-textures a.button {
  padding: 0 6rem;
}
.ceilings-photo-section {
  background: url('/images/templates/fieryflash_template/images/ceilings-photo-background.png') no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 8rem 0;
}
.ceilings-photo-section .ceilings-photo-section-title {
  text-align: center;
  margin-bottom: 5rem;
}
.ceilings-photo-section .ceilings-photo-section-title h3 {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
  letter-spacing: 0.05rem;
}
.ceilings-photo-section img {
  margin-bottom: 0px;
}
.ceilings-photo-section .all-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.5rem;
}
.ceilings-photo-section .all-photos a.button {
  font-size: 1.6rem;
  line-height: 5rem;
  padding: 0 7.5rem;
}
.light-fixtures .categoryHeader, .videos .categoryHeader {
  text-align: center;
  margin: 9.5rem 0 6.5rem;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.7rem;
  letter-spacing: 0.035rem;
  color: #fff;
}
.light-fixtures .categoryHeader .categoryTitle, .videos .categoryHeader .categoryTitle {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 3.6rem;
}
.light-fixtures .light-fixtures-item, .videos .light-fixtures-item, .light-fixtures .video-item, .videos .video-item {
  width: 100%;
  margin-bottom: 3rem;
}
.light-fixtures .light-fixtures-item .catItemHeader .catItemTitle, .videos .light-fixtures-item .catItemHeader .catItemTitle, .light-fixtures .video-item .catItemHeader .catItemTitle, .videos .video-item .catItemHeader .catItemTitle {
  font-family: 'Conv_Gilroy-Bold', Sans-Serif;
  font-size: 2rem;
  letter-spacing: 0.01rem;
  line-height: 1.2em;
}
.light-fixtures .light-fixtures-item .catItemBody, .videos .light-fixtures-item .catItemBody, .light-fixtures .video-item .catItemBody, .videos .video-item .catItemBody {
  font-family: 'Conv_Gilroy-Light', Sans-Serif;
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: 0.01rem;
}
.light-fixtures .light-fixtures-item .catItemBody .catItemIntroText, .videos .light-fixtures-item .catItemBody .catItemIntroText, .light-fixtures .video-item .catItemBody .catItemIntroText, .videos .video-item .catItemBody .catItemIntroText {
  margin-top: 1.5rem;
}
.free-service {
  display: block;
  color: #888;
  line-height: 2rem;
  padding: 0 0 0 3rem;
  position: relative;
}
.free-service:before {
  content: '';
  width: 17px;
  height: 17px;
  display: block;
  background: url('/images/templates/fieryflash_template/images/gear.png') no-repeat center;
  left: 0px;
  position: absolute;
}
.text-ligth {
  font-family: 'Conv_Gilroy-Light', Sans-Serif;
}
.text-semibold {
  font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
}
.location {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 25px;
  margin: 10px 0 0 10px;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.4rem;
}
.location:before {
  content: '';
  width: 14px;
  height: 19px;
  display: block;
  background: url('/images/templates/fieryflash_template/images/location.png') no-repeat center;
  left: -10px;
  position: absolute;
}
.calendar {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 25px;
  margin-left: 10px;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.4rem;
  margin-top: 1.5rem;
}
.calendar:before {
  content: '';
  width: 17px;
  height: 17px;
  display: block;
  background: url('/images/templates/fieryflash_template/images/calendar.png') no-repeat center;
  left: -10px;
  position: absolute;
}
.price {
  font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
  font-size: 2.4rem;
}
.assessment-wrap span {
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.4rem;
}
.assessment-wrap .assessment {
  padding-left: 0;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  display: inline-block;
  margin-bottom: 0px;
}
.assessment-wrap .assessment li {
  width: 16px;
  height: 14px;
  background: url('/images/templates/fieryflash_template/images/star.png') no-repeat center;
  display: inline-block;
}
.image-crop-wrap {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.image-crop-wrap > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.k2Pagination {
  text-align: center;
  font-family: 'Conv_Gilroy-Regular', Sans-Serif;
  font-size: 1.6rem;
}
.k2Pagination ul {
  list-style: none;
  margin: 4rem auto;
  display: table;
  list-style: none;
  padding: 10px;
}
.k2Pagination ul > li {
  display: inline-block;
}
.k2Pagination ul > li > a {
  display: block;
  margin: 10px;
  border: solid 1px #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
}
.k2Pagination ul > li > span {
  display: block;
  margin: 10px;
  border: solid 1px #fff;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #f63381;
}
.k2Pagination .pagination-start, .k2Pagination .pagination-prev, .k2Pagination .pagination-next, .k2Pagination .pagination-end {
  display: none;
}
.salealert {
  position: fixed;
  z-index: 5;
  left: 50px;
  border-radius: 50%;
  bottom: 50px;
  height: 90px;
  width: 90px;
  background: url(/uds.png) no-repeat center #fff;
  background-size: contain;
}
.salealert a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.salealert span {
  display: none;
  width: 225px;
  border: solid 1px #eee;
  position: absolute;
  padding: 10px;
  left: 80px;
  bottom: 100px;
  background: #fff;
}
.salealert:hover span {
  display: inline-block !important;
  color: #090000;
}
