//материалы в категории
.actions{
	.categoryTitle{
		margin-bottom:5rem;
	}
	.catItemWrap{
    min-height: 450px;
		[class^='categoryItem']{
			position:relative;
			padding-bottom:10rem;
			width:100%;
			background:$color-1;
			color:$color-default;
			margin-bottom:3rem;
			.catItemHeader{
				position: relative;
				z-index: 1;
				min-height:240px;
				padding:4rem;
				.action-label{
					width: 170px;
					padding:0 1rem;
					font-size:1.1rem;
					line-height:170px;
					&:before{
						left: 10px;
						bottom: 10px;
					}
					.action-label-wrap{
						line-height: normal;
						display: inline-block;
						vertical-align: middle;
						.action-price{
						font-size: 2rem;
							span{
								font-size: 6rem;
								line-height: 6rem;
							}
						}
					}
				}
				.image-wrap{
					width: 100%;
					height: 240px;
					position: relative;
					overflow: hidden;
					z-index:-3;
					img{
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.action-title{
					color:$color-1;
					font-family:'Conv_Gilroy-Medium',Sans-Serif;
					font-size:3rem;
					line-height:3rem;
					margin-top:3rem;
					span{
						font-family:'Conv_Gilroy-Black',Sans-Serif;
						font-size:5rem;
						line-height:4rem;
						text-transform:uppercase;
						display:block;
						margin-bottom:0.6rem;
						letter-spacing: 0.15rem;
					}
				}	
			}

			.catItemBody{
				font-family: 'Conv_Gilroy-Regular', Sans-Serif;
				padding: 2rem 4rem;
			}
			.catItemIntroText{
        margin-top:2rem;
      }
			.catItemReadMore{
				position:absolute;
				bottom:3rem;
				left:4rem;
			}
		}
	}
}






.action-label{
	position: absolute;
    top:-1rem;
    right:0px;
    border-radius: 50%;
    background: #f63381;
    color: #fff;
    padding: 6rem 3rem 0 3rem;
    text-align: center;
    font-family: 'Conv_Gilroy-Regular', Sans-Serif;
    font-size: 2rem;
    z-index: auto;
    &:before{
		content: '';
		width: 102px;
		height: 102px;
		display: block;
		position: absolute;
		background: url(/images/templates/fieryflash_template/images/corner.png) no-repeat center;
		z-index: -2;
		// left: 30px;
		// bottom: 25px;
	}
	.action-price{
		font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
		font-size: 3.6rem;
		text-transform: uppercase;
		span{
			display: block;
			font-size: 5rem;
			line-height: 6rem;
			letter-spacing: 0.27rem;
			margin-bottom: 5px;
		}
	}
}











.actions{
	.catItemWrap{
		.categoryItem-type1{
      min-height:450px;
			.catItemHeader{
				.action-label{
					.action-label-wrap{
						.action-price{
							span{
							}
						}
					}

				}
				.image-wrap{
					height: 240px;
				}
			}
		}

		.categoryItem-type2{
      min-height:450px;
			background-size:cover !important;
			.catItemHeader{
				.action-label{
					.action-label-wrap{
						.action-price{
							span{
							}
						}
					}

				}
				.image-wrap{
					position:relative;
					top:0;
					left:0;
					right:0;
					bottom:0;
				}
			}
			.light-dark-button{
				border:solid 1px $color-1;
				color:$color-1;
			}
			.action-label-2{
				display:inline-block;
				background:$color-6;
				color:$color-1;
				line-height:5rem;
				padding:0 2rem;
				font-family:'Conv_Gilroy-Medium',Sans-Serif;
				font-size:2rem;
			}
      .action-title{
        margin-top:2rem;
      }
		}
	}
}





.action-item-header{
	.itemTitle{
		margin-bottom:5rem;
	}
}