
#uds-wrap{
margin: 80px 50px 0 0;
}
@media screen and (max-width: 968px){
#uds-wrap{
margin: 80px 0 0 0 !important;
}
  
}




		//адаптив начало
		@media screen and (max-width: 968px){
	.slick-slider{
    .slick-list{
    margin:0 !important;
    .slick-slide{
      margin:0px;
    }
    }
	}
	hr{
	margin: 1rem 0 !important;
	}
	
			.logo{
				text-align:center;
			}
			.ceilings{
				.row-2{
					margin:0 !important;
					.info-blocks{
						.action{
							width:150px !important;
							height:150px !important;
							top:0px !important;
							padding:1rem 2rem !important;
							right:0px !important;
							.action-price{
								font-size:2rem !important;
								span{
									font-size:5rem !important;
									line-height:5rem !important;
									}
							}
						}
						.information-label{
              margin-bottom:4rem !important;
						}
					}
					.slider{
						width:100% !important;
						.slide-title{
              span{
                font-size:5.5rem !important;
              }
            }
          }
					.slick-arrow{
						display:none !important;
					}
					.slick-dots{
						margin: 0 !important;
					}
				}
			}
			.free-metering{
				width:100% !important;
			}

			.section-2{
				padding:2rem 0 !important;
				form{
					padding:4rem 2rem 5rem !important;
				}
				.groups{
					.group{
						margin-bottom:2rem !important;
						width:75%;
						margin:0 auto;
					}
				}
			}
			.finished-objects{
				text-align:center;
				padding:4rem 0;
				.section-finished-objects-title{
					margin: 0 auto 4rem;
				}
				.assessment-wrap{
					display:grid;
				}
				.readmore{
					margin:2rem !important;
				}
				.slick-dots{
					display:none !important;
				}
				.all-reviews{
					margin-top:4rem;
				}
				.location, .calendar{
				margin-top:0px !important;
				margin-bottom:0px;
				}
			}

     .category-ceilings{
       .light-dark-button{
        width:100% !important;
       }
       .go-to-calculator{
        margin-top:1rem;
       }
     }
			.catalog-preview{
        padding:4rem 0 5rem !important;
				text-align:center;
				.lamp-selected{
					margin:0 auto !important;
				}
				.color-title{
					text-align: left;
					margin-top:2rem;
				}
				.lamp-select{
					margin:1rem 0 3rem;
				}
				.slick-dots{
					display:none !important;
				}
				.item-price{
					margin:1rem 0 3rem;
					text-align: left;
				}
			}
.service-maintenance{
    background-size: 1200px;
    background-position-x: -500px;
  .service-maintenance-section-title{
    h3{
      font-size:3.8rem;
      line-height:6rem;
    }
  }
   .service-maintenance-section-body{
    width:50%;
   }
}
			.zamer{
				background: url(/images/templates/fieryflash_template/images/master-zamer.png) #111 no-repeat top center;
				background-size: 1000px !important;
				margin-top: 0px !important;
				background-position-y: 170px;
    		background-position-x: -170px;
				padding:5rem 0 !important;
				.section-zamer-title{
          font-size:5.5rem;
				}
				.information-label{
				 margin-top:4.5rem !important;
         margin-bottom:2rem !important;
				}
			}
			.mod_k2_cetegories{
			.tabs-wrapper{
			.tab-content{
			padding-top:1rem !important;
			}
			}
				.nav-tabs{
					display:grid;
				}
				.slick-dots{
					display:none !important;
				}
				.slick-slider{
					.slick-prev{
						left:15px;
					}
					.slick-next{
						right:15px;
					}
				}
			}
			
		.image-section-1{
		padding: 4rem 0 5rem 0 !important;
		}
		
			
			.firm-counter{
			padding:5rem 0 !important;
				text-align:center;
			}
			.ceilings-photo-section{
				img{
					width:100%;
					margin:0 auto !important;
				}
				.slick-slider{
					.slick-arrow{
						margin-top:5rem;
					}
					.slick-prev{
						left:15px;
					}
					.slick-next{
						right:15px;
					}
				}
				.slick-dots{
					display:none !important;
				}
				.all-photos{
					margin-top:4rem !important;
				}
			}
			.texture{
			padding:4rem 0 5rem !important;
			.slick-slide{
			img{ width:100%;}
			}
				.slick-slider{
					.slick-prev{
						left:15px;
					}
					.slick-next{
						right:15px;
					}
					.slick-dots{
            display:none !important;
					}
				}
			}
			.technology{
			padding:4rem 0 5rem !important;
        .technology-row-2{
          margin-top:0px !important;
        }
        [class^='technology-item-']{
          margin-bottom:1rem;
        }
			}
			.ceilings-photo-section{
			padding:4rem 0 !important;
			}
			.product{
        .product-details{
          margin-top:4rem;
        }
			}
			.collback{
			padding:4rem 0 !important;
				text-align:center;
				.collback-form{
					input.phone-number{
						width:100%;
					}
					input.execute{
						width:100%;
						margin-left:0px;
						margin-top:1rem;
					}
				}
				.collback-text{
				span{
				font-size:4.5rem !important;
				}
				} 
			}
			.actions{
        .action-label{
          display:none;
        }
        .action-label-2{
          position:initial !important;
        }
			}
			.map_example_div{
        position:inherit !important;
        top:0;
			}
			footer{
				text-align:center;
				.pb-copy-wrap{
					display: block;
				}
			}
		}