#breadcrumbs{
    background: none;
    .breadcrumb{
        	background:none;
			display:inline-block;
			text-transform: uppercase;
			border-left: solid 1px #fff;
			border-radius: 0px;
			padding: 0 0 0 10px;
			margin: 3rem 0 1rem 0;
        a{
            color:$color-3;
        }
        span{
            color:$color-1;
        }
    }
}