//тонкие кнопки
.light-dark-button,
.light-dark-button-inversion,
.light-pink-button,
.light-pink-button-inversion{
	background:none;
	text-transform: uppercase;
	font-family: 'Conv_Gilroy-Regular', Sans-Serif;
	display: inline-block;
	text-align: center;
	font-size: 1.6rem;
  line-height: 5.5rem;
  padding: 0 3.5rem;
	border:solid 1px;
	&:hover,&:focus{
		cursor:pointer;
		outline:none;
		border:solid 1px;
	}
}

//тонкая белая кнопка с черной рамкой. Розовая при наведении
.light-dark-button{
	border-color: #090000;
	color: #090000;
	&:hover,&:focus{
		color:$color-6;
		border-color: $color-6;
	}
}

.light-dark-button-inversion{
	border-color: $color-6;
	color: $color-6;
	&:hover,&:focus{
		color:#090000;
		border-color: #090000;
	}
}

//розовая тонкая кнопка, белая при наведении
.light-pink-button{
	border-color: $color-6;
	color: $color-6;
	&:hover,&:focus{
		color:$color-1;
		border-color: $color-1;
	}
}

.light-pink-button-inversion{
	border-color: $color-1;
	color: $color-1;
	&:hover,&:focus{
		color:$color-6;
		border-color: $color-6;
	}
}


.button-new-branch{
  display: inline-block;
  background: #f63381;
  border: none;
  width: 230px;
  height: 50px;
  margin-left: 1rem;
  text-transform: uppercase;
  color: #fff;
  line-height: 50px;
  top: 40px;
  left: -40px;
  position: relative;
}