// Расчет стоимости начало
.mod_k2_cetegories{
	.calculation-section-title{
		text-align:center;
		h3{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:3.6rem;
			letter-spacing: 0.05rem;
		}
	}
	.tabs-wrapper{
		margin-top:1.5rem;
		ul.nav-tabs{
			border:none;
			text-align:center;
			li{
				float:none;
				display:inline-block;
				*display:inline; /* ie7 fix */
				zoom:1; /* hasLayout ie7 trigger */
				a{
					padding:0.6rem 1.5rem;
					border:none;
					border-radius: 0;
					color:$color-1;
					font-family:'Conv_Gilroy-Regular',Sans-Serif;
					font-size:1.7rem;
					&:hover{
						background:$color-1;
						color:$color-default;
					}
				}
				&.active{
					a{
						color:$color-default;
					}
				}
			}
		}
		.tab-content{
			padding-top:3rem;
			[class^='calculation-item-']{
					background:$color-default;
					color:$color-1;
				.item-discount{
					position:absolute;
					top:3rem;
					left:6rem;
					background:$color-6;
					color:$color-1;
					padding:0 1rem;
					line-height:4rem;
					font-family:'Conv_Gilroy-Bold',Sans-Serif;
					font-size:2rem;
				}
				.item-image{
						display: block;
						width: 100%;
						height: 230px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: 0 0;
						}
					}
				.calculation-item-body{
					padding:2.5rem 4rem 4rem 4rem;
					position:relative;
					.item-title{
						font-family:'Conv_Gilroy-Bold',Sans-Serif;
						font-size:2rem;
						line-height:2.5rem;
					}
					.item-description{
						font-family:'Conv_Gilroy-Regular',Sans-Serif;
						font-size:1.6rem;
						line-height:3rem;
					}
					.item-price{
						font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
						font-size: 2.4rem;
						color:$color-6;
						margin-top:3rem;
					}
					.free-service{
						padding-top:1.5rem;
					}
					.readmore{
						padding:0 3.5rem;
						font-size:1.7rem;
						line-height:5rem;
						margin-top:3rem;
					}
				}
			}
		}
	}
}


//вывод по тегам
.mod_k2_cetegories_tags{
	.item-description{
		margin-top:1rem;
		line-height:2rem !important;
	}
}


//результаты калькулятора
.calc-result-wrap{
	.result-title{
		margin-bottom:3rem;
	}
	#filter-tabs{
			border:none;
			text-align:center;
			li{
				float:none;
				display:inline-block;
				*display:inline; /* ie7 fix */
				zoom:1; /* hasLayout ie7 trigger */
				a{
					padding:0.6rem 1.5rem;
					border:none;
					border-radius: 0;
					color:$color-1;
					font-family:'Conv_Gilroy-Regular',Sans-Serif;
					font-size:1.7rem;
					&:hover{
						background:$color-1;
						color:$color-default;
					}
				}
				&.active{
					a{
						color:$color-default;
					}
				}
			}
	}
	.tab-content{
		padding-top:3rem;
		.slide-object{
			.slideItemExtraFieldTitle{
				font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
				font-size: 1.6rem;
				margin-top: 1rem;
			}
			.slide-object-title{
				font-family:'Conv_Gilroy-Bold',Sans-Serif;
    			font-size: 2rem;
    			line-height: 1.2;
			}
			.item-description{
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
				font-size:1.6rem;
				line-height:3rem;
			}
			.catItemExtraField{
				line-height:3rem;
			}
		}
	}
}