//календарь в модуле связи



 .ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

a.ui-datepicker-prev{
	background:url('/modules/mod_fiery_order/images/datepicker-arrow-left.png') no-repeat center;
}
a.ui-datepicker-next{
	background:url('/modules/mod_fiery_order/images/datepicker-arrow-right.png') no-repeat center;
}

.ui-timepicker-container {
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
}
.ui-timepicker, .ui-timepicker-viewport {
    box-sizing: content-box;
    height: 205px;
    display: block;
    margin: 0;
}
.ui-timepicker {
    list-style: none;
    padding:0;
}
.ui-timepicker-viewport {
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    cursor:pointer;
}
.ui-timepicker-standard {
	font-family:'Conv_Gilroy-Regular',Sans-Serif;
	font-size:1.6rem;
    background-color: #FFF;
    border: 1px solid #AAA;
    margin: 0;
}
.ui-timepicker-standard a {
    color:#000610;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
}
.ui-timepicker-standard .ui-state-hover {
    background-color: #d8d9db;
    color: #000610;
}
.ui-timepicker-standard .ui-menu-item {
    margin: 0;
    padding: 0;
}
.ui-timepicker-hidden {
    display: none;
}
.ui-timepicker-no-scrollbar .ui-timepicker {
    border: none;
}
//выпадающий календарь на форме связи
.ui-datepicker {
	width: 17em;
	padding: 2rem;
	display: none;
	background:$color-1;
	border:solid 1px #b2b4b7;
	.ui-datepicker-header{
		position: relative;
		padding: .2em 0;
		.ui-datepicker-title{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:1.6rem;
			margin: 0 2.3em;
			line-height: 1.8em;
			text-align: center;
			select {
				font-size: 1em;
				margin: 1px 0;
			}
		}
		.ui-datepicker-prev,.ui-datepicker-next {
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			color:$color-default;
			font-size:1.6rem;
			position: absolute;
			top: 2px;
			right:0;
			width: 1.8em;
			height: 1.8em;
			cursor:pointer;
		}
		.ui-datepicker-prev {
			left: 2px;
		}
		.ui-datepicker-next {
			right: 2px;
		}
		.ui-datepicker-prev span,
		.ui-datepicker-next span {
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			top: 50%;
			margin-top: -8px;
		}
	}
	table {
		width: 100%;
		font-size: .9em;
		border-collapse: collapse;
		margin: 0 0 .4em;
		thead{
			font-family:'Conv_Gilroy-Light',Sans-Serif;
			font-size:1.2rem;
		    th {
				padding: .7em .3em;
				text-align: center;
				font-weight: inherit;
				border: 0;
			}
		}
		tbody{
			font-family:'Conv_Gilroy-Light',Sans-Serif;
			font-size:1.4rem;
			td {
				border: solid 1px #b2b4b7;
				padding: 1px;
				span, a{
					display: block;
					padding: .2em;
					text-align: center;
					text-decoration: none;
					color:#585858;
				}
				&:hover{
					background:$color-6;
					cursor:pointer;
					span, a{
						color:$color-1;
					}
				}
			}
		}
	}
}