//страница примеры потолков
.ceiling-examples-wrap{
	background:$color-7;
	.ceiling-examples{
		background: $color-1;
		padding:4rem 0;
	}
	table{
		tr{
			td{
				padding:1rem 0;
			}
		}
	}
	.itemTitle{
		font-family:'Conv_Gilroy-Bold',Sans-Serif;
		font-size:2rem;
		margin-top: 0;
	}
	.itemFullText{
		font-family:'Conv_Gilroy-Medium',Sans-Serif;
		font-size:1.6rem;
	}
	.price{
		font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
	    font-size: 2.4rem;
	    color: #fa3786;
	    padding: 1rem 0;
	}
	.location{
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.6rem;
	}
	.itemIntroText{
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.6rem;
	}
	.image-crop-wrap{
	height:70px;
	}
	.client-wrap{
		margin:1rem auto;
		.client-avatar{
			img{
				width:70px;
				border-radius:50%;
			}
		}
		.client-name{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:2rem;
			margin-top:1rem;
		}
		.client-link{
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:1.6rem;
			color:$color-13;
		}
	}
	.assessment-wrap{
		span{
			float:left;
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:1.6rem;
		}
		.assessment{
			position: absolute;
			right:15px;
			margin-bottom:0px !important;
			li{
				margin-top:0.2rem;
			}
		}
	}
	.ceilings-details{
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.6rem;
		line-height:1.6em;
		ul{
			padding-left:0;
			margin-top:2rem;
			li{
				list-style:none;
				margin-bottom:1rem;
				span{
					font-family:'Conv_Gilroy-Semibold',Sans-Serif;
					font-size:1.6rem;
					word-spacing: 0.025rem;
				}
			}
		}
	}
}

// модуль на главной
.finished-objects{
	background:url('/images/templates/fieryflash_template/images/finished-objects-background.png') no-repeat center;
	background-size: cover;
	color:$color-1;
	padding:7.5rem 0 11rem;
	.section-finished-objects-title{
		text-align:center;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.7rem;
		margin-bottom:6rem;
		h3{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:3.6rem;
		}
	}
	.finished-objects-slider{
		.slide-object{
			background:$color-1;
			color:$color-default;
			padding:4rem;
			outline: none;

	.ceilings-pictures{
		.main-picture{
			.ceilings-image-wrap{
				display: block;
				width: 100%;
				height: 230px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 0 0;
				}
			}	
		}
		.all-pictures{
			margin: 5px -5px 0;
			.ceilings-miniatures-wrap {
				display: block;
				height: 70px;
				padding: 5px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 0 0;
				}
			}
		}
	}
			.slide-object-title{
				font-family:'Conv_Gilroy-Bold',Sans-Serif;
				font-size:2rem;
				line-height:2rem;
			}
			.readmore{
				padding: 0 3.5rem;
				font-size: 1.7rem;
				line-height: 5rem;
				margin-top: 5.5rem;
			}
			.main-picture {
				width: 100%;
				height: 230px;
				overflow: hidden;
			}
		}
	}
	.all-reviews{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10rem;
		a.button{
			line-height: 5rem;
			padding: 0 6rem;
			letter-spacing: 0.10rem;					
		}
	}
	hr{
    margin-top:10px;
    margin-bottom:10px;
	}
	.calendar{
     margin-bottom:1rem;
	}
}
//категория потолков
.category-ceilings{
	.categoryHeader{
		margin-bottom:4rem;
	}
	.catItem{
		width: 100%;
		overflow: hidden;
		.image-wrap{
			width: 100%;
			height: 240px;
			position: relative;
			overflow: hidden;
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.catItemBody{
			padding:0 2.5rem 3rem;
			.catItemTitle{
				font-family:'Conv_Gilroy-Bold',Sans-Serif;
				font-size:2rem;
				line-height: 1.2;
			}
			.catItemExtraField{
				line-height: 3.5rem;
				.catItemExtraFieldTitle{
					font-family:'Conv_Gilroy-Semibold',Sans-Serif;
					font-size:1.6rem;
					margin-top:1rem;
				}
				.free-service{
					padding-top:1.5rem;
				}
			}
			.price{
				color: $color-6;
				font-size:3rem;
			}
			.light-dark-button{
				padding:0 4rem;
				width: auto;
				line-height:5rem;
				margin-right: 0.5rem;
			}
		}
	}
	.tagsItemsPageTitle{
    margin-bottom:5rem;
	}
}