input.execute-measure{
	width:100%;
	border:none;
	background:$color-default;
	color:$color-6;
	text-transform:uppercase;
	font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
	font-size: 1.8rem;
	line-height:7.5rem;
	margin-top:2rem;
	&:hover{
		color:$color-1;
	}
}

.zamer{
	background:url('/images/templates/fieryflash_template/images/master-zamer.png') no-repeat top center #000;
	background-size:cover;
	color:$color-1;
	padding:24rem 0 10rem 0;
	margin-top: -155px;
	.section-zamer-title{
		font-family:'Conv_Gilroy-Black',Sans-Serif;
		font-size:7rem;
		line-height: 7rem;
		text-transform:uppercase;
		display:table;
		letter-spacing: .22rem;
	}
	.information-label{
		background:$color-6;
		color:$color-1;
		display:inline-block;
		font-family:'Conv_Gilroy-Bold',Sans-Serif;
		font-size:2.4rem;
		padding:0 2rem;
		margin-top:7.5rem;
		line-height: 6.5rem;
	}
	.price{
		font-family:'Conv_Gilroy-Medium',Sans-Serif;
		font-size:3.6rem;
		line-height: 4rem;
		display:inline;
		text-transform:uppercase;
		letter-spacing: .1rem;
		span{
			font-size:11rem;
			line-height: 11rem;
			display:table;
			letter-spacing: .3rem;
		}
		sup{
			font-size:55%;
			top: -0.6em;
		}
	}
	.form-wrap{
		background:$color-1;
		color:$color-default;
		margin-top:1rem;
		padding:4rem 6rem 7rem 6rem;
		.form-title{
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:2.6rem;
			line-height:2.6rem;
			span{
				font-family:'Conv_Gilroy-Bold',Sans-Serif;
				display:block;
			}
		}
		form{
			margin-top:3rem;
			input,button{
				outline:none;
			}
			label{
				display:block;
			}
			input.measure-address, input.measure-date, input.measure-time, input.measure-phone{
				width:100%;
				line-height:4.7rem;
				padding: 0 3rem 0 5.5rem;
				color: #000;
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
				font-size:1.6rem;
				background:url('/modules/mod_fiery_order/images/arrow.png')no-repeat $color-9;
				background-position:95% 20px;
				margin-bottom:10px;
				border: solid 1px $color-10;
			}
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: $color-default;
				}
				::-moz-placeholder { /* Firefox 19+ */
					color: $color-default;
				}
				:-ms-input-placeholder { /* IE 10+ */
					color: $color-default;
				}
				:-moz-placeholder { /* Firefox 18- */
					color: $color-default;
				}
			label[for="measure-address"],label[for="measure-date"],label[for="measure-time"],label[for="measure-phone"]{
				position:absolute;
				margin:0;
			}
			label[for="measure-address"]:before,label[for="measure-date"]:before,label[for="measure-time"]:before,label[for="measure-phone"]:before{
				content:'';
				display:block;
				width:18px;
				height:18px;
				position:absolute;
				top:15px;
				left:10px;
			}
			label[for="measure-address"]{
				&:before{
					background:url('/modules/mod_fiery_order/images/measure-address.png')no-repeat center;
				}
			}
			label[for="measure-date"]{
				&:before{
					background:url('/modules/mod_fiery_order/images/measure-date.png')no-repeat center;
				}
			}
			label[for="measure-time"]{
				&:before{
					background:url('/modules/mod_fiery_order/images/measure-time.png')no-repeat center;
				}
			}
			label[for="measure-phone"]{
				&:before{
					background:url('/modules/mod_fiery_order/images/measure-phone.png')no-repeat center;
				}
			}
		}
		.measurement-time{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:1.6rem;
			text-align:center;
			margin-top:3rem;
			span{
				display:block;
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
			}
		}
	}
}

.collback{
	padding:8rem 0;
	background:$color-7;
	color:$color-1;
	.collback-text{
		font-family:'Conv_Gilroy-Bold',Sans-Serif;
		font-size:3.6rem;
		span{
			display:block;
			font-size:5.5rem;
			line-height:1em;
		}
	}
	.collback-form{
		form{
			margin-top:2rem;
			input,button{
				outline:none;
			}
		}
		input.phone-number{
			display:inline-block;
			width:320px;
			height: 48px;
			padding: 0 2rem 0 4.2rem;
			border: none;
			color: #000;
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:1.6rem;
			background:$color-1;
		}
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: $color-default;
			}
			::-moz-placeholder { /* Firefox 19+ */
				color: $color-default;
			}
			:-ms-input-placeholder { /* IE 10+ */
				color: $color-default;
			}
			:-moz-placeholder { /* Firefox 18- */
				color: $color-default;
			}
		label[for="phone-number"]{
			position:absolute;
			margin:0;
		}
		label[for="phone-number"]:before {
			content:'';
			display:block;
			width:22px;
			height:22px;
			background:url('/modules/mod_fiery_collback/images/phone-icon.png')no-repeat center;
			position:absolute;
			top:14px;
			left:10px;
		}
		input.execute {
			display:inline-block;
			background:$color-6;
			border:none;
			width:230px;
			height:50px;
			margin-left:1rem;
			text-transform:uppercase;
		}
		span{
			display:block;
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:1.8rem;
			margin-top:2rem;
		}
	}
}

.callback-form{
	form{
		max-width:770px;
		margin:5.5rem auto 0;
		text-align:left;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.6rem;
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $color-default;
		}
		::-moz-placeholder { /* Firefox 19+ */
			color: $color-default;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: $color-default;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: $color-default;
		}
		input,button{
			outline:none;
		}
		.input-fields{
			label{
				position: absolute;
				margin: 0;
				font-weight:inherit;
			}
			input,textarea{
				width:100%;
				line-height:1em;
				color: $color-default;
				border:none;
			}
			input{
				padding: 1.5rem 2rem;
				margin-bottom:2rem;
				height:50px;
			}
			textarea{
				height: 260px;
				resize: none;
				padding: 1.7rem 2rem;
			}
		}
		.personal-info-wrapper{
			margin-top:0.5rem;
			label,input{
				cursor:pointer;
				font-weight:inherit;
			}
			input{
				&[type="checkbox"]{
					position: absolute;
    				left: -9999px;
				}
				&[type="checkbox"] + label{
					padding-left:3.3rem;
					line-height:1.2em;
					letter-spacing:0.015rem;
					&:before{
						background: url(/images/templates/fieryflash_template/images/check.png) 0 0 no-repeat;
						content: "";
						display: inline-block;
						width: 17px;
						height: 17px;
						position: absolute;
						left: 17px;
						top: 7px;
					}
				}
				&[type="checkbox"]:checked + label{
					&:before{
						background-position: 0 -17px;
					}
				}
			}
		}
		.execute{
			display: inline-block;
			background: $color-6;
			color: $color-default;
			border: none;
			padding:0 7.5rem;
			text-transform: uppercase;
			font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
			font-size: 1.8rem;
			margin-top:1rem;
			letter-spacing:0.10rem;
			line-height:75px;
		}
	}
}

.ceilings{
	.form-wrap{
		margin-left:7rem;
		background:$color-1;
		color:$color-default;
		margin-top:1rem;
		padding:4rem 6rem 6rem 6rem;
		.form-title{
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:2.6rem;
			line-height:2.8rem;
			span{
				font-family:'Conv_Gilroy-Bold',Sans-Serif;
				display:block;
			}
		}
		form{
			margin-top:3rem;
			input,button{
				outline:none;
			}
			label{
				display:block;
			}
			input.measure-address, input.measure-date, input.measure-time, input.measure-phone{
				width:100%;
				line-height:4.7rem;
				padding: 0 3rem 0 5.5rem;
				color: #000;
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
				font-size:1.6rem;
				background:url('/modules/mod_fiery_order/images/arrow.png')no-repeat $color-9;
				background-position:95% 20px;
				margin-bottom:10px;
				border: solid 1px $color-10;
			}
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: $color-default;
				}
				::-moz-placeholder { /* Firefox 19+ */
					color: $color-default;
				}
				:-ms-input-placeholder { /* IE 10+ */
					color: $color-default;
				}
				:-moz-placeholder { /* Firefox 18- */
					color: $color-default;
				}
			label[for="measure-address"],label[for="measure-date"],label[for="measure-time"],label[for="measure-phone"]{
				position:absolute;
				margin:0;
			}
			label[for="measure-address"]:before,label[for="measure-date"]:before,label[for="measure-time"]:before,label[for="measure-phone"]:before{
				content:'';
				display:block;
				width:18px;
				height:18px;
				position:absolute;
				top:15px;
				left:10px;
			}
			label[for="measure-address"]{
				&:before{
					background:url('/modules/mod_fiery_order/images/measure-address.png')no-repeat center;
				}
			}
			label[for="measure-date"]{
				&:before{
					background:url('/modules/mod_fiery_order/images/measure-date.png')no-repeat center;
				}
			}
			label[for="measure-time"]{
				&:before{
					background:url('/modules/mod_fiery_order/images/measure-time.png')no-repeat center;
				}
			}
			label[for="measure-phone"]{
				&:before{
					background:url('/modules/mod_fiery_order/images/measure-phone.png')no-repeat center;
				}
			}
		}
		.measurement-time{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:1.6rem;
			text-align:center;
			margin-top:3rem;
			line-height: 2.5rem;
			span{
				display:block;
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
			}
		}
	}
}