.contact-info{
	.worktime,.regione-phone,.phone{
		font-family:'Conv_Gilroy-Light',Sans-Serif;
		font-size:1.4rem;
		padding-left:10px;
		position:relative;
		float:right;
		letter-spacing: 0.45px;
		margin-top: 2px;
		line-height: 2.3rem;
		&:before{
			content:'';
			display:inline-block;
			position:absolute;
			left:-10px;
			top:5px;
		}
		span{
			display:block;
			font-family:'Conv_Gilroy-Semibold',Sans-Serif;
			font-size:1.6rem;
			word-spacing: 0.025rem;
		}
	}
	.worktime{
		&:before{
			content:'';
			width:13px;
			height:13px;
			background:url(/images/templates/fieryflash_template/images/worktime-icon.png) no-repeat center;
		}
	}
	.regione-phone{
		&:before{
			content:'';
			width:12px;
			height:12px;
			background:url(/images/templates/fieryflash_template/images/regione-phone-icon.png) no-repeat center;
		}
	}
	.phone{
		&:before{
			content:'';
			width:12px;
			height:12px;
			background:url(/images/templates/fieryflash_template/images/phone-icon.png) no-repeat center;
		}
	}
}

.top_phone_number{
    font-family:'Conv_Gilroy-Light',Sans-Serif;
		font-size:1.4rem;
  span{
    display:block;
    font-family:'Conv_Gilroy-Semibold',Sans-Serif;
    font-size:3rem;
    a{
      color:$color-default;
      text-decoration:none;
      &:hover{
        color:$color-6;
      }
    }
  }
  
}