@import url('https://fonts.googleapis.com/css?family=Exo+2');
*{margin:0; padding:0;}
html{
	font-size:$font-size-default;
	body{
		font-size: 1.6rem;
		color: $color-2;
		background: $color-1;
		word-wrap: break-word;
		//@media screen and (min-width: 968px){
			//.container{
				//width:1200px;
			//}
		//}
	}
}

//убираем мусор с гугл карты
.gmnoprint, .gm-style-cc{
display:none;
}

html,body,.wrapper {
    width: 100%;
    height: 100%;
    font-family:'Conv_Gilroy-Light',Sans-Serif;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family: 'Conv_Gilroy-Bold', Sans-Serif;}

.mb-1{margin-bottom:1rem;}
.mb-2{margin-bottom:2rem;}
.mb-3{margin-bottom:3rem;}
.mb-4{margin-bottom:4rem;}
.mb-5{margin-bottom:5rem;}
.mb-6{margin-bottom:6rem;}

// разобрать начало
.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a{
	color: rgba(255,255,255,0.5) !important;
}
header{padding:1.2rem 0;}
.header-content{
	padding-top:1.5rem;
	padding-bottom:1.5rem;
}
i{color:#cea555;}
.page-header{
	text-transform:uppercase;
	border-left:solid 1px #fff;
	padding-left:10px;}
.panel.moduletable {padding: 0}
.dots::after{
	content: '...';
	position: absolute;
	left: 50%;
	color: #cea555;
	font-size: 48px;
	margin-left: -20px;
}
// разобрать конец

p{font-weight:normal;}

a{color: $color-5;
	&:hover{
		color: $color-1;
		text-decoration:none;
	}
	&:focus{
		color: $color-1;
	}
}

img {max-width: 100%;margin: 0 auto;}

.no-gutters {
    & > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

input{display:block;}
ul {padding-left:20px;}

.fixed{
    position:fixed;
    width:100%;
    background:$color-1;
    z-index:999;
}

header{color:$color-3;}

.wrapper{max-width:1700px;margin: 0 auto;}

footer{
	.pb-copy-wrap{
    justify-content: space-between;
	}
}

#content-bottom{
	padding-bottom:5rem;
	background:$color-7;
}

.moduletable {padding: 0;margin: 0;}

address {
	.lead {
		display: inline-block;
		margin: 0;
	}
}

.my_slick {
    img {
        max-width: 100%;
    }
}

.technology{
	background:#0c0c0c;
	color:$color-1;
	padding:10rem 0;
	.technology-section-title{
		text-align:center;
		margin-bottom:5rem;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.7rem;
		h3{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:3.6rem;
		}
	}
	.technology-row-2{
		margin-top:30px;
	}

	[class^='technology-item-']{
		height:285px;
		position:relative;
		background-size:cover !important;
		a{	
			color:$color-1;
			position:absolute;
			left:40px;
			bottom:40px;
		}
	}

	.technology-item-1{background:url('/images/templates/fieryflash_template/images/technology/1.png')no-repeat bottom center;}
	.technology-item-2{background:url('/images/templates/fieryflash_template/images/technology/2.png')no-repeat bottom center;}
	.technology-item-3{background:url('/images/templates/fieryflash_template/images/technology/3.png')no-repeat bottom center;}
	.technology-item-4{background:url('/images/templates/fieryflash_template/images/technology/4.png')no-repeat bottom center;}
	.technology-item-5{background:url('/images/templates/fieryflash_template/images/technology/5.png')no-repeat bottom center;}

	.technology-name{
		font-family:'Conv_Gilroy-Bold',Sans-Serif;
		font-size:2rem;
	}

	.all-technologies{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top:6rem;
		a.button{
			padding:0 4.5rem;
		}
	}
}

// блоки одинаковой высоты начало
	.row-flex{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		> [class^='col-']{
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}
	}
// блоки одинаковой высоты конец

.ceilings{
	background:url('/images/templates/fieryflash_template/images/ceilings-top-background.png') no-repeat center;
	background-size: cover;
	color:$color-1;
	padding:0 0 4rem 0;
	.row-1{
		.contact-info{
			margin-top:5px;
			.worktime{
				margin-left:0;
			}
			.regione-phone{
				margin-left:80px;
			}
			.phone{
				margin-left:62px;
			}
		}
	}

	.row-2{
		margin-top:7rem;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom:6rem;
		.slider{
			width:770px;
			.slide-title{
				font-family:'Conv_Gilroy-Medium',Sans-Serif;
				font-size:5rem;
				margin-top:3.5rem;
				line-height:4.8rem;
				letter-spacing: 0.35px;
				margin-left:-0.1rem;
				span{
					display:block;
					font-family:'Conv_Gilroy-Black',Sans-Serif;
					font-size:8rem;
					text-transform:uppercase;
					line-height:7.6rem;
					margin-left:-0.2rem;
					letter-spacing: 0.23rem;
				}
			}
			.info-blocks{
				display:flex;
				position:relative;
				z-index:1;
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
				font-size:1.8rem;
				line-height: 2.2rem;
				.info-left{
					letter-spacing: 0.45px;
					span.information-label{
						background:$color-6;
						color:$color-1;
						display:table;
						font-family:'Conv_Gilroy-Bold',Sans-Serif;
						font-size:2.4rem;
						padding:0 2rem;
						margin-top:5rem;
						line-height: 6.5rem;
						margin-bottom:1.4rem;
					}
				}
				.action{
					position:absolute;
					top:-130px;
					width: 300px;
					height: 300px;
					right: 50px;
					border-radius:50%;
					background:$color-6;
					color:$color-1;
					padding: 6rem 3rem 0 3rem;
					text-align:center;
					font-family:'Conv_Gilroy-Regular',Sans-Serif;
					font-size:2rem;
					z-index:auto;
					&:before{
						content:'';
						width:102px;
						height:102px;
						display:block;
						position:absolute;
						background:url('/images/templates/fieryflash_template/images/corner.png')no-repeat center;
						z-index: -2;
						left: 30px;
						bottom: 25px;
					}
					.action-price{
						font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
						font-size: 3.6rem;
						text-transform:uppercase;
						span{
							display:block;
							font-size: 11rem;
							line-height: 12rem;
							letter-spacing:0.27rem;
							margin-bottom:5px;
						}
					}
				}
			}
		}
		.free-metering{
			width: 400px;
			.form-wrap{
				margin-left: 0;
			}
		}
	}
}
// экран 1 конец

// экран 2 начало
.section-2{
	background:$color-7;
	color:$color-1;
	padding:10rem 0;
	.groups{
		[class^='col-']{
			&:nth-child(-n+2){
				margin-bottom:2rem;
			}

			.group-item{
				background:$color-default;
				color:$color-1;
				padding:4rem 4rem 3.5rem 4rem;
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
				font-size:1.7rem;
				position:relative;
				width:100%;
				height:100%;
				.group-item-title{
					font-family:'Conv_Gilroy-Bold',Sans-Serif;
					font-size:2rem;
					margin-top:1rem;
					margin-bottom:0.5rem;
				}
				[class^='icon-']{
					width:60px;
					height:60px;
					display:block;
				}
				a{
					position:absolute;
					top:0;
					right:0;
					bottom:0;
					left:0;
				}
			}
		}
	}
	form{
		background:$color-1;
		color:$color-2;
		padding:6rem 7rem;
		height:100%;
		.form-title{
			width:80%;
			margin:0 auto;
			h3{
				text-align:center;
				font-family:'Conv_Gilroy-Bold',Sans-Serif;
				font-size:3rem;
				margin-top:0;
				line-height: 3rem;
			}
		}
		.range-slider-form{
			padding: 6rem 7rem;
		}
	}
}
// экран 2 конец

// фактуры натяжных потолков начало
.texture{
	background:url('/images/templates/fieryflash_template/images/texture/texture.png') #111 no-repeat center;
	color:$color-1;
	background-size:cover;
	padding:10rem 0;
	.texture-section-title{
		text-align:center;
		margin-bottom:5rem;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.7rem;
		h3{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:3.6rem;
		}
	}
	[class^='texture-item-']{
		background:$color-default;
		color:$color-1;
		.item-discount{
				position:absolute;
				top:3rem;
				left:6rem;
				background:$color-6;
				color:$color-1;
				padding:0 1rem;
				line-height:4rem;
				font-family:'Conv_Gilroy-Bold',Sans-Serif;
				font-size:2rem;
			}
		.texture-item-body{
			padding:2rem 4rem 4rem 4rem;
			position:relative;
			.item-title{
				font-family:'Conv_Gilroy-Bold',Sans-Serif;
				font-size:2rem;
				line-height:2.5rem;
			}
			.item-description{
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
				font-size:1.6rem;
				line-height:3rem;
			}
			.item-price{
				font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
				font-size: 2.4rem;
				color:$color-6;
				margin-top:3rem;
			}
			.readmore{
				padding:0 3.5rem;
				font-size:1.7rem;
				line-height:5rem;
				margin-top:3rem;
			}
		}
	}
.all-textures{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top:6rem;
		a.button{
			padding:0 6rem;
		}
	}
}
// фактуры натяжных потолков конец

// фото натяжных потолков начало
.ceilings-photo-section{
	background:url('/images/templates/fieryflash_template/images/ceilings-photo-background.png')no-repeat center;
	background-size:cover;
	color:$color-1;
	padding:8rem 0;
	.ceilings-photo-section-title{
		text-align:center;
		margin-bottom:5rem;
		h3{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:3.6rem;
			letter-spacing: 0.05rem;
		}
	}
	img{
		margin-bottom:0px;
	}
	.all-photos{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top:6.5rem;
		a.button{
			font-size:1.6rem;
			line-height:5rem;
			padding:0 7.5rem;
		}
	}
}
// фото натяжных потолков конец

// стили страниц (основной материал) начало

//оптимизированые стили светильников и видео
.light-fixtures, .videos{
	.categoryHeader{
		text-align:center;
		margin:9.5rem 0 6.5rem;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.7rem;
		letter-spacing:0.035rem;
		color:$color-1;
		.categoryTitle{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:3.6rem;
		}
	}
	.light-fixtures-item, .video-item{
		width: 100%;
		margin-bottom: 3rem;
		.catItemHeader{
			.catItemTitle{
				font-family:'Conv_Gilroy-Bold',Sans-Serif;
				font-size:2rem;
				letter-spacing:0.010rem;
				line-height:1.2em;
			}
		}
		.catItemBody{
			font-family:'Conv_Gilroy-Light',Sans-Serif;
			font-size:1.6rem;
			line-height: 1.5em;
			letter-spacing: 0.01rem;
			.catItemIntroText{
				margin-top:1.5rem;
			}
		}
	}
}
//отдельные элементы

//доп.поле бесплатный сервис иконка
.free-service{
	display: block;
    color: #888;
    line-height: 2rem;
    padding: 0 0 0 3rem;
    position: relative;
	&:before{
		content: '';
		width: 17px;
		height: 17px;
		display: block;
		background: url('/images/templates/fieryflash_template/images/gear.png') no-repeat center;
		left: 0px;
		position: absolute;
	}
}

.text-ligth{font-family:'Conv_Gilroy-Light',Sans-Serif;}
.text-semibold{font-family:'Conv_Gilroy-Semibold',Sans-Serif;}

.location{
	display: inline-block;
	position: relative;
	padding: 0 10px 0 25px;
	margin:10px 0 0 10px;
	font-family:'Conv_Gilroy-Regular',Sans-Serif;
	font-size:1.4rem;
	&:before{
		content: '';
		width: 14px;
		height: 19px;
		display: block;
		background: url('/images/templates/fieryflash_template/images/location.png') no-repeat center;
		left: -10px;
		position: absolute;
	}
}
	.calendar{
		display: inline-block;
		position: relative;
		padding: 0 10px 0 25px;
		margin-left: 10px;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.4rem;
		margin-top:1.5rem;
		&:before{
			content: '';
			width: 17px;
			height: 17px;
			display: block;
			background: url('/images/templates/fieryflash_template/images/calendar.png') no-repeat center;
			left: -10px;
			position: absolute;
		}
	}
	.price{
		font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
		font-size: 2.4rem;
	}
	.assessment-wrap{
		span{
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:1.4rem;
		}
		.assessment{
			padding-left:0;
			font-size:1.3rem;
			margin-top:0.5rem;
			display:inline-block;
			margin-bottom:0px;
			li{
				width:16px;
				height:14px;
				background:url('/images/templates/fieryflash_template/images/star.png') no-repeat center;
				display:inline-block;
			}
		}
	}
	
	

.image-crop-wrap{
    width: 100%;
    height: 240px;
    position: relative;
    overflow: hidden;
  > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}






.k2Pagination{
	text-align:center;
	font-family:'Conv_Gilroy-Regular',Sans-Serif;
	font-size:1.6rem;
	ul{
		list-style: none;
		margin: 4rem auto;
		display: table;
		list-style:none;
		padding:10px;
		> li{
		display:inline-block;
		> a{
			display:block;
			margin:10px;
			border: solid 1px $color-1;
			border-radius: 100%;
			width: 30px;
			height: 30px;
			line-height:30px;
			text-decoration:none;
			color:$color-1;
		}
	}
	}
  ul{
    > li{
     > span{
      display:block;
    margin:10px;
    border: solid 1px $color-1;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height:30px;
     text-decoration:none;
    color:$color-6;
     }
    }
  }
.pagination-start, .pagination-prev, .pagination-next, .pagination-end{
  display:none;
}
}


.salealert{
	position: fixed;
	z-index: 5;
	left: 50px;
	border-radius: 50%;
	bottom: 50px;
	height: 90px;
	width: 90px;
	background: url(/uds.png) no-repeat center #fff;
	background-size: contain;
	a{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	span {
		display: none;
		width: 225px;
		border: solid 1px #eee;
		position: absolute;
		padding: 10px;
		left: 80px;
		bottom: 100px;
		background: #fff;
	}


}

.salealert:hover span {
    display: inline-block !important;
    color:#090000;
}