#filter{
	background:#0c0c0c;
	.module-title{
		background:$color-1;
		overflow:hidden;
		.title{
			color:$color-default;
		}
	}
	.range-slider-form{
		.range-slider{
			margin-top:0;
		}
	}
	.calc-result-wrap{
		background:$color-default;
		color:$color-1;
		padding:4rem 0;
		margin-top:6rem;
	}
	.nav-tabs{
		border:none;
	}
  .filter-info{
    a{
      color:$color-6;
      &:hover{
        color:$color-1;
      }
    }
  }
}
//фильтр рассчеты слайдер
.filter{
	.slide-object{
		background:$color-1;
		color:$color-default;
		padding:4rem;
		.price{
			color:$color-6;
		}
	}
	.slick-slide {
		margin: 0 10px;
		outline:none;
		cursor:pointer;
	}
	.slick-list {
		margin: 0 -10px;
	}
}