//выгоды
.firm-counter{
	background:$color-7;
	color:$color-1;
	font-family:'Conv_Gilroy-Regular',Sans-Serif;
	font-size:1.7rem;
	padding:10rem 0;
	.firm-counter-title{
		font-size:2.4rem;
		text-transform:uppercase;
		span{
			display:block;
			font-size:6rem;
		}
	}
}