/*шрифты дизайна начало*/
@font-face {
  font-family: 'Conv_Gilroy-Light';
  src: url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Gilroy-Bold';
  src: url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Gilroy-Regular';
  src: url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Gilroy-Extrabold';
  src: url('../fonts/Gilroy/Gilroy-Extrabold/Gilroy-Extrabold.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Extrabold/Gilroy-Extrabold.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Extrabold/Gilroy-Extrabold.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Extrabold/Gilroy-Extrabold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Gilroy-Semibold';
  src: url('../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Semibold/Gilroy-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Gilroy-Black';
  src: url('../fonts/Gilroy/Gilroy-Black/Gilroy-Black.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Black/Gilroy-Black.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Black/Gilroy-Black.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Black/Gilroy-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Gilroy-Medium';
  src: url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot');
  src: local('☺'), url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}