footer{
	background: $color-default;
	color: $color-1;
	padding: 5rem 0;
	a{
		color:$color-1;
		&:hover{
	        color: $color-6;
			text-decoration:none;
	    }
	    &:focus{
	        color: $color-6;
	    }
	}
	.f-4 > div, .f-5 > div{
    	margin-left:1rem;
    }
	.footer_block{
		.title{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
		    font-size:1.8rem;
		    font-style: normal;
		    line-height: 2rem;
		    word-spacing: 6rem;
		    margin-bottom:1.5rem;
		}
	}
	.phone{
		a{
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:2.4rem;
		}
		div{
			margin-top: 1rem;
		}
	}

	.phone, #copy{
		font-size:1.4rem;
	}
	#copy{
		line-height: 1.8rem;
		color:$color-1;
    	margin-top:1rem;
    	a{
    		color:$color-6;
			&:hover{
        		color: $color-1;
				text-decoration:none;
    		}
			&:focus{
				color: $color-1;
			}
    	}
	}
}