//вакансии
.jobs{
	padding:7rem 0 6rem;
	.categoryTitle, .pageTitle{
		margin-bottom:6rem;
	}
	.catItem{
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		outline:solid 1px $color-14;
		padding:1rem 4rem 5rem;
		margin-bottom:4rem;
		.catItemBody{
			.catItemTitle{
				line-height:1.3em;
				letter-spacing:0.013em;
			}
			.catItemIntroText{
				line-height:1.9em;
				letter-spacing:0.013em;
			}
		}
		.catItemExtraFields{
			line-height:1.9em;
			.itemExtraField{
				span{
					font-family:'Conv_Gilroy-Semibold',Sans-Serif;
				}
			}
			.price{
				line-height:2.6em;
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
				font-size:3rem;
				margin:0;
			}
			.link{
				margin-top:1rem;
				a{
					font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
					font-size: 1.8rem;
					display: inline-block;
					width: 100%;
					line-height:7.5rem;
					text-align: center;
					background:$color-6;
					color:$color-default;
					text-transform:uppercase;
					letter-spacing:0.075em;
				}
			}
		}
	}
}