//страница светильников (категория)
.light-fixtures{
	background:$color-2;
	.light-fixtures-item{
		background: $color-1;
		padding:4rem;
		.catItemPrice{
			font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
			font-size: 2.4rem;
			color: $color-6;
			padding: 1rem 0;
		}
		.catItemReadMore{
			.button{
				font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
			}
		}
	}
}
//страница светильников (материал)
.product{
	padding:7rem 0;
	.product-title{
		font-family:'Conv_Gilroy-Bold',Sans-Serif;
		font-size:3.6rem;
		letter-spacing:0.010em;
	}
	.product-short-description{
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.6rem;
		line-height:1.6em;
	}
	.product-full-description{
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.6rem;
		line-height:1.6em;
		.product-full-description-title{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:2.4rem;
			margin-bottom:1rem;
			line-height:1.2em;
		}
	}
	.product-color{
    margin:3.5rem 0;
	}
	.product-details{
		border:solid 1px $color-4;
		padding: 1.5rem 4.5rem 4rem;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.6rem;
		line-height:1.6em;
		.product-details-title{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:2.4rem;
		}
		ul{
			padding-left:0;
			margin-top:2rem;
			li{
				list-style:none;
				margin-bottom:1rem;
				span{
					font-family:'Conv_Gilroy-Semibold',Sans-Serif;
					font-size:1.6rem;
					word-spacing: 0.025rem;
				}
			}
		}
	}
  .lamp-selected{
    max-width:100%;
    height:auto;
    img{
      width:100%;
    }
  }
	.product-price{
		font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
		font-size: 3.6rem;
		color:$color-6;
		margin-top:6rem;
	}
  .product-specifications{
    margin-top:7.5rem;
  }
}