//каталог светильников слайдер на главной
.catalog-preview{
	background:$color-1;
	color:#000;
	font-family:'Conv_Gilroy-Regular',Sans-Serif;
	font-size:1.7rem;
	padding:10rem 0;
	.catalog-preview-title{
		text-align:center;
		margin-bottom:5rem;
		h3{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:3.6rem;
		}
	}
	.catalog-items-preview{
		padding-bottom: 80px;
		.catalog-item-preview{
			border:solid 1px $color-4;
			outline:none;
			min-height:300px;
			position:relative;
			padding-bottom:120px;
			.item-body{
				margin: 20px 40px 0 40px;
				.item-title{
					font-family:'Conv_Gilroy-Bold',Sans-Serif;
					font-size:2rem;
				}
				.item-price{
					font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
					font-size: 2.4rem;
					color:$color-6;
				}
			}
			.item-readmore{
				position: absolute;
				bottom: 5rem;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				a.light-dark-button{
					font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
					width: 100%;
					margin: 0 40px;
				}
			}
		}
	}
	.to-catalog{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top:2rem;
		a.button{
			padding:0 4rem;
		}
	}
}
//выбор цвета светильника начало
.lamp-selected {
	position: relative;
	max-width: 200px;
	width: 100%;
	height: 200px;
	img {
		left: 0;
		right: 0;
		top: 20px;
		margin: 0 auto;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: 300ms all linear;
		-o-transition: 300ms all linear;
		transition: 300ms all linear;
		position: absolute;
		&.active{
			visibility: visible;
			opacity: 1;
		}
	}
}
.product-intro{
  .lamp-selected{
    img{
      position:relative; 
    }
  }
}
.lamp-select{
	margin-top:10px;
	.select-list{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 -9px 0;
		.lamp-selector{
				width: 24px;
				height: 24px;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				-webkit-background-size: 200% 200%;
				background-size: 200%;
				background-position: center;
				position: relative;
				margin: 0 4px 10px;
				cursor: pointer;
				&:hover{
					.select-color{
						opacity: 1;
						visibility: visible;
						margin-top: 0;
					}
				}
			.select-color{
				opacity: 0;
				visibility: hidden;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 64px;
				background: #fff;
				padding: 5px 10px;
				border-radius: 5px;
				white-space: nowrap;
				box-shadow: 0 0 10px 0 #000000;
				margin-top: 10px;
				transition: .3s;
				&:before{
					content: '';
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 10px solid #ffffff;
					position: absolute;
					left: 50%;
					margin-left: -5px;
					top: 100%;
					z-index: 10;
				}
			}		
		}
	}
}
//выбор цвета светильника конец

//другие светильники слайдер
.other_lamps{
	background:$color-default;
	color:$color-1;
	font-family:'Conv_Gilroy-Regular',Sans-Serif;
	font-size:1.7rem;
	padding:10rem 0;
	.catalog-preview-title{
		text-align:center;
		margin-bottom:5rem;
		h3{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:3.6rem;
		}
	}
	.catalog-items-preview{
		padding-bottom: 80px;
		.catalog-item-preview{
			outline:none;
			position:relative;
			background:$color-1;
			color:$color-default;
			.item-body{
				margin: 20px 40px;
				.item-title{
					font-family:'Conv_Gilroy-Bold',Sans-Serif;
					font-size:2rem;
				}
				.item-price{
					font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
					font-size: 2.4rem;
					color:$color-6;
				}
			}
			.item-readmore{
				position: absolute;
				bottom: 0;
				width: 100%;
				a.button{
					font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
				}
			}
		}
	}
	.to-catalog{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top:2rem;
		a.button{
			border:solid 1px $color-6;
			color:$color-6;
			text-transform:uppercase;
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:1.6rem;
			padding:1.5rem 4rem;
			display:inline-block;
		}
	}
}