// карта начало
.maps{
	padding:15rem 0;
	height:570px;
	position:relative;
	background:url('/images/templates/fieryflash_template/images/maps.png')no-repeat center #181818;
	.maps-info{
		position:absolute;
		text-align:center;
		left:50%;
		margin-left:-116px;
		display:block;
		width:232px;
		height:246px;
		padding:3rem;
		color:$color-default;
		background:url('/images/templates/fieryflash_template/images/ellipse.png')no-repeat center;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.7rem;
		&::before{
			content:'';
			display:block;
			width:120px;
			height:105px;
			background:url('/images/templates/fieryflash_template/images/logo-potolki-footer.png')no-repeat center;
			position:relative;
			left:50%;
			margin-left:-6rem;
			margin-bottom:1rem;
		}
	}
}
//карта конец
// модуль карты начало
.fiery_custom_map_wrap{
	.container{
		position:relative;
		.map_example_div{
			position: absolute;
			top: -40rem;
			max-height:300px;
			overflow-y:auto;
			> .active{
        opacity:1 !important;
			}
			.store{
				background:$color-1;
				margin-bottom:0.2rem;
				padding:2rem;
				cursor:pointer;
				opacity:0.8;
				&:last-child{
					margin-bottom:0;
				}
			}
		}
		.col-sm-12{
			min-height:auto;
		}
	}
	.fiery_custom_map{
		width: 100%;
		height: 500px;
	}
	.worktimes{
		position:relative;
		margin-left:0;
   		padding-left: 3rem;
		&:before{
			content: '';
			width: 13px;
			height: 13px;
			background: url(/images/templates/fieryflash_template/images/worktime-icon.png) no-repeat center;
			position: absolute;
			top: 0.5rem;
			left: 0;
		}
	}
	.phone{
		position:relative;
		margin-left:0;
   		padding-left: 3rem;
		&:before{
			content: '';
		    width: 13px;
		    height: 13px;
		    background: url(/images/templates/fieryflash_template/images/phone-icon.png) no-repeat center;
		    position: absolute;
		    top: 0.5rem;
		    left: 0;
		}
	}
		.maps-object-label-text{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:1.6rem;
			.phone{
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
				font-size:1.3rem;
				height:30px;
				line-height:30px;
				padding-left: 3rem;
			}
		}
}
.fiery_custom_map_title{
	background: #090000;
	color: #fff;
	padding: 2rem 0;
	overflow: hidden;	
}