// секция выбор мастера начало
.master-section{
	background:$color-7;
	color:$color-1;
	padding:7rem 0 16rem 0;
	position:relative;
	.master-section-title{
		text-align:center;
		margin-bottom:5rem;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.7rem;
		h3{
			font-family:'Conv_Gilroy-Bold',Sans-Serif;
			font-size:3.6rem;
			letter-spacing: 0.05rem;
		}
	}
	form{
		margin-top:7rem;
		.form-select{
			display: flex;
			justify-content: space-between;
			.text{
				margin-bottom:1.5rem;
				font-family:'Conv_Gilroy-Regular',Sans-Serif;
				font-size:1.7rem;
			}

			//выбор инструмента начало
				.tools{
					margin-top:10px;
					width:410px;
					.select-tools{
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-flex-wrap: wrap;
						-ms-flex-wrap: wrap;
						flex-wrap: wrap;
						margin: 0 -5px 0;
						.selector{
							width: 130px;
							height: 120px;
							position: relative;
							margin: 0 5px 10px;
							cursor: pointer;
							z-index:2;
							&:hover{
								background-position-y: -90px !important;
								.select-tool{
									opacity: 1;
									visibility: visible;
									color:$color-default;
									margin-top: 0;
									z-index:999;
								}
							}
							.select-tool{
								opacity: 0;
								visibility: hidden;
								position: absolute;
								left: 50%;
								transform: translateX(-50%);
								bottom: 64px;
								background: #fff;
								padding: 5px 10px;
								border-radius: 5px;
								white-space: nowrap;
								box-shadow: 0 0 10px 0 #000000;
								margin-top: 10px;
								transition: .3s;
								&:before{
									content: '';
									width: 0;
									height: 0;
									border-left: 5px solid transparent;
									border-right: 5px solid transparent;
									border-top: 10px solid #ffffff;
									position: absolute;
									left: 50%;
									margin-left: -5px;
									top: 100%;
									z-index: 10;
								}
							}
							&.active{
								background-position-y: -90px !important;
							}	
						}	
					}
				}
			//выбор инструмента конец
			//выбор мастера начало
				.masters{
					margin-top:10px;
					margin-right:0;
					width:410px;
					.select-masters{
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-flex-wrap: wrap;
						-ms-flex-wrap: wrap;
						flex-wrap: wrap;
						margin: 0 -5px 0;
						.selector{
							width: 130px;
							height: 120px;
							background-position: center;
							position: relative;
							margin: 0 5px 10px;
							cursor: pointer;
							z-index:2;
							&:hover{
								background-position-y: -90px !important;
								.select-master{
									opacity: 1;
									visibility: visible;
									color:$color-default;
									margin-top: 0;
									z-index:999;
								}
							}
							.select-master{
								opacity: 0;
								visibility: hidden;
								position: absolute;
								left: 50%;
								transform: translateX(-50%);
								bottom: 64px;
								background: #fff;
								padding: 5px 10px;
								border-radius: 5px;
								white-space: nowrap;
								box-shadow: 0 0 10px 0 #000000;
								margin-top: 10px;
								transition: .3s;
								&:before{
									content: '';
									width: 0;
									height: 0;
									border-left: 5px solid transparent;
									border-right: 5px solid transparent;
									border-top: 10px solid #ffffff;
									position: absolute;
									left: 50%;
									margin-left: -5px;
									top: 100%;
									z-index: 10;
								}
							}
							&.active{
								background-position-y: -90px !important;
							}		
						}
					}
				}
				//выбор мастера конец
		}
		.execute-master{
			font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
			font-size: 1.8rem;
			line-height:7rem;
			padding: 0 2rem;
			letter-spacing: 0.14rem;
			word-spacing: 0.1rem;
			position:absolute;
			right:0;
			bottom:10px;
			z-index:3;
		}
	}

			.masters-faces{
				position: absolute;
			    max-width: 100%;
			    width: 100%;
			    bottom: 0;
			    left: 50%;
			    margin-left: -50%;
				img {
					left: 0;
					right: 0;
					bottom: 0;
					margin: 0 auto;
					visibility: hidden;
					opacity: 0;
					-webkit-transition: 300ms all linear;
					-o-transition: 300ms all linear;
					transition: 300ms all linear;
					position: absolute;
					z-index:1;
					&.active{
						visibility: visible;
						opacity: 1;
					}
				}
			}
}
// секция выбор мастера конец