//страницы материалов
.materials{
	padding-top:4rem;
	padding-bottom:4rem;
	.itemHeader{
		.itemTitle{
			font-size: 3.6rem;
		}
	}
	.itemBody{
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.7rem;
		line-height:1.8em;
		.material-images-wrapper{
			img{
				width: 100%;
				margin-bottom: 3rem;
			}
		}
		.manufacturers{
			display: flex;
			img{
				border: solid 1px;
			}
		}
	}
}