[class*='fiery-city'], .mcs-module{
  width:auto !important;
  a.current-location{
    font-family:'Conv_Gilroy-Bold',Sans-Serif;
    color:$color-6;
    border-bottom:0;
    font-size:1.6rem;
    line-height:6rem;
      &:before{
        content: '';
        display:inline-block;
        width:11px;
        height:13px;
        background: url('/images/templates/fieryflash_template/images/label.png') no-repeat center;
        margin: 0 5px;
      }
  }
  .mcs-overlay{
    background:rgba(0,0,0,0.8);
  }
  .mcs-dialog{
    box-shadow:none !important;
    border-radius:0px;
    a{
      color:$color-default;
      font-family:'Conv_Gilroy-Regular',Sans-Serif;
      &:hover{
        color:$color-6;
      }
      &.active{
        color:$color-6;
      }
    }
    .cities{
      .cities-group{
        .first-letter-cities{
          color:$color-6;
          font-family: 'Conv_Gilroy-Semibold', Sans-Serif;
          font-size: 1.7rem;
        }
      }
    }
    .mcs-modal-header{
      .mcs-header{
        .title{
          color:$color-6;
        }
      }
        .close {
            background-color: $color-1;
            border: 1px solid $color-10;
            border-radius: 100%;
            &:hover{
              border-color: $color-6;
              svg {
                fill: $color-6;
              }
            }
            svg{
              fill: $color-6;
            }
        }
    }
  }
}