
ul.dj-mobile-my li.dj-mobileitem.active > ul{
max-height:3000px !important;}


#navigation{
        background:rgba(0,0,0,0.5);
        z-index:999;
        width:100%;
        margin-bottom:3rem;
    .link-bold{
        font-family:'Conv_Gilroy-Semibold',Sans-Serif;
        font-size: 17px;
        }
    .dj-megamenu{
        .caret{
            display: none;
        }
    }
    .dj-megamenu-my{
        .withmodule{
            float:right !important;
        }
    }
}

footer{
    font-size:1.6rem;
    .nav {
        display:block;
        li {
            &:first-child{
                a{
                    padding-top:0px;
                }
        }

                a {
                    line-height:2.2rem;
                    color: $color-1;
                    display: block;
                    padding: 0.7rem 0;
                    text-decoration: none;
                    &:hover, &:focus,&:active {
                        background:none;
                        color: $color-6;
                    }
                }
            }
            & > li {
                & > ul {
                    width: 100%;
                    position: relative;
                    float: none;
                    padding: 0px;
                    margin: 0px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
    }
}