.range-slider-form{
	background: $color-1;
	color: $color-default;
	padding: 4rem;
	.range-slider{
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.6rem;
		width:100%;
		height:auto;
		margin-top:5.5rem;
			.range-slider-row-1{
				overflow:hidden;
				padding-bottom:13px;
				.range-slider-txt{
					font-size:1.6rem;
					float:left;
					width:49%;
					line-height:1.6rem;
				}
				.range-slider-input{
					float:right;
					width:10%;
					.range-slider-input-val{
						display:block;
						font-family: 'Conv_Gilroy-Extrabold', Sans-Serif;
						width:100%;
						height:20px;
						box-sizing:border-box;
						text-align: right;
						border:none;
						color:$color-6;
						outline:none;
					}
				}
			}
			.range-slider-row-2{
				clear:both;
				position:relative;
				width:100%;
				box-sizing:border-box;
				display:block;
				.range-slider-line{
					position:relative;
					display:block;
					width:100%;
					height:22px;
					background:$color-default;
					cursor:pointer;
					border:none;
					border-radius: 0px;
					span.ui-slider-handle{
						width: 1.5em;
						height: 1.5em;
						cursor:pointer;
						outline:none;
						top: -.6em;
						margin-left: -.7em;
						position:absolute;
						display:block;
						background:$color-1;
						box-sizing:border-box;
						z-index:7;
						border:solid 1px $color-6;
						border-radius:50%;
						box-shadow: 0 0 10px rgba(0,0,0,0.35);
					}
					.range-slider-line-child{
						height:22px;
						position: relative;
						z-index:1;
					}
				}
				.calс_tab_slider_grad{
					height: 20px;
					position: inherit;
					top: -15px;
					z-index: 3;
					ul{
						list-style: none;
						display: flex;
						padding:0;
						li{
							width: 25%;
							height: 20px;
							background: #fff;
							margin-left: 1px;
							&:last-child{
								margin-right: 1px;
							}
						}
					}
				}
				.calс_tab_slider_grad2{
					height:30px;
					position: relative;
    				top: -15px;
					.calс_tab_slider_num{
						font-size:1.5rem;
						position:absolute;
						top:0px;
						left:auto;
						width:auto;
						margin-left:-1%;
					}
					.calс_tab_slider_num_1{left:0px; margin-left:-1px;}
					.calс_tab_slider_num_15{left:25%;}
					.calс_tab_slider_num_30{left:50%;margin-left:-10px;}
					.calс_tab_slider_num_45{left:75%;}
					.calс_tab_slider_num_60{right:-1px; margin-left:0px;}
				}
			}
			.range-slider-price{
				font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
				font-size: 3rem;
				color:$color-default;
				text-align:center;
				margin-top:3rem;
				line-height:3rem;
			}
		.range-details{
			text-align:center;
			margin-top:4rem;
			a.button{
				background:$color-default;
				color:$color-6;
				display:inline-block;
				line-height:7.4rem;
				font-family:'Conv_Gilroy-Extrabold',Sans-Serif;
				font-size: 1.8rem;
				text-transform:uppercase;
				padding:0 4.8rem;
				&:hover{
					cursor:pointer;
					color:$color-1;
				}
			}
		}
	}
}