.reviews{
	padding:7rem 0 8rem;
	.categoryHeader{
		margin-bottom:6.5rem;
		.categoryDescription{
			font-family:'Conv_Gilroy-Regular',Sans-Serif;
			font-size:1.7rem;
		}		
	}


	.catItemWrap{
		.catItem{
			.catItemHeader{
				.image-wrap{
					width: 100%;
					height: 220px;
					position: relative;
					overflow: hidden;
					img{
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
					a{
						display: block;
						position: absolute;
						top: 0px;
						left: 0px;
						right: 0px;
						bottom: 0px;
						cursor: pointer;
					}
				}
			}
			.catItemBody{
				margin:3rem 2.5rem 3.5rem;
				.catItemTitle{
					font-size:2rem;
				}
				hr{margin-top:2rem;}
				.price{
					font-size:3rem;
					color:$color-6;
					margin-top:2.5rem;
				}
			}
		}
	}


	.ias_trigger{
		margin:3.5rem auto 0;
		a{
			border:solid 1px $color-6;
			border-radius:0px;
			background:none;
			color:$color-6;
			text-transform:uppercase;
			line-height:5rem;
			display:inline-block;
			padding:0 6.5rem;
		}
	}
}