//серая секция
.gray-section{
	background:$color-7;
	color:$color-1;
	padding:5rem 0;
	.categoryTitle{
		text-align:center;
	}
	.catItem{
		background:$color-1;;
		color:$color-default;
		margin-bottom:3rem;
	}
}

//белая секция
.white-section{
	background:$color-1;
	color:$color-default;
	padding:7rem 0;
	font-family:'Conv_Gilroy-Regular',Sans-Serif;
	font-size:1.7rem;
	line-height:1.8em;
	.categoryTitle{
		text-align:center;
	}
	.catItem{
		background:$color-1;
		color:$color-default;
	}
}

//section image 1
.image-section-1{
	padding:8rem 0 10rem 0;
	background:url('/images/templates/fieryflash_template/images/calculation-bg.png')no-repeat center;
	background-size:cover;
	color:$color-1;
}