//сервисное обслуживание
.services-item{
	background: url(/images/templates/fieryflash_template/images/services-master.png) 100px bottom no-repeat, url(/images/templates/fieryflash_template/images/ceilings-photo-background.png) no-repeat center;
	background-size: auto, cover;
    color: #fff;
    padding: 14.5rem 0 10rem 0;
	.itemFullText{
		font-family:'Conv_Gilroy-Light',Sans-Serif;
		font-size:1.7rem;
		line-height:1.7em;
		letter-spacing:0.03rem;
		p{
			margin:0;
		}
	}
}
.services-counter{
	font-family:'Conv_Gilroy-Regular',Sans-Serif;
	font-size:1.7rem;
	margin:6rem auto;
	.firm-counter-title{
		color:$color-6;
		font-size:2.4rem;
		text-transform:uppercase;
		line-height:1em;
		span{
			font-size:6rem;
			display:block;
			line-height:1em;
		}
	}
	.firm-counter-description{
		margin-top:1.5rem;
		line-height:1.5em;
	}
}

//страницы сервисов с формами связи
.service-item{
	background:#0c0c0c;
	color:$color-1;
	padding:4rem 0;
	.itemHeader{
		.itemTitle{
			font-size: 3.6rem;
		}
	}
	.itemBody{
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.7rem;
		line-height:1.8em;
	}
}
.service-maintenance{
	background: url(/images/templates/fieryflash_template/images/sertificate.png) #0f0f0f no-repeat center bottom;
	padding:7rem 0 14rem 0;
	color:$color-1;
	-webkit-box-shadow: inset 0px -250px 200px -100px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: inset 0px -250px 200px -100px rgba(0, 0, 0, 0.65);
	box-shadow: inset 0px -250px 200px -100px rgba(0, 0, 0, 0.65);
	.service-maintenance-section-title{
		text-transform:uppercase;
		h3{
			font-family:'Conv_Gilroy-Black',Sans-Serif;
			font-size:7rem;
			line-height: 8rem;
			letter-spacing:0.20rem;
			margin-left:-.3rem;
		}
		span.information-label{
			background: #fa3786;
			color: #fff;
			display: inline-block;
			font-family: 'Conv_Gilroy-Bold', Sans-Serif;
			font-size: 2.4rem;
			padding: 0 1.5rem;
			line-height: 6.5rem;
			margin-top:0.5rem;
		}
	}
	.service-maintenance-section-body{
		margin-top:2.6rem;
		font-family:'Conv_Gilroy-Regular',Sans-Serif;
		font-size:1.8rem;
		letter-spacing:0.045rem;
		line-height: 2.2rem;
	}
}