.slick-dotted.slick-slider{
	margin-bottom:100px !important;
}
.slick-slider{
	.slick-list {
		margin: 0 -15px;
		.slick-track{
			display: flex;
			flex-flow: row wrap;
		}
		.slick-slide {
			cursor:pointer;
			height:auto;
			outline: none;
			margin: 0 15px;
		}
	}
	.slick-arrow{
		top:100%;
		z-index:100;
		margin-top: 65px;
	}
	.slick-dotted{
		.slick-slider{
			margin:0;
		}
	}
	.slick-prev, .slick-next{
		width:46px;
		height:46px;
		&:before{
			content:'' !important;
			width:46px;
			height:46px;
			display:block;
		}
	}
	.slick-prev{
		left:0;
	}
	.slick-next{
		right:0;
	}
	.slick-dots{
		top: 100%;
		margin-top: 50px;
		li{
			button{
				width:10px;
				height:10px;
				border:solid 1px $color-1;
				border-radius:50%;
				padding:0;
				&:before{
					display:none;
				}
			}
			&.slick-active{
				button{
					background:$color-1;
				}
			}
		}
	}
}

//белые стрелки
.slick-arrows-white{
	.slick-prev{
		&:before{
			background:url('/images/templates/fieryflash_template/images/white_left_arrow.png')no-repeat center;
		}
	}
	.slick-next{
		&:before{
			background:url('/images/templates/fieryflash_template/images/white_right_arrow.png')no-repeat center;
		}
	}
}

//черные стрелки
.slick-arrows-black{
	.slick-prev{
		&:before{
			background:url('/images/templates/fieryflash_template/images/left_arrow.png')no-repeat center;
		}
	}
	.slick-next{
		&:before{
			background:url('/images/templates/fieryflash_template/images/right_arrow.png')no-repeat center;
		}
	}
}

//готовые объекты слайдер
.finished-objects{
	.slick-prev{
		left:15px;
	}
	.slick-next{
		right:15px;
	}
}

//главный слайдер
.ceilings{
	.slick-arrow{
		margin-top:5px;
	}
	.slick-dots {
		margin-top: -10px;
		margin-left: -100px;
	}
	.slick-next{
		right:175px;
	}
	.slick-dotted.slick-slider{
		margin-bottom:30px !important;
	}
}

//каталог светильников слайдер на главной
.catalog-preview{
	.slick-dots {
		li{
			button{
				border:solid 1px $color-default;
			}
			&.slick-active{
				button{
					background:$color-default;
				}
			}
		}
	}
}

.catalog-preview, .other_lamps{
	.slick-dots{
		margin-top: -35px;
	}
	.slick-arrow{
		margin-top: -20px;
	}
}




