$color-default: #090000; /*черный*/
$color-1: #fff; /*белый*/
$color-2: #000; /*темный*/
$color-3: #cea555; /*коричневый*/




$color-4: #dde1e8; /*серый*/
$color-5: #377ad3; /*голубой*/
$color-6: #f63381; /*розовый*/



$color-7: #181818; /*темно-серый*/

$color-9: #f9f9f9; /*серый инпут формы*/
$color-10: #b2b2b2; /*серый инпут формы бордер*/
$color-11: #d7d7d7; /*серые кнопки текстуры*/
$color-12: #222; /*слайдер ui*/
$color-13: #b1b1b1;
$color-14: #ccc;

$width-1: 1700px;

$font-size-default: 10px; /*Сбрасываем размер шрифта по-умолчанию*/


$button-color: #009ED8;
$button-text: #ffffff;
$regular-text: #333;
$button-tint: fadeout(#000, 90%);
$background: #303036;