//страница видео
.videos{
	.video-item{
		background:$color-2;
		color:$color-1;
		.player-poster[data-poster] .play-wrapper[data-poster]{
			svg{
				path{
					// цвет кнопки play
					fill:$color-6;
				}
			}
			opacity: 1;
		}
		.catItemBody{
			padding:0 4rem 4rem;
		}
	}
}
