@charset "UTF-8";

/**
 * @package		Joomla.Administrator
 * @subpackage	templates.hathor
 * @copyright	Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 * @since		1.6
 *
 * RTL CSS file for the template
 */

body {
	direction: rtl;
}

h1, h2, h3 {
	text-align: right;
}

/**
 * CSS Reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background-position: transparent none repeat scroll top right;
}

/* new styles */



/* end new styles */

/**
 * Overall Styles
 */
#header h1.title {
	padding: 0 120px 0 0;
}

#footer {
	padding: 10px 20px;
}

#content {
	margin: 5px 20px 20px 20px;
}

.cpanel-page div#element-box {
	padding: 15px;
}

/**
 * Status layout
 */
#module-status {
	left: 0;
	right: none;
	float: left;
}

#module-status > span {
	float: right;
	padding: 4px 22px 0 20px;
}

/* background images moved to color css file */

/**
 * Various Styles
 */

div.checkin-tick {
	text-indent: -9999px;
}

/**
 * Overlib
 */

/**
 * Subheader, toolbar, page title
 */

div.pagetitle {
	padding: 0 0 5px 0;
	background-position: right 50%;
	line-height: 54px;
}

.pagetitle h2 {
	padding: 0 50px 0 0;
}

div.configuration {
	padding-right: 30px;
	margin-right: 10px;
}

div.toolbar-list {
	float: right;
	text-align: left;
}

div.toolbar-list li {
	padding: 5px 4px 5px 1px;
	float: right;
}

div.toolbar-list li.divider {
	margin-left: 10px;
	margin-right: 0;
}

div.toolbar-list span {
	margin: 0 auto;
}

div.toolbar-list a {
	float: right;
	padding: 1px 5px;
}

/**
 * Massmail component
 */


/**
 * Pane Slider pane Toggler styles
 */
div.pane-sliders {
	margin-left: 10px;
}

.pane-toggler  span {
	padding-left: 0;
	padding-right: 20px;
}

.pane-toggler-down span {
	padding-right: 20px;
	padding-left: 0;
}

div#position-icon.pane-sliders div.pane-down .icon-wrapper .icon {
	padding: 5px 10px 5px 0;
	margin: 0;
}

/**
 * Tabs
 */
dl.tabs {
	float: right;
	margin: 10px 0 -1px 0;
}

dl.tabs dt {
	float: right;
	padding: 4px 10px;
	margin-right: 3px;
}

div.current {
	padding: 10px 10px;
}

/* New parameter styles (check rtl) */

dl#content-pane.tabs {
	margin: 1px 0 0 0;
}

div.current label, div.current span.faux-label {
	float:right;
	clear:right;
}

div.current fieldset.radio {
	float:right;
}

div.current fieldset.radio input {
	float:right;
	margin: 3px 2px 0 0;
}

div.current fieldset.radio label {
	float:right;
	margin: 3px 2px 0 0;
}

div.current fieldset.checkboxes {
	float:right;
	clear:left;
}

div.current fieldset.checkboxes input {
	float:right;
	clear:right;
	margin: 3px 2px 0 0;
}

div.current fieldset.checkboxes label {
	clear:left;
	margin: 3px 2px 0 0;
}

div.current input,
div.current span.faux-input,
div.current textarea,
div.current select {
	float:right;
	margin: 3px 2px 0 0;
}

div.current table#acl-config th.acl-groups {
	text-align: right;
}

div.current table#filter-config th.acl-groups {
	text-align: right;
}

/* -------- Menu Assignments ---------- */
div#menu-assignment {
	clear:right;
}

div#menu-assignment ul.menu-links {
	float:right;
}

div#menu-assignment h3 {
	clear:right;
}

div#menu-assignment ul.menu-links li.menu-link label {
	float: right;
	margin: 3px 2px 0 0;
}
div#menu-assignment ul.menu-links li.menu-link input {
	clear: right;
	float: right;
}

p.tab-description {
	margin-right: 0;
}
/* end new parameter styles */

/**
 * Login Settings
 */
#login-page input, #login-page select {
	float: left;
}

#login-page .login {
	margin: 0 auto;
}

#login-page .pagetitle h2 {
	margin: -70px 0 30px 0;
}

#login-page .login-inst {
	float: right;
}

#login-page .login-box {
	float: left;
}

#login-page .button {
	text-align: left;
}

#login-page .login-text {
	text-align: right;
	float: right;
}

#form-login {
	float: left;
}

#form-login label {
	float: right;
	clear: right;
	text-align: left;
}

#form-login div.button1 div.next {
	float: right;
}

#form-login div.button1 a {
	padding: 0 15px 0 15px;
	/* padding: 0 6px 0 30px; use this if you use images */
}

/**
 * Cpanel Settings
 */
.cpanel div.icon ,
#cpanel div.icon {
	margin-left: 5px;
	float: right;
}

.cpanel div.icon a ,
#cpanel div.icon a {
	float: right;
}

.cpanel img ,
#cpanel img {
	padding: 10px 0;
	margin: 0 auto;
}

div.cpanel-icons {
	float: right;
}

div.cpanel-component {
	float: left;
}

/**
 * Standard Layout Styles
 */
div.col {
	float: right;
}

div.options-section.col {
	float: left;
}

div.col1 {
	float: right;
}

div.col2 {
	float: left;
}

	/* Avoid using the width divs. They are here for 3PD Extensions if needed
	 * Use the specific layout divs listed after. See also the th.width entries */
.clrlft { clear: right; }
.clrrt { clear: left; }
.fltlft { float: right; }
.fltrt { float: left; }
.fltnone { float: none; }

	/* Layout Divs */
div.options-section {
	margin: 10px 0 10px 10px;
}

/* for bluestork style html */
div.width-40.fltrt {
	margin: 10px 0 10px 10px;
}

/**
 * Form Styles
 */

fieldset {
	margin: 2px 10px 2px 10px;
	text-align: right;
}

fieldset p {
	margin: 10px 0;
}

/* new form fields (check rtl) */

fieldset.adminform fieldset.radio,
fieldset.panelform fieldset.radio,
fieldset.adminform-legacy fieldset.radio  {
	float:right;
	margin: 0 0 5px 0;
	clear:left;
}
fieldset.adminform fieldset.radio label,
fieldset.panelform fieldset.radio label,
fieldset.adminform fieldset.radio span.faux-label,
fieldset.panelform fieldset.radio span.faux-label {
	float:right;
}

fieldset.panelform-legacy label,
fieldset.adminform-legacy label,
fieldset.panelform-legacy span.faux-label,
fieldset.adminform-legacy span.faux-label {
	float:right;

}
/* JParameter classes on radio button labels  */

p.jform_desc {
	clear: right;
}

fieldset ul.checklist {
	margin-right: 27px;
	margin-left: 0;
}

fieldset#filter-bar {
	margin: 0;
	padding: 5px 10px 5px 10px;
}

fieldset#filter-bar ol, fieldset#filter-bar ul {
	padding: 5px 0 0;
}

fieldset#filter-bar ol li, fieldset#filter-bar ul li {
	float: right;
	padding: 0 0 0 5px;
}

fieldset#filter-bar .filter-search {
	float: right;
}

fieldset#filter-bar .filter-select {
	float: left;
}


	/* Note: these visual cues should be augmented by aria */

	/* must be augmented by aria at the same time if changed dynamically by js
	aria-invalid=true or aria-invalid=false */


	/* augmented by aria in template javascript */

span.readonly {
	float: right;
}

div.extdescript {
	margin-right: 10px;
}

input[type="button"] {
	padding: 1px 6px;
}

/**
 * Option or Parameter styles
 */


/* end from alpha2 */

span.gi {
	margin-left: 5px;
}

/**
 * Admintable Styles
 */

table.admintable td.key,table.admintable td.paramlist_key {
	text-align: left;
}

table.paramlist td.paramlist_description {
	text-align: right;
}

/**
 * Admin Form Styles
 */
fieldset.adminform {
	margin: 0 10px 10px 10px;
}
fieldset.adminform .input-prepend,
fieldset.adminform .input-append,
fieldset.panelform .input-prepend,
fieldset.panelform .input-append {
	float: right;
}
fieldset.adminform .adminformlist .btn.modal,
fieldset.adminform .input-prepend > *,
fieldset.adminform .input-append > *,
fieldset.panelform .adminformlist .btn.modal,
fieldset.panelform .input-prepend > *,
fieldset.panelform .input-append > * {
	float: none;
	vertical-align: middle;
}

	/* Table styles are for use with tabular data */
table.adminform {
	margin: 8px 0 10px 0;
}


table.adminform th {
	padding: 6px 4px 4px 2px;
	text-align: right;
}

table.adminform td {
	text-align: right;
}

table.adminform td#filter-bar {
	text-align: right;
}

table.adminform td.helpMenu {
	text-align: left;
}

table.adminform tr {
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #c7c8b2;
	border-right: none;
}

/**
 * Table formatting styles
 */

	/* Avoid using the width classes. They are here for 3PD Extensions if needed
	 * Use the specific layout table headers listed after. See also the div.width entries */

	/* Table header layout classes */

th.ordering-col a {
	float:right;
	margin-right: 3px;
}

th.ordering-col a img {
	margin-right: 4px;
	margin-left: 4px;
}

/**
 * Adminlist Table layout
 */
table.adminlist {
	float: right;
}
	/* Table row styles */
table.adminlist tr {
	padding-left: 30px;
	padding-right: 30px;
}

table.adminlist tbody tr {
	text-align: right;
}

	/* Table td/th styles */
table.adminlist td.order span {
	float: right;
}

/**
 * Tree indentation & nesting - Up to 10 levels deep so don't go crazy :
 */
table.adminlist td.indent-4 	{ padding-right:4px; }
table.adminlist td.indent-19 	{ padding-right:19px; }
table.adminlist td.indent-34 	{ padding-right:34px; }
table.adminlist td.indent-49 	{ padding-right:49px; }
table.adminlist td.indent-64 	{ padding-right:64px; }
table.adminlist td.indent-79 	{ padding-right:79px; }
table.adminlist td.indent-94 	{ padding-right:94px; }
table.adminlist td.indent-109 	{ padding-right:109px; }
table.adminlist td.indent-124 	{ padding-right:124px; }
table.adminlist td.indent-139 	{ padding-right:139px; }

/**
 * Adminlist buttons
 */
table.adminlist tr td.btns a {
	padding: 3px 20px;
}

/**
 * Modal Modules styles
 */
ul#new-modules-list {
	margin-right: 50px;
	margin-left: 0;
}

/**
 * Utility styles
 */
	/* General Clearing Class */
.menu-module-list {
	padding-right: 10px;
	margin-right: 5px;
}

	/* stu nicholls solution for centering divs */

	/* table solution for global config */

table.noshow fieldset {
	margin: 15px 7px 7px 7px;
}

/**
 * Saving order icon styling in admin tables
 */
a.saveorder {
	float:left;
	margin-left: 8px;
}

/**
 * Button styling
 */
#editor-xtd-buttons {
	padding: 5px;
}

/* Button 1 Type */
.button1,.button1 div {
	float: left;
}

	/* Use this if you add images to the buttons such as directional arrows */

.button1 a {
	float: right;
	padding: 0 6px 0 6px;
}

	/* Button 2 Type */
.button2-left,.button2-right {
	float: right;
}

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
	float: right;
}

	/* these are inactive buttons */

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span,
.button2-left .blank a,
.button2-right .blank a,
.button2-left .blank span,
.button2-right .blank span {
	padding: 0 6px;
}

.button2-left a,.button2-left span {
	padding: 0 6px 0 24px;
}

.button2-right a,.button2-right span {
	padding: 0 24px 0 6px;
}

.button2-left {
	float: right;
	margin-right: 5px;
}

.button2-right {
	float: right;
	margin-right: 5px;
}

/* background images moved to the color rtl css file */

/**
 * Pagination styles
 */

	/* Normal pagination styles */
div.containerpg {
	position: relative;
	right: 50%;
	float: right;
	clear: right;
}

div.pagination {
	right: -50%;
	margin: 0 auto;
}

.pagination a {
	line-height: 1.6em;
}

.pagination div.limit {
	float: right;
	margin: 0 10px;
}

	/* The Go submittal button */
.pagination button {
	margin-left: 20px;
}

	/* Style if pagination is part of the table (old style) */
table.adminlist .pagination {
	margin: 0 auto;
}

table.adminlist .pagination button {
	margin-left: 20px;
}

/**
 * Pagination styles
 */

	/* Normal pagination styles */
div.containerpg {
	right: 50%;
	float: right;
	clear: right;
}

div.pagination {
	right: -50%;
	margin: 0 auto;
}

.pagination div.limit {
	float: right;
	margin: 0 10px;
}

	/* The Go submittal button */
.pagination button {
	margin-left: 20px;
}


	/* Grey out the current page number */


	/* Style if pagination is part of the table (old style) */

table.adminlist .pagination button {
	margin-left: 20px;
}

/**
 * MCE Editor
 */
div.toggle-editor {

}

/**
 * Tooltips
 */

.tip-text {
	text-align: right;
}

/**
 * Calendar
 */
a img.calendar {
	margin-right: 3px;
}

/**
 * General styles
 */

.helpFrame {
	padding: 0 10px 0 5px;
}

#treecellhelp {
	float: right;
}

#datacellhelp {
	float: right;
	padding: 2px 0 0 0;
}

/* -- MODAL STYLES ----------- */
div#sbox-window {
	text-align: right;
}

h2.modal-title {
	margin: 5px 15px 0 0;
}

ul.menu_types {
	padding: 0 15px 0 0;
}
ul.menu_types li,
dl.menu_type dd ul li {
	float:right;
	margin-left: 10px;
	margin-right: 0;
}

dl.menu_type dt {
	float:right;
	margin: 13px 0 5px 0;
}
dl.menu_type dd {
	clear:right;
}

dl.menu_type dd ul li {
	margin: 0;
}

dl.menu_type dd ul {
	margin: 0;
}

ul#new-modules-list {
	padding: 5px 15px 0 0;
	margin: 0;
}
ul#new-modules-list li {
	float:right;
	margin: 0 0 0 20px;
}

/**
 * User Accessibility
 */

	/* Skip to Content Structural Styling */
#skiplinkholder a,
#skiplinkholder a:link,
#skiplinkholder a:visited {
	left: 0;
	right: -200%;
}

#skiplinkholder a:focus, #skiplinkholder a:active {
	right: 0;
	top: 0;
}

#skiplinkholder p {
	margin: 0;
}

#skiptargetholder {
	left: 0;
	right: -200%;
}

	/* Skip to Content Visual Styling */
#skiplinkholder a, #skiplinkholder a:link, #skiplinkholder a:visited {
	padding-left: 20px;
	padding-right: 20px;
}

	/* For elements that aren't to be seen by users unless the user does something
	 * like clicking on a header to see the collapsed section. */

	/* For elements that aren't to be seen by visual users but do need to be read by screenreaders.
	 * Cannot be used for elements that can get focus such as links and form elements */

	/* Firefox has issues styling legend so this is a universal fix
	for making the legend invisible (i.e. visually it's not there, but screen readers see it */

legend.element-invisible {
	/*margin: 0;
	margin-right: -10000px; */
}

fieldset.adminform label,
fieldset.panelform label,
fieldset.adminform span.faux-label,
fieldset.panelform span.faux-label {
	clear:right;
	float:right;
	margin-right: 10px;
	margin-left: 5px;
}

fieldset.adminform fieldset.radio label,
fieldset.panelform fieldset.radio label,
fieldset.adminform fieldset.radio span.faux-label,
fieldset.panelform fieldset.radio span.faux-label {
	margin-right: 0;
}

/* checkboxes */
fieldset.adminform fieldset.checkboxes,
fieldset.panelform fieldset.checkboxes,
fieldset.adminform-legacy fieldset.checkboxes  {
	float:right;
	margin: 0 0 5px 0;
	clear:left;
}

fieldset.adminform fieldset.checkboxes input[type="checkbox"],
fieldset.panelform fieldset.checkboxes input[type="checkbox"] {
	float: right;
	clear: right;
}

fieldset.adminform fieldset.checkboxes label,
fieldset.panelform fieldset.checkboxes label,
fieldset.adminform fieldset.checkboxes span.faux-label,
fieldset.panelform fieldset.checkboxes span.faux-label {
	clear: left;
}
/* end checkboxes */

fieldset.adminform input, fieldset.adminform span.faux-input, fieldset.adminform textarea, fieldset.adminform select, fieldset.adminform img, fieldset.adminform button,
fieldset.panelform input, fieldset.panelform span.faux-input, fieldset.panelform textarea, fieldset.panelform select, fieldset.panelform img, fieldset.panelform button {
	float:right;
	margin:5px 0 5px 5px;
}

/* -------- Batch Section ---------- */
fieldset#batch-choose-action {
	clear:none;
	clear: right;
}
fieldset.batch label {
	float: right;
	clear: none;
}
fieldset label#batch-choose-action-lbl {
	clear: none;
	clear: right;
}
label#batch-language-lbl,
label#batch-user-lbl {
	clear: right;
	margin-left: 10px;
	margin-right: 0;
	margin-top: 15px;
}
select#batch-language-id,
select#batch-user-id {
	margin-top: 15px;
}
select#batch-category-id,
select#batch-menu-id,
select#batch-position-id
{
	margin-left: 30px;
	margin-right: 0;
}
fieldset.batch select, fieldset.batch input, fieldset.batch img, fieldset.batch button {
	float: right;
}
label#batch-access-lbl,
label#batch-client-lbl {
	margin-right: 0;
	margin-left: 10px;
}

/* Banner edit */


/* -- ACL STYLES relocated from com_users/media/grid.css ----------- */

/* -- ACL PANEL STYLES  ----------- */


/* All Tabs */

td.col1 {
	text-align:right;
}

/* Icons */
label.icon-16-allow,
label.icon-16-deny,
a.icon-16-allow,
a.icon-16-deny,
a.icon-16-allowinactive,
a.icon-16-denyinactive {
	margin: 0 auto;
}
label.icon-16-allow {
	right: 40%;
}
label.icon-16-deny {
	right: 40%;
}

ul.acllegend li {
	float: right;
	padding-left: 20px;
	margin: 15px 10px 15px 0;
}
ul.acllegend li.acl-allowed {
	padding-right: 20px;
	padding-left: 10px;
}
ul.acllegend li.acl-denied {
	padding-right: 20px;
	padding-left: 20px;
}
ul.acllegend li.acl-editgroups {
	padding-left: 10px;
}
ul.acllegend li.acl-resetbtn {
	padding-left: 0;
}

li.acl-editgroups,
li.acl-resetbtn {
	float: right;
}

table#acl-config th.acl-groups {
	padding-right: 8px;
}

table#acl-config th.acl-groups {
	text-align: right;
}

.acl-action {
	margin: auto 0;
}

/* Icons */
span.icon-16-unset,
span.icon-16-allowed,
span.icon-16-denied,
span.icon-16-locked {
	padding-left: 0;
	padding-right: 18px;
}

/* *
* Permission Rules
*/

#permissions-sliders ul#rules,
#permissions-sliders ul#rules ul {
    margin: 0 !important;
    padding: 0 !important;
}

#permissions-sliders ul#rules li {
	margin: 0;
	padding: 0;
}

#permissions-sliders ul#rules table.group-rules td {
    padding:4px;
    vertical-align:middle;
    text-align:right;
}

#permissions-sliders .panel {
    margin-bottom: 3px;
    margin-right: 0;
}

ul#rules table.group-rules td label {
	margin: 0 !important;
}

table.group-rules td select {
	margin: 0 !important;
}

#permissions-sliders ul#rules .mypanel {
	padding: 0;
}

#permissions-sliders ul#rules {
	padding: 5px;
}

#permissions-sliders  ul#rules  table.group-rules th {
    text-align: right;
    padding: 4px;
}

#permissions-sliders .pane-toggler  span {
	padding-left: 0;
	padding-right: 20px;
}

#permissions-sliders .pane-toggler-down span {
	padding-left: 0;
	padding-right: 20px;
}

/**
 * Helpmenus
 */
ul.helpmenu li {
	float: left;
}

/**
 * Menu Styling
 */
#menu a {
	padding: 0.35em 2em 0.35em 2.5em;
}

#menu li {
	float: right;
}

#menu li ul { /* second-level lists */
	margin-right: -1000em;
	/* using right instead of display to hide menus because display: none isn't read by screen readers */
}

#menu li ul ul { /* third-and-above-level lists */
	margin: -2.3em -1000em 0 0;
	/* top margin is equal to parent line height+bottom padding */
}

#menu li:hover ul ul,#menu li.sfhover ul ul {
	margin-right: -1000em;
}

#menu li:hover ul,#menu li.sfhover ul {
	/* lists nested under hovered list items */
	margin-right: 0;
}

#menu li li:hover ul,#menu li li.sfhover ul {
	margin-right: 16em;
}

/**
 * Extra positioning rules for limited noscript keyboard accessibility
 * need the backgrounds here to keep the background as the nav background
 * since it is overlaying other content.
 * Using margin-left instead of left so that can move back without javascript
 * display downlevel ul
 */
#menu li a:focus+ul {
	margin-right: 0;
}

#menu li li a:focus+ul {
	margin-right: 1016em;
}

/* bring back the focus elements into view */
#menu li li a:focus {
	margin-right: 1000em;
}

#menu li li li a:focus {
	margin-right: 2016em;
}

#menu li:hover a:focus,#menu li.sfhover a.sffocus {
	margin-right: 0;
}

#menu li li:hover a:focus+ul,#menu li li.sfhover a.sffocus+ul {
	margin-right: 16em;
}

/**
 * Submenu styling
 */


#submenu a, #submenu span.nolink {
	float: right;
	margin-left: 8px;
	padding: 2px 10px 2px 10px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/* Installer Database */
#installer-database p.warning {
	padding-left: 0;
	padding-right: 20px
}

#installer-database #sidebar {
	float: none
}

#installer-database p.nowarning {
	padding-left: 0;
	padding-right: 20px
}

p.nowarning {
	float: none;
	margin-left: 0;
	margin-right: 15px;
}

table.adminlist tfoot button {
	float: right;
}

/* Spinner */
.joomlaupdate_spinner {
	float: right;
	margin-left: 15px;
}

/* Various corrections */
[class*="span"] {
	float: none;
	margin-left: 0;
	margin-right: 0;
}

#sidebar {
	float:right;
	margin: 15px 0;
}

#submenu li, #submenu span.nolink {
	float: right;
}

div.btn-toolbar {
	float: right;
	text-align: right;
}

.btn-group {
	float: right;
	margin-right: 10px;
}

#module-status div.btn-group {
	float: right;
}

.nav-tabs > li, .nav-pills > li {
	float: none;
}

.tabs-left > .nav-tabs {
	border-right: 0 solid #DDDDDD;
	float: right;
	margin-right: 19px;
}

.list-striped, .row-striped {
	text-align: right;
}

.row-fluid [class*="span"] {
	float: none;
}
.media .btn {
	float: none;
}

.media {
	float:none;
	margin: 10px 20px;
}

.alert .close {
	right: 5px;
	float: left;
}

.popover,
.tooltip-inner {
	text-align: right;
}
div.toggle-editor {
	float: left;
}
#editor-xtd-buttons .btn {
	float: right;
}
div.toggle-editor {
	margin-top: 14px;
}
.modal-footer button {
	float: left;
}
#form-login  {
	float: right;
}