@charset "UTF-8";

/**
 * @package		Joomla.Administrator
 * @subpackage	templates.hathor
 * @copyright	Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 * @since		1.6
 */

/* ThemeOfficeMenu Style Sheet */

.ThemeOfficeMenu,
.ThemeOfficeSubMenuTable {
	font-family: Arial, Verdana, sans-serif;
	font-size: 13px;
	padding: 0;
	white-space: nowrap;
	cursor: default;
	height: 25px;
}

.ThemeOfficeSubMenu {
	position: absolute;
	visibility:	hidden;
	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0;
	padding:	0;
	overflow:	visible;
	border:		1px solid #8C867B;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDC3BD, Direction=135, Strength=4);
}

.ThemeOfficeSubMenuTable {
	overflow:	visible;
}

.ThemeOfficeMainItem,
.ThemeOfficeMainItemHover,
.ThemeOfficeMainItemActive,
.ThemeOfficeMenuItem,
.ThemeOfficeMenuItemHover,
.ThemeOfficeMenuItemActive {
	border:	0;
	cursor: default;
	white-space: nowrap;
}

.ThemeOfficeMainItem {
	/*background-color:	#EFEBDE;*/
}

.ThemeOfficeMainItemHover,
.ThemeOfficeMainItemActive {
	background-color:	#e7eddf;
}

.ThemeOfficeMenuItem {
	background-color:	#F1F3F5;
}

.ThemeOfficeMenuItemHover,
.ThemeOfficeMenuItemActive {
	background-color:	#e7eddf;
}


/* horizontal main menu */

.ThemeOfficeMainItem {
	padding: 4px 1px 4px 1px;
	border: 0;
}

td.ThemeOfficeMainItemHover,
td.ThemeOfficeMainItemActive {
	padding:	0;
	border-right:	1px solid #6d9d2e;
	border-left:	1px solid #6d9d2e;
}

.ThemeOfficeMainFolderLeft,
.ThemeOfficeMainItemLeft,
.ThemeOfficeMainFolderText,
.ThemeOfficeMainItemText,
.ThemeOfficeMainFolderRight,
.ThemeOfficeMainItemRight {
	background-color: inherit;
}

/* vertical main menu sub components */

td.ThemeOfficeMainFolderLeft,
td.ThemeOfficeMainItemLeft {
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0;
	padding-right:	2px;

	border-top:	1px solid #6d9d2e;
	border-bottom:	1px solid #6d9d2e;
	border-left:	1px solid #6d9d2e;

	background-color:	inherit;
}

td.ThemeOfficeMainFolderText,
td.ThemeOfficeMainItemText {
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:	1px solid #6d9d2e;
	border-bottom:	1px solid #6d9d2e;

	background-color:	inherit;
	white-space:	nowrap;
}

td.ThemeOfficeMainFolderRight,
td.ThemeOfficeMainItemRight {
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0;
	padding-right:	0;

	border-top:	1px solid #6d9d2e;
	border-bottom:	1px solid #6d9d2e;
	border-right:	1px solid #6d9d2e;

	background-color:	inherit;
}

tr.ThemeOfficeMainItem td.ThemeOfficeMainFolderLeft,
tr.ThemeOfficeMainItem td.ThemeOfficeMainItemLeft {
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	1px;
	padding-right:	2px;
	white-space:	nowrap;
	border:	0;
	background-color: inherit;
}

tr.ThemeOfficeMainItem td.ThemeOfficeMainFolderText,
tr.ThemeOfficeMainItem td.ThemeOfficeMainItemText {
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	5px;
	padding-right:	5px;
	border:		0;
	background-color:	inherit;
}

tr.ThemeOfficeMainItem td.ThemeOfficeMainItemRight,
tr.ThemeOfficeMainItem td.ThemeOfficeMainFolderRight {
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	0;
	padding-right:	1px;
	border:		0;
	background-color:	inherit;
}

/* sub menu sub components */

.ThemeOfficeMenuFolderLeft,
.ThemeOfficeMenuItemLeft {
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	1px;
	padding-right:	3px;
	border-top:	1px solid #6d9d2e;
	border-bottom:	1px solid #6d9d2e;
	border-left:	1px solid #6d9d2e;
	background-color:	inherit;
	white-space:	nowrap;
}

.ThemeOfficeMenuFolderText,
.ThemeOfficeMenuItemText {
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:	1px solid #6d9d2e;
	border-bottom:	1px solid #6d9d2e;

	background-color:	inherit;
	white-space:	nowrap;
}

.ThemeOfficeMenuFolderRight,
.ThemeOfficeMenuItemRight {
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0;
	padding-right:	0;

	border-top:	1px solid #6d9d2e;
	border-bottom:	1px solid #6d9d2e;
	border-right:	1px solid #6d9d2e;
	background-color:	inherit;
	white-space:	nowrap;
}

.ThemeOfficeMenuItem .ThemeOfficeMenuFolderLeft,
.ThemeOfficeMenuItem .ThemeOfficeMenuItemLeft {
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	2px;
	padding-right:	3px;
	white-space:	nowrap;
	border: 	0;
	background-color:	#DDE1E6;
}

.ThemeOfficeMenuItem .ThemeOfficeMenuFolderText,
.ThemeOfficeMenuItem .ThemeOfficeMenuItemText {
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	5px;
	padding-right:	5px;
	border:		0;
	background-color:	inherit;
}

.ThemeOfficeMenuItem .ThemeOfficeMenuFolderRight,
.ThemeOfficeMenuItem .ThemeOfficeMenuItemRight {
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	0;
	padding-right:	1px;
	border:		0;
	background-color:	inherit;
}

/* menu splits */

.ThemeOfficeMenuSplit {
	margin:		2px;
	height:		1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #C6C3BD;
}

/* image shadow animation */
/*
	seq1:	image for normal
	seq2:	image for hover and active
	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeOfficeMenuItem img.seq1 {
	display:	inline;
}

.ThemeOfficeMenuItemHover seq2,
.ThemeOfficeMenuItemActive seq2 {
	display:	inline;
}

.ThemeOfficeMenuItem .seq2,
.ThemeOfficeMenuItemHover .seq1,
.ThemeOfficeMenuItemActive .seq1 {
	display:	none;
}

/* inactive settings */
div.inactive td.ThemeOfficeMainItemHover,
div.inactive td.ThemeOfficeMainItemActive {
	border-top: 0;
	border-right:	1px solid #f1f3f5;
	border-left:	1px solid #f1f3f5;
}

div.inactive .ThemeOfficeMainItem {
	color: #bbb;
}

div.inactive span.ThemeOfficeMainItemText {
	color: #aaa;
}

div.inactive .ThemeOfficeMainItemHover,
div.inactive .ThemeOfficeMainItemActive {
	background-color:	#f1f3f5;
}