#mcs-installer-result {
    margin-bottom: 60px;
    background-color: #ded3f5;
    border: 1px solid #909090;
    border-radius: 2px;
    padding: 5px 22px;
}

#mcs-installer-result .flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#mcs-installer-result .flex-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    flex-basis: 50%;
}

#mcs-installer-result .section-result {
    font-size: 16px;
    padding: 10px 0;
}

#mcs-installer-result h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
}

#mcs-installer-result h4 {
    font-size: 15px;
}

#mcs-installer-result .section-title {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
}

#mcs-installer-result .section-container {
    padding-bottom: 8px;
    padding-left: 12px;
    font-size: 14px;
}

#mcs-installer-result .info {
    font-size: 14px;
}

#mcs-installer-result .green {
    color: #3c763d;
}

#mcs-installer-result .red {
    color: #ff2b2b;
}

#mcs-installer-result .section-container .icon-cube {
    color: #e68300
}

#mcs-installer-result .section-container .icon-database {
    color: #e68300
}
