.juloawrapper {
  /*!
 * Bootstrap Responsive v2.3.2
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */
}
.juloawrapper .span12 {
  width: 940px;
}
.juloawrapper .span11 {
  width: 860px;
}
.juloawrapper .span10 {
  width: 780px;
}
.juloawrapper .span9 {
  width: 700px;
}
.juloawrapper .span8 {
  width: 620px;
}
.juloawrapper .span7 {
  width: 540px;
}
.juloawrapper .span6 {
  width: 460px;
}
.juloawrapper .span5 {
  width: 380px;
}
.juloawrapper .span4 {
  width: 300px;
}
.juloawrapper .span3 {
  width: 220px;
}
.juloawrapper .span2 {
  width: 140px;
}
.juloawrapper .span1 {
  width: 60px;
}
.juloawrapper .row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.juloawrapper .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.juloawrapper .row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.juloawrapper .row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.juloawrapper .row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.juloawrapper .row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.juloawrapper .row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.juloawrapper .row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.juloawrapper .row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.juloawrapper .row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.juloawrapper .row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.juloawrapper .row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.juloawrapper .row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.juloawrapper .row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.juloawrapper .container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.juloawrapper .container-fluid:before,
.juloawrapper .container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.juloawrapper .container-fluid:after {
  clear: both;
}
.juloawrapper .row-fluid input[class*="span"],
.juloawrapper .row-fluid select[class*="span"],
.juloawrapper .row-fluid textarea[class*="span"],
.juloawrapper .row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.juloawrapper .input-append input[class*="span"],
.juloawrapper .input-append .uneditable-input[class*="span"],
.juloawrapper .input-prepend input[class*="span"],
.juloawrapper .input-prepend .uneditable-input[class*="span"],
.juloawrapper .row-fluid input[class*="span"],
.juloawrapper .row-fluid select[class*="span"],
.juloawrapper .row-fluid textarea[class*="span"],
.juloawrapper .row-fluid .uneditable-input[class*="span"],
.juloawrapper .row-fluid .input-prepend [class*="span"],
.juloawrapper .row-fluid .input-append [class*="span"] {
  display: inline-block;
}
.juloawrapper input,
.juloawrapper textarea,
.juloawrapper .uneditable-input {
  margin-left: 0;
}
.juloawrapper .form-search input,
.juloawrapper .form-inline input,
.juloawrapper .form-horizontal input,
.juloawrapper .form-search textarea,
.juloawrapper .form-inline textarea,
.juloawrapper .form-horizontal textarea,
.juloawrapper .form-search select,
.juloawrapper .form-inline select,
.juloawrapper .form-horizontal select,
.juloawrapper .form-search .help-inline,
.juloawrapper .form-inline .help-inline,
.juloawrapper .form-horizontal .help-inline,
.juloawrapper .form-search .uneditable-input,
.juloawrapper .form-inline .uneditable-input,
.juloawrapper .form-horizontal .uneditable-input,
.juloawrapper .form-search .input-prepend,
.juloawrapper .form-inline .input-prepend,
.juloawrapper .form-horizontal .input-prepend,
.juloawrapper .form-search .input-append,
.juloawrapper .form-inline .input-append,
.juloawrapper .form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}
.juloawrapper .form-search .hide,
.juloawrapper .form-inline .hide,
.juloawrapper .form-horizontal .hide {
  display: none;
}
.juloawrapper .control-group {
  margin-bottom: 10px;
}
.juloawrapper legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
.juloawrapper .form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
.juloawrapper .form-horizontal .control-group:before,
.juloawrapper .form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}
.juloawrapper .form-horizontal .control-group:after {
  clear: both;
}
.juloawrapper .form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
.juloawrapper .form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}
.juloawrapper .form-horizontal .controls:first-child {
  *padding-left: 180px;
}
.juloawrapper .form-horizontal .help-block {
  margin-bottom: 0;
}
.juloawrapper .form-horizontal input + .help-block,
.juloawrapper .form-horizontal select + .help-block,
.juloawrapper .form-horizontal textarea + .help-block,
.juloawrapper .form-horizontal .uneditable-input + .help-block,
.juloawrapper .form-horizontal .input-prepend + .help-block,
.juloawrapper .form-horizontal .input-append + .help-block {
  margin-top: 10px;
}
.juloawrapper .form-horizontal .form-actions {
  padding-left: 180px;
}
.juloawrapper .controls > .radio:first-child,
.juloawrapper .controls > .checkbox:first-child {
  padding-top: 5px;
}
.juloawrapper form {
  margin: 0 0 20px;
}
.juloawrapper fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
.juloawrapper legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.juloawrapper legend small {
  font-size: 15px;
  color: #999999;
}
.juloawrapper label,
.juloawrapper input,
.juloawrapper button,
.juloawrapper select,
.juloawrapper textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.juloawrapper input,
.juloawrapper button,
.juloawrapper select,
.juloawrapper textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.juloawrapper label {
  display: block;
  margin-bottom: 5px;
}
.juloawrapper select,
.juloawrapper textarea,
.juloawrapper input[type="text"],
.juloawrapper input[type="password"],
.juloawrapper input[type="datetime"],
.juloawrapper input[type="datetime-local"],
.juloawrapper input[type="date"],
.juloawrapper input[type="month"],
.juloawrapper input[type="time"],
.juloawrapper input[type="week"],
.juloawrapper input[type="number"],
.juloawrapper input[type="email"],
.juloawrapper input[type="url"],
.juloawrapper input[type="search"],
.juloawrapper input[type="tel"],
.juloawrapper input[type="color"],
.juloawrapper .uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.juloawrapper input,
.juloawrapper textarea,
.juloawrapper .uneditable-input {
  width: 206px;
}
.juloawrapper textarea {
  height: auto;
}
.juloawrapper textarea,
.juloawrapper input[type="text"],
.juloawrapper input[type="password"],
.juloawrapper input[type="datetime"],
.juloawrapper input[type="datetime-local"],
.juloawrapper input[type="date"],
.juloawrapper input[type="month"],
.juloawrapper input[type="time"],
.juloawrapper input[type="week"],
.juloawrapper input[type="number"],
.juloawrapper input[type="email"],
.juloawrapper input[type="url"],
.juloawrapper input[type="search"],
.juloawrapper input[type="tel"],
.juloawrapper input[type="color"],
.juloawrapper .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.juloawrapper textarea:focus,
.juloawrapper input[type="text"]:focus,
.juloawrapper input[type="password"]:focus,
.juloawrapper input[type="datetime"]:focus,
.juloawrapper input[type="datetime-local"]:focus,
.juloawrapper input[type="date"]:focus,
.juloawrapper input[type="month"]:focus,
.juloawrapper input[type="time"]:focus,
.juloawrapper input[type="week"]:focus,
.juloawrapper input[type="number"]:focus,
.juloawrapper input[type="email"]:focus,
.juloawrapper input[type="url"]:focus,
.juloawrapper input[type="search"]:focus,
.juloawrapper input[type="tel"]:focus,
.juloawrapper input[type="color"]:focus,
.juloawrapper .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.juloawrapper input[type="radio"],
.juloawrapper input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}
.juloawrapper input[type="file"],
.juloawrapper input[type="image"],
.juloawrapper input[type="submit"],
.juloawrapper input[type="reset"],
.juloawrapper input[type="button"],
.juloawrapper input[type="radio"],
.juloawrapper input[type="checkbox"] {
  width: auto;
}
.juloawrapper select,
.juloawrapper input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 30px;
}
.juloawrapper select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.juloawrapper select[multiple],
.juloawrapper select[size] {
  height: auto;
}
.juloawrapper select:focus,
.juloawrapper input[type="file"]:focus,
.juloawrapper input[type="radio"]:focus,
.juloawrapper input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.juloawrapper table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.juloawrapper .table {
  width: 100%;
  margin-bottom: 20px;
}
.juloawrapper .table th,
.juloawrapper .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.juloawrapper .table th {
  font-weight: bold;
}
.juloawrapper .table thead th {
  vertical-align: bottom;
}
.juloawrapper .table caption + thead tr:first-child th,
.juloawrapper .table caption + thead tr:first-child td,
.juloawrapper .table colgroup + thead tr:first-child th,
.juloawrapper .table colgroup + thead tr:first-child td,
.juloawrapper .table thead:first-child tr:first-child th,
.juloawrapper .table thead:first-child tr:first-child td {
  border-top: 0;
}
.juloawrapper .table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.juloawrapper .table .table {
  background-color: #ffffff;
}
.juloawrapper .table-condensed th,
.juloawrapper .table-condensed td {
  padding: 4px 5px;
}
.juloawrapper .table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.juloawrapper .table-bordered th,
.juloawrapper .table-bordered td {
  border-left: 1px solid #dddddd;
}
.juloawrapper .table-bordered caption + thead tr:first-child th,
.juloawrapper .table-bordered caption + tbody tr:first-child th,
.juloawrapper .table-bordered caption + tbody tr:first-child td,
.juloawrapper .table-bordered colgroup + thead tr:first-child th,
.juloawrapper .table-bordered colgroup + tbody tr:first-child th,
.juloawrapper .table-bordered colgroup + tbody tr:first-child td,
.juloawrapper .table-bordered thead:first-child tr:first-child th,
.juloawrapper .table-bordered tbody:first-child tr:first-child th,
.juloawrapper .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.juloawrapper .table-bordered thead:first-child tr:first-child > th:first-child,
.juloawrapper .table-bordered tbody:first-child tr:first-child > td:first-child,
.juloawrapper .table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.juloawrapper .table-bordered thead:first-child tr:first-child > th:last-child,
.juloawrapper .table-bordered tbody:first-child tr:first-child > td:last-child,
.juloawrapper .table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.juloawrapper .table-bordered thead:last-child tr:last-child > th:first-child,
.juloawrapper .table-bordered tbody:last-child tr:last-child > td:first-child,
.juloawrapper .table-bordered tbody:last-child tr:last-child > th:first-child,
.juloawrapper .table-bordered tfoot:last-child tr:last-child > td:first-child,
.juloawrapper .table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.juloawrapper .table-bordered thead:last-child tr:last-child > th:last-child,
.juloawrapper .table-bordered tbody:last-child tr:last-child > td:last-child,
.juloawrapper .table-bordered tbody:last-child tr:last-child > th:last-child,
.juloawrapper .table-bordered tfoot:last-child tr:last-child > td:last-child,
.juloawrapper .table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.juloawrapper .table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}
.juloawrapper .table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}
.juloawrapper .table-bordered caption + thead tr:first-child th:first-child,
.juloawrapper .table-bordered caption + tbody tr:first-child td:first-child,
.juloawrapper .table-bordered colgroup + thead tr:first-child th:first-child,
.juloawrapper .table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.juloawrapper .table-bordered caption + thead tr:first-child th:last-child,
.juloawrapper .table-bordered caption + tbody tr:first-child td:last-child,
.juloawrapper .table-bordered colgroup + thead tr:first-child th:last-child,
.juloawrapper .table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.juloawrapper .table-striped tbody > tr:nth-child(odd) > td,
.juloawrapper .table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.juloawrapper .table-hover tbody tr:hover > td,
.juloawrapper .table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}
.juloawrapper table td[class*="span"],
.juloawrapper table th[class*="span"],
.juloawrapper .row-fluid table td[class*="span"],
.juloawrapper .row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}
.juloawrapper .table td.span1,
.juloawrapper .table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}
.juloawrapper .table td.span2,
.juloawrapper .table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}
.juloawrapper .table td.span3,
.juloawrapper .table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}
.juloawrapper .table td.span4,
.juloawrapper .table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}
.juloawrapper .table td.span5,
.juloawrapper .table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}
.juloawrapper .table td.span6,
.juloawrapper .table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}
.juloawrapper .table td.span7,
.juloawrapper .table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}
.juloawrapper .table td.span8,
.juloawrapper .table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}
.juloawrapper .table td.span9,
.juloawrapper .table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}
.juloawrapper .table td.span10,
.juloawrapper .table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}
.juloawrapper .table td.span11,
.juloawrapper .table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}
.juloawrapper .table td.span12,
.juloawrapper .table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}
.juloawrapper .text-left {
  text-align: left;
}
.juloawrapper .text-right {
  text-align: right;
}
.juloawrapper .text-center {
  text-align: center;
}
.juloawrapper h1,
.juloawrapper h2,
.juloawrapper h3,
.juloawrapper h4,
.juloawrapper h5,
.juloawrapper h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.juloawrapper h1 small,
.juloawrapper h2 small,
.juloawrapper h3 small,
.juloawrapper h4 small,
.juloawrapper h5 small,
.juloawrapper h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
.juloawrapper h1,
.juloawrapper h2,
.juloawrapper h3 {
  line-height: 40px;
}
.juloawrapper h1 {
  font-size: 38.5px;
}
.juloawrapper h2 {
  font-size: 31.5px;
}
.juloawrapper h3 {
  font-size: 24.5px;
}
.juloawrapper h4 {
  font-size: 17.5px;
}
.juloawrapper h5 {
  font-size: 14px;
}
.juloawrapper h6 {
  font-size: 11.9px;
}
.juloawrapper h1 small {
  font-size: 24.5px;
}
.juloawrapper h2 small {
  font-size: 17.5px;
}
.juloawrapper h3 small {
  font-size: 14px;
}
.juloawrapper h4 small {
  font-size: 14px;
}
.juloawrapper .input-append .add-on,
.juloawrapper .input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.juloawrapper .input-append .add-on,
.juloawrapper .input-prepend .add-on,
.juloawrapper .input-append .btn,
.juloawrapper .input-prepend .btn,
.juloawrapper .input-append .btn-group > .dropdown-toggle,
.juloawrapper .input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.juloawrapper .input-append .active,
.juloawrapper .input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.juloawrapper .input-prepend .add-on,
.juloawrapper .input-prepend .btn {
  margin-right: -1px;
}
.juloawrapper .input-prepend .add-on:first-child,
.juloawrapper .input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.juloawrapper .input-append input,
.juloawrapper .input-append select,
.juloawrapper .input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.juloawrapper .input-append input + .btn-group .btn:last-child,
.juloawrapper .input-append select + .btn-group .btn:last-child,
.juloawrapper .input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.juloawrapper .input-append .add-on,
.juloawrapper .input-append .btn,
.juloawrapper .input-append .btn-group {
  margin-left: -1px;
}
.juloawrapper .input-append .add-on:last-child,
.juloawrapper .input-append .btn:last-child,
.juloawrapper .input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.juloawrapper .input-prepend.input-append input,
.juloawrapper .input-prepend.input-append select,
.juloawrapper .input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.juloawrapper .input-prepend.input-append input + .btn-group .btn,
.juloawrapper .input-prepend.input-append select + .btn-group .btn,
.juloawrapper .input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.juloawrapper .input-prepend.input-append .add-on:first-child,
.juloawrapper .input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.juloawrapper .input-prepend.input-append .add-on:last-child,
.juloawrapper .input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.juloawrapper .input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}
.juloawrapper .btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.juloawrapper .btn:hover,
.juloawrapper .btn:focus,
.juloawrapper .btn:active,
.juloawrapper .btn.active,
.juloawrapper .btn.disabled,
.juloawrapper .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.juloawrapper .btn:active,
.juloawrapper .btn.active {
  background-color: #cccccc \9;
}
.juloawrapper .btn:first-child {
  *margin-left: 0;
}
.juloawrapper .btn:hover,
.juloawrapper .btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.juloawrapper .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.juloawrapper .btn.active,
.juloawrapper .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.juloawrapper .btn.disabled,
.juloawrapper .btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.juloawrapper .btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.juloawrapper .btn-large [class^="icon-"],
.juloawrapper .btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.juloawrapper .btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.juloawrapper .btn-small [class^="icon-"],
.juloawrapper .btn-small [class*=" icon-"] {
  margin-top: 0;
}
.juloawrapper .btn-mini [class^="icon-"],
.juloawrapper .btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.juloawrapper .btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.juloawrapper .btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.juloawrapper .btn-block + .btn-block {
  margin-top: 5px;
}
.juloawrapper input[type="submit"].btn-block,
.juloawrapper input[type="reset"].btn-block,
.juloawrapper input[type="button"].btn-block {
  width: 100%;
}
.juloawrapper .btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.juloawrapper .btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.juloawrapper .btn-primary:hover,
.juloawrapper .btn-primary:focus,
.juloawrapper .btn-primary:active,
.juloawrapper .btn-primary.active,
.juloawrapper .btn-primary.disabled,
.juloawrapper .btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.juloawrapper .btn-primary:active,
.juloawrapper .btn-primary.active {
  background-color: #003399 \9;
}
.juloawrapper button.btn,
.juloawrapper input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
.juloawrapper button.btn::-moz-focus-inner,
.juloawrapper input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.juloawrapper button.btn.btn-large,
.juloawrapper input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
.juloawrapper button.btn.btn-small,
.juloawrapper input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
.juloawrapper button.btn.btn-mini,
.juloawrapper input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.juloawrapper .clearfix {
  *zoom: 1;
}
.juloawrapper .clearfix:before,
.juloawrapper .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.juloawrapper .clearfix:after {
  clear: both;
}
.juloawrapper .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.juloawrapper .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
.juloawrapper .hidden {
  display: none;
  visibility: hidden;
}
@media (min-width: 1200px) {
  .juloawrapper .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .juloawrapper .row:before,
  .juloawrapper .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .juloawrapper .row:after {
    clear: both;
  }
  .juloawrapper [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .juloawrapper .container {
    width: 1170px;
  }
  .juloawrapper .span12 {
    width: 1170px;
  }
  .juloawrapper .span11 {
    width: 1070px;
  }
  .juloawrapper .span10 {
    width: 970px;
  }
  .juloawrapper .span9 {
    width: 870px;
  }
  .juloawrapper .span8 {
    width: 770px;
  }
  .juloawrapper .span7 {
    width: 670px;
  }
  .juloawrapper .span6 {
    width: 570px;
  }
  .juloawrapper .span5 {
    width: 470px;
  }
  .juloawrapper .span4 {
    width: 370px;
  }
  .juloawrapper .span3 {
    width: 270px;
  }
  .juloawrapper .span2 {
    width: 170px;
  }
  .juloawrapper .span1 {
    width: 70px;
  }
  .juloawrapper .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .juloawrapper .row-fluid:before,
  .juloawrapper .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .juloawrapper .row-fluid:after {
    clear: both;
  }
  .juloawrapper .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .juloawrapper .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .juloawrapper .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
  }
  .juloawrapper .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .juloawrapper .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .juloawrapper .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .juloawrapper .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .juloawrapper .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .juloawrapper .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .juloawrapper .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .juloawrapper .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .juloawrapper .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .juloawrapper .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .juloawrapper .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .juloawrapper .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }
  .juloawrapper input,
  .juloawrapper textarea {
    margin-left: 0;
  }
  .juloawrapper .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
  }
  .juloawrapper input.span12,
  .juloawrapper textarea.span12 {
    width: 1156px;
  }
  .juloawrapper input.span11,
  .juloawrapper textarea.span11 {
    width: 1056px;
  }
  .juloawrapper input.span10,
  .juloawrapper textarea.span10 {
    width: 956px;
  }
  .juloawrapper input.span9,
  .juloawrapper textarea.span9 {
    width: 856px;
  }
  .juloawrapper input.span8,
  .juloawrapper textarea.span8 {
    width: 756px;
  }
  .juloawrapper input.span7,
  .juloawrapper textarea.span7 {
    width: 656px;
  }
  .juloawrapper input.span6,
  .juloawrapper textarea.span6 {
    width: 556px;
  }
  .juloawrapper input.span5,
  .juloawrapper textarea.span5 {
    width: 456px;
  }
  .juloawrapper input.span4,
  .juloawrapper textarea.span4 {
    width: 356px;
  }
  .juloawrapper input.span3,
  .juloawrapper textarea.span3 {
    width: 256px;
  }
  .juloawrapper input.span2,
  .juloawrapper textarea.span2 {
    width: 156px;
  }
  .juloawrapper input.span1,
  .juloawrapper textarea.span1 {
    width: 56px;
  }
  .juloawrapper .thumbnails {
    margin-left: -30px;
  }
  .juloawrapper .thumbnails > li {
    margin-left: 30px;
  }
  .juloawrapper .row-fluid .thumbnails {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .juloawrapper .row {
    margin-left: -20px;
    *zoom: 1;
  }
  .juloawrapper .row:before,
  .juloawrapper .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .juloawrapper .row:after {
    clear: both;
  }
  .juloawrapper [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .juloawrapper .container {
    width: 724px;
  }
  .juloawrapper .span12 {
    width: 724px;
  }
  .juloawrapper .span11 {
    width: 662px;
  }
  .juloawrapper .span10 {
    width: 600px;
  }
  .juloawrapper .span9 {
    width: 538px;
  }
  .juloawrapper .span8 {
    width: 476px;
  }
  .juloawrapper .span7 {
    width: 414px;
  }
  .juloawrapper .span6 {
    width: 352px;
  }
  .juloawrapper .span5 {
    width: 290px;
  }
  .juloawrapper .span4 {
    width: 228px;
  }
  .juloawrapper .span3 {
    width: 166px;
  }
  .juloawrapper .span2 {
    width: 104px;
  }
  .juloawrapper .span1 {
    width: 42px;
  }
  .juloawrapper .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .juloawrapper .row-fluid:before,
  .juloawrapper .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .juloawrapper .row-fluid:after {
    clear: both;
  }
  .juloawrapper .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .juloawrapper .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .juloawrapper .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.7624309392265194%;
  }
  .juloawrapper .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .juloawrapper .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }
  .juloawrapper .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }
  .juloawrapper .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }
  .juloawrapper .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }
  .juloawrapper .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }
  .juloawrapper .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }
  .juloawrapper .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }
  .juloawrapper .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
  .juloawrapper .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }
  .juloawrapper .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }
  .juloawrapper .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }
  .juloawrapper input,
  .juloawrapper textarea {
    margin-left: 0;
  }
  .juloawrapper .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
  }
  .juloawrapper input.span12,
  .juloawrapper textarea.span12 {
    width: 710px;
  }
  .juloawrapper input.span11,
  .juloawrapper textarea.span11 {
    width: 648px;
  }
  .juloawrapper input.span10,
  .juloawrapper textarea.span10 {
    width: 586px;
  }
  .juloawrapper input.span9,
  .juloawrapper textarea.span9 {
    width: 524px;
  }
  .juloawrapper input.span8,
  .juloawrapper textarea.span8 {
    width: 462px;
  }
  .juloawrapper input.span7,
  .juloawrapper textarea.span7 {
    width: 400px;
  }
  .juloawrapper input.span6,
  .juloawrapper textarea.span6 {
    width: 338px;
  }
  .juloawrapper input.span5,
  .juloawrapper textarea.span5 {
    width: 276px;
  }
  .juloawrapper input.span4,
  .juloawrapper textarea.span4 {
    width: 214px;
  }
  .juloawrapper input.span3,
  .juloawrapper textarea.span3 {
    width: 152px;
  }
  .juloawrapper input.span2,
  .juloawrapper textarea.span2 {
    width: 90px;
  }
  .juloawrapper input.span1,
  .juloawrapper textarea.span1 {
    width: 28px;
  }
}
@media (max-width: 767px) {
  .juloawrapper .container-fluid {
    padding: 0;
  }
  .juloawrapper .dl-horizontal dt {
    float: none;
    width: auto;
    clear: none;
    text-align: left;
  }
  .juloawrapper .dl-horizontal dd {
    margin-left: 0;
  }
  .juloawrapper .container {
    width: auto;
  }
  .juloawrapper .row-fluid {
    width: 100%;
  }
  .juloawrapper .row,
  .juloawrapper .thumbnails {
    margin-left: 0;
  }
  .juloawrapper .thumbnails > li {
    float: none;
    margin-left: 0;
  }
  .juloawrapper [class*="span"],
  .juloawrapper .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .juloawrapper .span12,
  .juloawrapper .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .juloawrapper .input-large,
  .juloawrapper .input-xlarge,
  .juloawrapper .input-xxlarge,
  .juloawrapper input[class*="span"],
  .juloawrapper select[class*="span"],
  .juloawrapper textarea[class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .juloawrapper .input-prepend input,
  .juloawrapper .input-append input,
  .juloawrapper .input-prepend input[class*="span"],
  .juloawrapper .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .juloawrapper .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .juloawrapper input[type="checkbox"],
  .juloawrapper input[type="radio"] {
    border: 1px solid #ccc;
  }
  .juloawrapper .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }
  .juloawrapper .form-horizontal .controls {
    margin-left: 0;
  }
  .juloawrapper .form-horizontal .control-list {
    padding-top: 0;
  }
  .juloawrapper .form-horizontal .form-actions {
    padding-right: 10px;
    padding-left: 10px;
  }
}
