/**
 * @copyright   Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

.sidebyside .outer-panel {
	float: left;
	width: 50%;
}

.sidebyside #left-panel .inner-panel {
	padding: 0 10px 0 0;
}

.sidebyside #right-panel .inner-panel {
	padding: 0 0 0 10px;
}

.sidebyside .full-width {
	float: none !important;
	width: 100% !important;
}

.sidebyside .full-width .inner-panel {
	padding: 0 !important;
}

#reference-association, #target-association {
	width: 100%;
	height: 1500px;
	overflow-y: auto;
	border: 0 !important;
}

.target-text {
	float: left;
	width: 30%;
}

/* RTL overrides */
html[dir=rtl] .sidebyside .outer-panel {
	float: right;
}

html[dir=rtl] .sidebyside #left-panel .inner-panel {
	padding: 0 0 0 10px;
}

html[dir=rtl] .sidebyside #right-panel .inner-panel {
	padding: 0 10px 0 0;
}

html[dir=rtl] .sidebyside .full-width .inner-panel {
	padding: 0 !important;
}

html[dir=rtl] .target-text {
	float: right;
}

/* Responsive layout */
@media (max-width: 767px) {
	.sidebyside .outer-panel {
		float: none;
		width: 100%;
	}

	.sidebyside #left-panel .inner-panel {
		padding: 0;
	}

	.sidebyside #right-panel .inner-panel {
		padding: 0;
	}
}
