/**
 * @version    3.6.x
 * @package    Simple Image Gallery Pro
 * @author     JoomlaWorks - https://www.joomlaworks.net
 * @copyright  Copyright (c) 2006 - 2018 JoomlaWorks Ltd. All rights reserved.
 * @license    https://www.joomlaworks.net/license
 */

.sigProEditorButton {background:url(../../../../administrator/components/com_sigpro/images/xtd-sig-icon.png) 100% 0 no-repeat;}
.icon-sigProEditorButton {background:url(../../../../administrator/components/com_sigpro/images/sigpro-icon.png) 0 0 no-repeat;height:16px !important;width:16px !important;line-height:16px !important;position:relative;top:3px;}
